﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
	background: #f3f3f3;
}
/*login only*/
.fullimg {
	background: url(../images/img/login-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	padding-top: 6%;/*   height: 100%;*/
}
.modal-footer {
	text-align: center;
}
.modal-footer .btn, .modal-body button.btn.btn-primary, .modal-body button.btn.btn-info {
	min-width: 80px;
}
.form-control {
	outline: none !important;
}
.thub-list button.btn.btn-primary {
	margin: 0px;
	padding: 7px;
}
a {
	cursor: pointer;
}
}
.container-fluid.loginbg {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
#loginbox {
	margin-top: 30px;
}
#loginbox > div:first-child {
	padding-bottom: 10px;
	box-shadow: none;
}
.iconmelon {
	display: block;
	margin: auto;
}
.loginbg .forms > div {
	margin-bottom: 10px;
}
.forms > div:last-child {
	margin-top: 10px;
	margin-bottom: 10px;
}
.panel {
	background-color: transparent;
}
img.logo {
	max-width: 199px;
}
 .loginbg ::-webkit-input-placeholder {
 color: #000;
 font-family: 'Open Sans', sans-serif;
}
 .loginbg :-moz-placeholder { /* Firefox 18- */
 color: #000;
 font-family: 'Open Sans', sans-serif;
}
 .loginbg ::-moz-placeholder { /* Firefox 19+ */
 color: #000;
 font-family: 'Open Sans', sans-serif;
}
 .loginbg :-ms-input-placeholder {
 color: #343434;
 font-family: 'Open Sans', sans-serif;
}
.loginbg .form-control {
	border: solid 1px #4c9ed5;
	border-left: none;
	border-radius: 8px;
	padding: 0px 4px;
	height: 37px;
}
.loginbg .input-group-addon {
	background: #fff;
	border: solid 1px #4c9ed5;
	border-right: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.loginbg .input {
	border: solid 1px #4c9ed5;
	background: #fff;
	color: #343434;
	border-left: none;
}
.loginbg .panel-default {
	border: none;
}
.loginbg .checkbox label, .radio label {
/*line-height: 25px;*/
}
.loginbg .checkbox.pull-left input {
	margin-top: 1px;
	width: 17px;
	height: 17px;
}
.loginbg .panel-default > .panel-heading {
	border: none;
	background: transparent;
}
.loginbg .panel-body {
	padding-top: 30px;
	background-color: transparent;
}
.loginbg a {
	color: #02426e;
}
#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}
.iconmelon, .im {
	position: relative;
	width: 150px;
	height: 150px;
	display: block;
	fill: #525151;
}
.iconmelon:after, .im:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.loginbg .btn-log {
	background: rgba(1,119,198,1);
	background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	color: #fff;
	font-size: 15px;
	border: none;
	padding: 5px 18px!important;
	font-weight: 300;
}
.btn-file input {
	background: #dcdcdc;
	width: 100%;
	color: #292929;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 3px;
}
/*login end*/
/*header start*/
/*navbar start*/
.navbar {
	border: 0 none;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	font-size: 14px;
}
.navbar-default {
	background-color: #D9D9D9;
}
.navbar .navbar-brand {
	font-weight: 600;
	margin-top: 13px;
	margin-bottom: 13px;
	font-size: 20px;
	min-width: 160px;
}
.navbar-nav > li > a {
	margin: 6px 3px;
	padding: 6px 7px;
	text-align: center;
	min-width: 70px;
}
.navbar-nav > li > a [class^="fa"] {
	font-size: 18px;
}
.navbar-brand {
	padding: 20px 15px;
}
.navbar .navbar-nav [class^="pe"] {
	font-size: 32px;
	position: relative;
}
nav.navbar.navbar-ct-blue.navbar-transparent {
	margin: 0px;
}
.navbar .btn {
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
	background-color: rgba(255, 255, 255, 0.96);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
	background-color: #fff;
	border-top: 5px solid #b7b7b7;
	box-shadow: 1px 1px 7px #ccc;
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand {
	color: #FFFFFF;
	opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
	background-color: rgba(0, 0, 0, 0);
	color: #5E5E5E;
}
.navbar-transparent .nav .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a { /*color: #FFFFFF;*/
	border-color: #FFFFFF;
	text-align: center;
}
.navbar-transparent .navbar-nav > li > a {
	color: #737373;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: rgba(43, 43, 43, 0.1);
	border-radius: 4px;
	color: #555555;
	opacity: 1;
}
.example.dataTable.table thead tr th {
	padding: 8px 8px 0 8px;
}
.example.dataTable.table thead tr th {
	min-width: 70px;
	background: #238fca;
	/*border: #238fca solid 1px;*/
	border-right: #61ACD2 solid 1px;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #2C93FF;
	border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(255, 255, 255, 0);
	color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover {
	background: #395684 !important;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus { /*background-color: rgba(255, 255, 255, 0.2);*/
	border-radius: 4px;
	color: #FFFFFF;
	opacity: 1;
	background-color: #0169b0;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
	background-color: rgba(255, 255, 255, 0);
	color: #FFFFFF;
	opacity: 1;
}
.navbar .label {
	background-color: #FF4C40;
	position: absolute;
	right: -10px;
	top: 0px;
	font-size: 10px;
	text-shadow: none;
}
[class*="navbar-ct"] .label {
	background-color: #FFFFFF;
	color: #FF4C40;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover {
	color: #2C93FF;
	border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill {
	color: #777777;
	background-color: #FFFFFF;
	opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default {
	border-color: #FFFFFF;
	opacity: 1;
}
.navbar-form {
	box-shadow: none;
}
.navbar-form .form-control {
	background-color: rgba(244, 244, 244, 0);
	border-radius: 0;
	border: 0;
	height: 22px;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control {
	color: #FFFFFF;
	border: 0; /*  border-bottom: 1px solid rgba(255,255,255,.6); */
}
.navbar:not(.navbar-transparent).navbar-ct-blue {
	background-color: #34ACDC; /*background-color: rgba(52, 172, 220, 0.98);*/
	background: #fff;
	box-shadow: 1px 1px 4px #ccc;
	box-shadow: 1px 1px 7px #ccc;
}
.navbar:not(.navbar-transparent).navbar-ct-azzure {
	background-color: #5BCAFF;
	background-color: rgba(91, 203, 255, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-green {
	background-color: #4cd964;
	background-color: rgba(76, 217, 98, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-orange {
	background-color: #FF9500;
	background-color: rgba(255, 152, 0, 0.97);
}
.navbar:not(.navbar-transparent).navbar-ct-red {
	background-color: #FF4C40;
	background-color: rgba(255, 76, 64, 0.98);
}
.dropdown-menu > li > a {
	padding: 8px 20px;
	color: #fff;
}
.diff .dropdown-menu {
	margin-top: 12px;
}
.diff.open>.dropdown-toggle.btn-default:focus, .diff.open>.dropdown-toggle.btn-default:hover {
	background: transparent!important;
	border: solid 1px #ccc;
	maring: 0px;
	padding: 4px;
}
.diff.open>.dropdown-toggle.btn-default, .diff .dropdown-toggle.btn-default {
	maring: 0px;
	padding: 4px;
}
.diff .dropdown-menu > li > a:hover {
	background: #f1f1f1;
	color: #000!important
}
.diff .dropdown-menu > li > a, .diff .dropdown-menu > li > a:last-child {
	color: #999;
	border-radius: 0;
}
/*.diff.open> .dropdown-menu{  left:-100px}
.diff .dropdown-menu {min-width:40px!important; padding:0px}
.diff .dropdown-menu a{padding:5px 4px ; border-bottom:solid 1px #ccc}*/

.dropdown-menu > li:first-child > a {
	border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a {
	border-bottom: 0 none;
	border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #0169B0;
	color: #fff;
	opacity: 1;
	text-decoration: none;
}
.navbar-toggle {
	margin-bottom: 27px;
	margin-top: 27px;
	border: 0;
}
.navbar-toggle .icon-bar {
	background-color: #0169B0;
}
.navbar-collapse, .navbar-form {
	border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(0,0,0,0);
}
.navbar-brand-logo {
	padding: 0;
}
.navbar-brand-logo .logo { /*  border: 1px solid #333333; border-radius: 50%;*/
	float: left;
	overflow: hidden; /* width: 60px;*/
	color: #0167ad;
	font-size: 25px;
	font-weight: 300;
	line-height: 24px;
	padding-left: 18px;
}
.navbar-brand-logo .logo img {
	max-width: 160px;
	max-height: 60px;
}
.navbar .navbar-brand-logo .brand {
	color: #FFFFFF;
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;
}
.navbar-default .navbar-brand-logo .brand {
	color: #555;
}

@media (min-width: 768px) {
 . .navbar-collapse, .navbar-form {
 border-color: rgba(0, 0, 0, 0);
}
.navbar-form {
	margin-bottom: 31px;
	margin-top: 31px;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-search-form {
	display: none;
}
.navbar-nav > li > .dropdown-menu {
	display: block;
	padding: 0;
	z-index: 9000;
	position: absolute;
	-webkit-border-radius: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	-webkit-filter: alpha(opacity=0);
	-moz-filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
	-o-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.navbar-nav > li.open > .dropdown-menu {
	-webkit-transform-origin: 29px -50px;
	-moz-transform-origin: 29px -50px;
	-o-transform-origin: 29px -50px;
	-ms-transform-origin: 29px -50px;
	transform-origin: 29px -50px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-ms-filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	background: #3387BF;
}
.dropdown-menu:before {
	border-bottom: 11px solid rgba(0, 0, 0, 0.2);
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 15px;
	top: -11px;
}
.dropdown-menu:after {
	border-bottom: 11px solid #3387BF;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 15px;
	top: -10px;
}
.diff .dropdown-menu:before {
	border-bottom: 11px solid #ccc;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 12px;
	top: -11px;
	width: 15px;
}
.diff .dropdown-menu:after {
	border-bottom: 11px solid #fff;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 12px;
	top: -10px;
	width: 15px;
}
}

@media (max-width: 768px) { /* .navbar-transparent{  padding-top: 15px;  background-color: rgba(0, 0, 0, 0.45); } */
.fullimg {
	background: rgba(107,196,255,1);
	background: -moz-linear-gradient(top, rgba(107,196,255,1) 0%, rgba(84,144,184,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,196,255,1)), color-stop(100%, rgba(84,144,184,1)));
	background: -webkit-linear-gradient(top, rgba(107,196,255,1) 0%, rgba(84,144,184,1) 100%);
	background: -o-linear-gradient(top, rgba(107,196,255,1) 0%, rgba(84,144,184,1) 100%);
	background: -ms-linear-gradient(top, rgba(107,196,255,1) 0%, rgba(84,144,184,1) 100%);
	background: linear-gradient(to bottom, rgba(107,196,255,1) 0%, rgba(84,144,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc4ff', endColorstr='#5490b8', GradientType=0 );
}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover, .navbar-transparent .dropdown-menu > li > a:focus, [class*="navbar-ct"] .dropdown-menu > li > a:hover, [class*="navbar-ct"] .dropdown-menu > li > a:focus {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0);
	opacity: 1;
}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
	color: #FFFFFF;
	opacity: 0.8;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: rgba(0,0,0,0);
	border-color: #428BCA;
}
.navbar-collapse {
	text-align: center;
}
.navbar-collapse .navbar-form {
	width: 170px;
	margin: 0 auto;
}
}
.blurred-container {
	position: relative;
	width: 100%;
	height: 540px;
	top: 0;
	left: 0;
}
.blurred-container > .img-src {
	position: fixed;
	width: 100%;
	height: 540px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: centercenter;
}
.blur {
	opacity: 0;
}

@media(max-width:991px) {
.img-src { /*background-size:100%;background-position:top;*/
}
}
h4 {
	line-height: 1.4em;
}
.space-200 {
	height: 200px;
}
/*navbar End*/
.navbar-nav > li > a {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.navbar-nav > li > a .users {
	background: url(../images/img/users.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a .assets {
	background: url(../images/img/assets.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a .campaigns {
	background: url(../images/img/campaigns.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a:hover > .users, .navbar-nav > li > a:focus > .users, .navbar-nav > li.active .users {
	background: url(../images/img/users-h.png) center bottom no-repeat;
}
.navbar-nav > li > a:hover > .assets, .navbar-nav > li > a:focus > .assets, .navbar-nav > li.active .assets {
	background: url(../images/img/assets-h.png) center bottom no-repeat;
}
.navbar-nav > li > a:hover > .campaigns, .navbar-nav > li > a:focus > .campaigns, .navbar-nav > li.active .campaigns {
	background: url(../images/img/campaigns-h.png) center bottom no-repeat;
}
.picture li.dropdown > a, .picture li.dropdown > a:focus, .picture li.dropdown > a:hover {
	background: #0169b0 !important;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	font-size: 12px;
	color: #F1F1F1;
	padding: 8px 6px;
	min-width: 187px;
}
.picture li.dropdown > a p {
	display: block;
	font-size: 14px;
	color: #FFF;
	marign: 0px;
	padding: 0px;
	line-height: 10px;
	font-weight: 300;
}
.picture li.dropdown a > div {
	line-height: 8px;
}
img.profile-pic {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	float: right;
	border: solid 2px #fff;
	position: relative;
	z-index: 10;
	top: -5px;
}
ul.pull-right.nav.navbar-nav.picture {
	margin: 17px 0;
}
.row.breadcumb {
	background-color: #fff;
}
/*header end*/

.row.breadcumb {
	background-color: #fff;
	padding: 5px 0px;
}
.welcometxt {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	background: #046bb1;
	line-height: 25px;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 4px;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 4px;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}
/** The Spacing **/
.btn-breadcrumb .btn {
	padding: 6px 12px 6px 26px;
}
.row.breadcumb .btn-breadcrumb .btn:focus, .row.breadcumb .btn-breadcrumb .btn:hover, .row.breadcumb .btn-breadcrumb .btn:active {
	background: transparent;
	border: transparent;
	box-shadow: none;
	padding-top: 7px;
	padding-left: 27px;
}
.row.breadcumb .btn-breadcrumb.btn-default:active:hover, .row.breadcumb .btn-breadcrumb.btn-default:active:focus {
	background: transparent;
	border: transparent;
	box-shadow: none;
}
/*start chart*/
.maincontent {
	margin: 15px 0;
}
.maincontent .main {
	background: #fff;
	padding: 15px;
}
.maincontent .main .bdr {
	border: solid 1px #cccccc;
	padding: 5px;
	margin-bottom: 25px;
}
.pnl .list-group .count {
	font-size: 20px;
	font-weight: 400;
}
.pnl .list-group .name {
	font-size: 15px;
	font-weight: 300;
}
.pnl .panel > .list-group .col-sm-2 {
	padding: 15px;
	border-right: solid 1px #ccc;
}
.pnl .panel > .list-group .list-group-item {
	padding: 0px;
	margin-top: 4px;
	border: solid 1px #ccc;
}
.pnl .panel > .list-group .list-group-item:hover {
	background: rgba(1, 105, 176, 0.12);
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
}
.pnl .panel > .list-group .list-group-item:first-child {
	border-top: solid 1px #ccc;
}
.pnl .panel > .list-group .list-group-item:last-child {
	border-bottom: solid 1px #ccc;
}
.pnl .panel-default {
	border: none;
}
.pnl h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 12px 0;
}
table.table.assetslist {
	font-size: 13px;
}
table.table.assetslist tr th {
	color: #000;
	background: #e9e9e9;
}
table.table.assetslist tr {
	border: solid 1px #e9e9e9;
	background: #fbfbfb;
	color: #767676;
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 1s;
}
table.table.assetslist a {
	color: #0169b0;
	text-decoration: none;
}
table.table.assetslist tr:hover {
	background: #fff;
}
table.table.assetslist tr:hover a {
	color: #000;
}
footer {
	background: #b7b7b7;
	color: #000;
	text-align: center;
	padding: 8px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 99;
}

@media (max-width: 768px) {
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
	background: #0169B0;
}
.dropdown.open > .dropdown-menu:before {
	border-bottom: 11px solid rgb(51, 135, 191);
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 19px;
	top: 44px;
}
.diff.open > .dropdown-menu:before {
	border-bottom: 11px solid #ccc;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 12px;
	top: -11px;
	width: 15px;
}
.diff.open > .dropdown-menu:after {
	border-bottom: 11px solid #fff;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 12px;
	top: -10px;
	width: 15px;
}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover {
	background: #0169B0;
	color: #FFF;
}
}
/*end chart*/
/*data table*/
div#table-footer {
	display: none;
}
.btn-log:hover {
	background: #024C7E;
}
.btn-log {
	background: rgba(1,119,198,1);
	/* background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
    background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
    background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );*/
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 1px 7px 4px 7px !important;
	font-weight: 300;
}
.btn-log-sm {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 4px 6px !important;
}
.clintlist {
	margin: 12px 0px;
}
.clintlist .main h2 {
	font-size: 21px;
	font-weight: 400;
	color: #003b63;
	margin-right: 15px;
}
.clintlist .main form.searchbx {
	margin: 15px 0;
	padding: 0px;
}
/*.searchbx {
	margin: 15px 0;
	padding: 0px;
}*/
.clintlist .main form.searchbx input {
	border-radius: 8px;
	border: solid 1px #3e8ec5;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	background: url(../images/img/magnifier.png) no-repeat center right;
	background-color: #fff;
}
/*i.img-rnd { 
    height: 37px;
    border-radius: 50%;
    float: right;
    background: #fff;
    border: solid 1px #003b63;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    position: relative;
    z-index: 500;
    margin: 10px;
}*/

a, a:focus {
	outline: none;
}
i.img-rnd {
	border-radius: 8px;
	float: right;
	background: #fff;
	border: solid 1px #0169B0;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 3px 6px;
	position: relative;
	/*   z-index: 500;*/
	margin: 19px;
	font-size: 13px;
	line-height: 15px;
	font-style: normal;
}
i.img-rnd a {
	text-decoration: none;
}
i.img-rnd img {
	margin: 0 4px;
	padding: 2px;
}
i.img-rnd:hover {
	background: white;
}
.clintlist .bdt {
	background: #fff;
}
.clintlist span.sort-element {
	/*border-bottom: solid 3px #fff;
	float: left;*/
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	/*padding: 5px 0;*/
	min-height: 30px;
	padding: 0 3px;
}
.clintlist .bdt thead th {
	padding: 4px 4px 0px 4px; /*data table end*/
}
.clintlist .bdt thead th {
	border-bottom: solid 1px #238FCA;
}
.bdt .imgs {
	display: table-cell;
	font-size: 1rem;
	vertical-align: middle;
	text-align: center;
	height: 60px;
	width: 70px;
	border-radius: 8px;
	padding: 4px;
	background: #ECECEC;
	-moz-border-radius: 10em;
}
.bdt .imgs img.pfp {
	max-width: 54px;
	max-height: 54px;
	box-shadow: 10px #000;
}
.imgs.round {
	border-radius: 50%;
	background: transparent;
}
.imgs.round img {
	border-radius: 50%;
	border: solid 3px #fff;
	box-shadow: 0px 0px 4px 1px #ccc;
}
.clintlist .bdt .sort-icon {
	padding: 10px;
}
.clintlist .bdt td:first-child,   .clintlist .bdt td:last-child /*, .example.dataTable tbody td:first-child*/ {
	text-align: center;/*width: 10%;*/
}
.cmplist {
	margin: 12px 0px;
}
.cmplist .main h2 {
	font-size: 21px;
	font-weight: 400;
	color: #003b63;
	margin-right: 15px;
}
.cmplist .main form.searchbx {
	margin: 15px 0;
	padding: 0px;
}
.cmplist .main form.searchbx input, .dataTables_filter .form-control.input, .searchattach {
	border-radius: 8px;
	border: solid 1px #3e8ec5;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	background: url(../images/img/magnifier.png) no-repeat center right;
	background-color: #fff;
	width: 100%;
}
/*i.img-rnd {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    float: right;
    background: #fff;
    border: solid 1px #003b63;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    position: relative;
    z-index: 500;
    margin: 10px;
}*/

.example {
/*word-break: break-all;*/
}
.cmplist .bdt, .container .example.dataTable {
	background: #fff;
}
.cmplist .bdt td {
	line-height: 22px;
	padding: 16px 8px;
}
.cmplist span.sort-element {
	/*	border-bottom: solid 3px #505050;*/
	/*float: left;*/
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	/*padding: 5px 0;*/
	min-height: 30px;
	padding: 0px 6px;
}
.cmplist .bdt thead th {
	padding: 4px 4px 0px 4px; /*data table end*/
}
.cmplist .bdt thead th {
	border-bottom: solid 1px #238FCA;
}
.cmplist .bdt .sort-icon {
	padding: 10px;
}
/*.cmplist .bdt td:first-child,  .cmplist .bdt td:last-child {
	text-align: center;
	width: 5%;
}*/
.modelform .col-sm-9 {
	margin-left: -12px;
	padding-left: 0px;
}
.modelform .col-sm-9 input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
.modelform .col-sm-9 .btn-file input[type=file] {
	text-align: right;
	background: gray;
	cursor: inherit;
	display: block;
	color: #fff;
}
table.bdt tr, table.example tbody tr {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
table.bdt tbody tr:hover, table.example tbody tr:hover {
	background: #f4f4f4;
}
/*View Profile*/


.card.dd {
	background: #fff;
}
.card {
	padding-top: 20px;
	margin: 10px 0 20px 0;
	background-color: #ebebeb;
	border-top-width: 0;
	border-bottom-width: 2px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card .card-heading {
	padding: 0 20px;
	margin: 0;
}
.card .card-heading.simple {
	font-size: 20px;
	font-weight: 300;
	color: #777;
	border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 15px;
	vertical-align: top;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
	display: inline-block;
	vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
}
.card .card-heading.image .card-heading-header span {
	font-size: 12px;
	color: #999999;
}
.card .card-body {
	padding: 0 20px;
	margin-top: 20px;
}
.card .card-media {
	padding: 0 20px;
	margin: 0 -14px;
}
.card .card-media img {
	max-width: 100%;
	max-height: 100%;
}
.card .card-actions {
	min-height: 30px;
	padding: 0 20px 20px 20px;
	margin: 20px 0 0 0;
}
.card .card-comments {
	padding: 20px;
	margin: 0;
	background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
	padding: 0;
	margin: 0 20px 12px 20px;
}
/*table.dataTable thead .sorting:first-child:after {
	display: none;
}*/
.dataTables_wrapper .col-sm-6.pull-rigth {
	display: none;
}
.card .card-comments .comments-collapse-toggle a, .card .card-comments .comments-collapse-toggle span {
	padding-right: 5px;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card-comments .media-heading {
	font-size: 13px;
	font-weight: bold;
}
.card.people {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 300px;
	padding-top: 0;
	margin-left: 20px;
	overflow: hidden;
	vertical-align: top;
}
.card.people:first-child {
	margin-left: 0;
}
.card.people .card-top {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 170px;
	height: 150px;
	background-color: #ffffff;
}
.card.people .card-top.green {
	background-color: #53a93f;
}
.card.people .card-top.blue {
	background-color: #427fed;
}
.card.people .card-info {
	position: absolute;
	top: 150px;
	display: inline-block;
	width: 100%;
	height: 101px;
	overflow: hidden;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card.people .card-info .title {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #404040;
}
.card.people .card-info .desc {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	color: #737373;
	text-overflow: ellipsis;
}
 1.card.people .card-bottom {
 position: absolute;
 bottom: 0;
 left: 0;
 display: inline-block;
 width: 100%;
 padding: 10px 20px;
 line-height: 29px;
 text-align: center;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
.card.hovercard {
	position: relative;
	padding: 0px;
	overflow: hidden;
	text-align: center; /*background-color: rgba(214, 224, 226, 0.2);*/
}
.card.hovercard .cardheader {
	background: rgba(1,119,198,1);
	background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	height: 135px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.card.hovercard .avatar {
	position: relative;
	top: -110px;
	margin-bottom: -91px;
}
.card.hovercard .avatar.dnd {
	position: relative;
	top: -110px;
	margin-bottom: -132px;
}
.card.hovercard .avatar img {
	width: 140px;
	height: 140px;
	max-width: 140px;
	max-height: 140px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 1px 6px 10px #999;
}
.card.hovercard .info {
	padding: 4px 8px 10px;
}
.card.hovercard.size {
	border: solid 1px #ccc;
	height: 343px;
}
.card.hovercard.size .txname {
	margin-bottom: -23px
}
.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 1;
	color: #0169b0;
	vertical-align: middle;
}
.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 13px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}
.card.hovercard .bottom {
	padding: 0 20px;
	margin-bottom: 17px;
}
#ViewDetail .modal-dialog .table > tbody > tr > td {
	vertical-align: middle;
	padding: 4px;
	line-height: 15px;
}
.card.hovercard.oflow {
	height: 343px;
	overflow: hidden;
	overflow-y: scroll;
	border: solid 1px #ccc;
}
.avatar.proPic {
	text-align: center;
	height: 145px
}
.avatar.proPic img {
	width: 140px;
	height: 140px;
	max-width: 140px;
	max-height: 140px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 1px 6px 10px #999;
}

@media (min-width:768px) {
#ViewDetail .modal-dialog, #ViewCampaigns .modal-dialog {
	width: 60%;
	padding: 0 20px;
}
/*View Profile*/
}

/*table responsive */ @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */
table.table-hover.bdt, .table-hover.bdt thead, .table-hover.bdt tbody, .table-hover.bdt th, .table-hover.bdt td, .table-hover.bdt tr {
	display: block;
}
.table-hover.bdt tr td:first-child {
	border: none;
}
.modelform .col-sm-9 {
	padding: 0 20px;
}
/* Hide table headers (but not display: none;, for accessibility) */
.table-hover.bdt thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.table-hover.bdt tr {
	border: 1px solid #ccc;
}
.table-hover.bdt td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
}
.table-hover.bdt td:hover {
	background: #ccc;
	color: #000;
}
.table-hover.bdt td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 15px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 600;
}
/*
		Label the data
		*/
    /*.table-hover.bdt td:nth-of-type(1):before { content: "Icon";  }*/
.table-hover.clienttbl.bdt td:nth-of-type(1):before {
	content: "Company";
}
.table-hover.clienttbl.bdt td:nth-of-type(2):before {
	content: "Address";
}
.table-hover.clienttbl.bdt td:nth-of-type(3):before {
	content: "Main Contact";
}
.table-hover.clienttbl.bdt td:nth-of-type(4):before {
	content: "Phone";
}
.table-hover.clienttbl.bdt td:nth-of-type(5):before {
	content: "Email";
}
.table-hover.clienttbl.bdt td:nth-of-type(6):before {
	content: "Account Manager";
}
.table-hover.clienttbl.bdt td:nth-of-type(7):before {
	content: "Status";
}
.table-hover.clienttbl.bdt td:nth-of-type(8):before {
	content: "Action";
}
.table-hover.campaigntbl.bdt td:nth-of-type(1):before {
	content: "Campaign Type";
}
.table-hover.campaigntbl.bdt td:nth-of-type(2):before {
	content: "Campaign Name";
}
.table-hover.campaigntbl.bdt td:nth-of-type(3):before {
	content: "Campaign Code";
}
.table-hover.campaigntbl.bdt td:nth-of-type(4):before {
	content: "Campaign Timeframe";
}
.table-hover.campaigntbl.bdt td:nth-of-type(5):before {
	content: "Contacts";
}
.table-hover.campaigntbl.bdt td:nth-of-type(6):before {
	content: "Action";
}
/*.table-hover.campaigntbl.bdt td:nth-of-type(7):before {
	content: "Action";
}*/

.table-hover.listcontact.bdt td:nth-of-type(1):before {
	content: "Full Name";
}
.table-hover.listcontact.bdt td:nth-of-type(2):before {
	content: "Title";
}
.table-hover.listcontact.bdt td:nth-of-type(3):before {
	content: "Phone";
}
.table-hover.listcontact.bdt td:nth-of-type(4):before {
	content: "Email";
}
.table-hover.listcontact.bdt td:nth-of-type(5):before {
	content: "Company Name";
}
.table-hover.listcontact.bdt td:nth-of-type(6):before {
	content: "Note";
}
.table-hover.listcontact.bdt td:nth-of-type(7):before {
	content: "Action";
}
.table-hover.usertbl.bdt td:nth-of-type(1):before {
	content: "Name";
}
.table-hover.usertbl.bdt td:nth-of-type(2):before {
	content: "Phone";
}
.table-hover.usertbl.bdt td:nth-of-type(3):before {
	content: "Email";
}
.table-hover.usertbl.bdt td:nth-of-type(4):before {
	content: "Role";
}
.table-hover.usertbl.bdt td:nth-of-type(5):before {
	content: "Status";
}
.table-hover.usertbl.bdt td:nth-of-type(6):before {
	content: "Action";
}
/*.table-hover.listviewcampaign.bdt td:nth-of-type(1):before {
	content: "Full Name";
}*/
.table-hover.listviewcampaign.bdt td:nth-of-type(2):before {
	content: "Title";
}
.table-hover.listviewcampaign.bdt td:nth-of-type(3):before {
	content: "Contact No";
}
.table-hover.listviewcampaign.bdt td:nth-of-type(4):before {
	content: "Email";
}
.table-hover.listviewcampaign.bdt td:nth-of-type(5):before {
	content: "Company Name";
}
.table-hover.listviewcampaign.bdt td:nth-of-type(6):before {
	content: "Notes";
}
.table-hover.listviewcampaign.bdt td:nth-of-type(7):before {
	content: "Action";
}
}
/*table responsive end*/
/*.oflow.sep .table thead tr { width:87%;position: fixed;background-color: #CECECE;z-index:555;}*/
.oflow.sep thead th:first-child {
	width: 10% !important;
}
.oflow.sep tbody td:first-child {
	width: 10% !important;
}
.oflow.sep .table thead th, .oflow .table tbody td {
	width: 400px;
}
/*.oflow.sep .table tbody td{ width:400px; position:relative;top:40px; padding:5px  }*/
.oflow.sep .table tbody tr td {
	border: none;
	border: solid 1px #ccc;
}
.oflow.sep .checkbox {
	margin: 0px;
	padding: 0px;
}
.oflow .table-hover thead {
	background: #999;
}
.oflow .table-hover thead {
	background: #999;
	line-height: 36px; /* position: fixed; */
}
.register .modal-dialog {
	width: 75%;
}
.register .modal-dialog fieldset, .fieldsets {
	min-width: 0;
	margin: 0;
	border: 0;
	border: solid 1px #ccc;
	padding: 0 10px;
	border-radius: 20px;
	background: #F9F9F9;
	margin-bottom: 15px;
}
.register .modal-dialog legend, .fieldsets legend {
	font-size: 16px;
	background: transparent;
	margin: 15px;
	border-radius: 7px;
	padding: 2px 6px !important;
	box-shadow: none !important;
	border-bottom: none;
}
.fst fieldset strong {
	color: #000;
	position: relative;
	top: -1px;
	line-height: 13px;
	font-weight: 300;
	margin: 8px;
	font-size: 13px;
}
.fst fieldset strong input[type="checkbox"] {
	width: 18px;
	height: 16px;
	padding: 18px;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 4px;
}
.form-group .btn-file {
	min-height: 27px;
}
/*datatable*/
table.dataTable {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
}
table.dataTable td, table.dataTable th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
	white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
	width: 75px;
	display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
	/*text-align: right*/
	text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}
div.dataTables_wrapper div.dataTables_filter label.ful {
	width: 50%;
}
.card div.dataTables_wrapper div.dataTables_filter label.ful {
	width: 80%;
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto;
}
.card.hovercard .example.dataTable.table thead tr th {
	padding: 11px;
	color: #fff;
	font-weight: 300;
}
div.dataTables_wrapper div.dataTables_info {
	padding-top: 8px;
	white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	border: solid 1px #0169B0;
}
table.dataTable thead > tr > th, table.dataTable thead > tr > td {
	padding-right: 30px;
}
table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
	outline: none;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
	/*position: absolute;
	bottom: 10px;
	right: 8px;
	display: block;*/
	font-family: 'Glyphicons Halflings';
	color: #fff;
	font-weight: 100;
}
table.dataTable thead .sorting:after {
	opacity: 0.2;
	content: "\e150";
}
table.dataTable thead .sorting_asc:after {
	content: "\e155";
}
table.dataTable thead .sorting_desc:after {
	content: "\e156";
}
table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
	color: #eee;
}
div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important;
}
div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
	display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
	border-top: none;
}
div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none;
}

@media screen and (max-width: 767px) {
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
	text-align: center;
}
}
table.dataTable.table-condensed > thead > tr > th {
	padding-right: 20px;
}
table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
	top: 6px;
	right: 6px;
}
table.table-bordered.dataTable {
	border-collapse: separate !important;
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
	border-left-width: 0;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
	border-right-width: 0;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
	border-bottom-width: 0;
}
div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0;
}
/*datatable end*/
.row.clintlist.client .container {
	width: 100%;
}
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}
.kv-avatar .file-input {
	display: table-cell;
	max-width: 220px;
}
.kv-avatar input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	background: 0 0;
	z-index: 555;
}
.kv-avatar.center-block:hover {
	background: #09395A;
}
.kv-avatar.center-block {
	background: #025791;
	height: 30px;
	width: 30px;
	border-radius: 10px;
	position: relative;
	top: -40px;
	z-index: 999;
	left: 40px;
	border: solid 1px #4EB7FF;
}
.kv-avatar.center-block::before {
	content: "\270f";
	color: #fff;
	font-size: 20px;
	font-family: 'Glyphicons Halflings';
}
/*	.myCheckbox input {
    display: none;
}

.myCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    background:url(../img/check.png);
}

.myCheckbox input:checked + span {
    background: url(../img/check-h.png);;
}*/

.modelform .searchbx, .register .searchbx {
	/*float: right !important;*/
	margin: 10px 30%;
	width: 40%;
}
.card.hovercard .txname {
	position: relative;
	font-size: 25px;
	color: #fff;
	top: -80px;
	margin-bottom: 16px;
}
.dble {
	background: #E8E8E8;
	opacity: 0.6;
}
.ativ {
	background: rgba(2, 95, 157, 0.11);
}
table.example tbody tr.ativ:hover {
	background: rgba(2, 95, 157, 0.25);
}
.detailview .form-group.row {
	border-bottom: solid 1px #f1f1f1;
	margin: 0px;
	padding: 10px 0px;
	line-height: 13px;
}
.detailview .form-group.col-lg-6 label {
	font-weight: 500;
	color: #000;
}
.detailview .form-group.col-lg-6 {
	border-bottom: solid 1px rgba(204, 204, 204, 0.35);
	width: 48%;
	margin: 4px 1%;
	line-height: 28px;
	padding: 0px;
}
.detailview fieldset {
	padding-bottom: 15px!important;
}
#UserTable_info {
	text-align: center;
}
/*new edition*/
.companyLogo img {
	max-width: 60px;
	max-height: 40px;
	background: #ccc;
}
.companyLogo {
	width: 65px;
	border-radius: 10px;
	height: 45px;
	background: #E6E3E3;
	vertical-align: middle;
	position: relative;
	display: table-cell;
}
.popover.primary {
	border-color: #337ab7;
}
.popover.primary > .arrow {
	border-top-color: #337ab7;
}
.popover.primary > .popover-title {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}
.popover.success {
	border-color: #d6e9c6;
}
.popover.success > .arrow {
	border-top-color: #d6e9c6;
}
.popover.success > .popover-title {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.popover.info {
	border-color: #bce8f1;
}
.popover.info > .arrow {
	border-top-color: #bce8f1;
}
.popover.info > .popover-title {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.popover.warning {
	border-color: #faebcc;
}
.popover.warning > .arrow {
	border-top-color: #faebcc;
}
.popover.warning > .popover-title {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.popover.danger {
	border-color: #ebccd1;
}
.popover.danger > .arrow {
	border-top-color: #ebccd1;
}
.popover.danger > .popover-title {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
a.btn-disable {
	color: #c9302c;
	text-decoration: none;
	font-style: italic;
	border: solid 1px #D4D1D1;
	padding: 5px;
	border-radius: 4px;
}
.addlogo {
	position: relative;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	top: -13px;
	margin-bottom: -20px;
	min-height: 103px;/* background-color: rgba(214, 224, 226, 0.2); */
}
/*    .addlogo .avatar {
        position: relative;
        
        position: relative;
        width: 110px;
        height: 110px;
        top: 11px;
        margin:0 auto;
    }

        .addlogo .avatar img {
            
            max-width: 100px;
            max-height: 85px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            border: 4px solid #fff;
            box-shadow: 1px 6px 10px #999;

        }
*/


.addlogo .avatar {
	position: relative;
	width: 111px;
	height: 100px;
	margin: 0 auto;
	border-radius: 12px;
	vertical-align: middle;
	text-align: center;
	background: #fff;
	padding: 6px;
	box-shadow: 0px 1px 1px #999;
}
.addlogo .avatar img {
	max-width: 100px;
	max-height: 85px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.avatar p.mid {
	display: table-cell;
	vertical-align: middle;
	height: 90px;
	width: 100px;
}
.example .label-danger {
	border: solid 1px #d9534f;
	opacity: 1;
}
/*table responsive start css*/
.exampleNew tr:last-child {
	border-bottom: solid 2px #ccc;
}
.exampleNew {
	min-width: 300px;
}
.exampleNew tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff!important;
}
.exampleNew th {
	display: none;
}
.exampleNew td {
	display: block;
}
.exampleNew td:first-child {
	padding-top: .5em;
}
.exampleNew td:last-child {
	padding-bottom: .5em;
}
.exampleNew td:before {
	content: attr(data-th) ":   ";
	font-weight: 600;
	width: 10em;
	display: inline-block;
}

@media (min-width: 768px) {
.exampleNew td:before {
	display: none;
}
}
.exampleNew th, .exampleNew td {
	text-align: left;
}

@media (min-width: 768px) {
.exampleNew th, .exampleNew td {
	display: table-cell;
	padding: .25em .5em;
}
.exampleNew th:first-child, .exampleNew td:first-child {
	padding-left: 0;
}
.exampleNew th:last-child, .exampleNew td:last-child {
	padding-right: 0;
}
}
.exampleNew {
	border-radius: .4em;
	overflow: hidden;
}
.exampleNew tr {
	border-color: #3FBAE4;
}
.exampleNew th, .exampleNew td {
	margin-bottom: -1px;
}

@media (min-width: 768px) {
.exampleNew th, .exampleNew td {
	padding: 1em !important;
}
}
.exampleNew th, .exampleNew td:before {
	color: #000;
}
/*table responsive end*/		
.btn-success {
	background: #3E9C3E;
	border: #3E9C3E;
}
.alrt-worn {
	color: red;
	padding: 2px 10px;
	font-size: 15px;
}
.manage .info {
	position: relative;
	top: -28px;
}
.head_one {
	text-align: center;
	font-size: 17px;
	background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
	color: rgb(35, 143, 202);
	border-collapse: collapse;
}
.head_one td {
	border: #238FCA solid 1px!important;
	border: none;
	padding: 12px 0px!important;
}
form.alignlabel label {
	padding-top: 7px;
}
form.alignlabel label.log {
	position: relative;
	top: -9px;
}
.alignlabel .log1 {
	position: relative;
	top: 20px;
}
.alignlabel .log2 {
	position: relative;
	top: 4px;
}
.alignlabel .log3 {
	position: relative;
	top: 29px;
}
.srh-center .searchbx {
	width: 100%;
}
.srh-center .searchbx .dataTables_filter {
	text-align: center;
}
/*select thumbnails*/
.select-container {
	position: relative;
	margin: 0 auto;
}
.selection-checkbox {
	display: none;
}
.selection-highlight, .selection-item {
	width: 100px;
	height: 100px;
}
.selection-content {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
	padding: 10px;
}
.selection-item {
	display: inline-block;
	line-height: 100;
	text-align: center;
	margin: 8px;
}
.selection-item-container {
	vertical-align: middle;
	font-size: 26px;
	line-height: 100px;
	border-radius: 4px;
	color: #6b6d6f;
	background: #fff;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.selection-item-container .fa {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.selection-item[data-checked="true"] .fa {
	opacity: 0;
}

@media screen and (max-width:380px) {
.selection-item {
	line-height: 100px;
}
.selection-item-container {
	width: 70px;
	height: 70px;
	line-height: 70px;
}
}
/*end select thumbnals*/



.thub-list .thumbnail {
	margin-bottom: 6px;
}
.thumbnail .btn-primary {
	background: #949494;
}
.thumbnail .btn-primary.active {
	background: #204d74;
}
.thumbnail {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;/* margin-bottom: 10px;*/
}
.thub-list .list-group-item {
	margin: 0px;
	border: none;
	padding: 0 10px;
	background: transparent;
}
.thub-list .list-group-item .thumbnail .btn-group {
	top: 15px;
	left: 15px;
}
.thub-list .list-group-item .thumbnail img.group {
	margin-left: 50px;
	width: 50px;
}
.sml.thub-list .list-group-item .thumbnail img.group {
	margin-left: 0;
	max-width: 35px;
	max-height: 35px;
	min-height: 35px;
	padding: 6px;
	border-radius: 8px;
}
.sml.thub-list .list-group-item .caption.linbox {
	padding: 0px!important;
}
.sml.thub-list .list-group-item .thumbnail img {
	width: 40px;
	padding: 2px;
	max-width: 23px;/*margin: 4px;*/
}
.sml.thub-list .list-group-item .thumbnail .btn-group {
	top: 14px;
	left: 7px;
}
.sml.thub-list .list-group-item .thumbnail .btn-group .btn-primary {
	padding: 0px 2px;
}
/*.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}*/

.item.list-group-item .list-group-image {
	margin-right: 2px;
}
.item.list-group-item .thumbnail {
	margin-bottom: 0px;
	margin: -1px;
}
.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}
/*.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}
*/
.item.list-group-item:before, .item.list-group-item:after {
	display: table;
	content: " ";
}
.item.list-group-item img {
	float: left;
}
.item.list-group-item:after {
	clear: both;
}
.list-group-item-text {
	margin: 0 0 11px;
}
.thub-list .head_one {
	margin-bottom: 15px;
}
.thub-list .pull-left .title {
	line-height: 30px;
}
.thub-list .list-group-item .thumbnail p {
	float: left;
	margin: 0;
	padding: 0px;
}
.thub-list .list-group-item .thumbnail p video {
	position: static;
	width: auto;
	height: auto;
	overflow: hidden;
	max-width: 50px;
	max-height: 50px;
	margin-left: 50px;
	padding: 8px;
	text-align: center;
	border-radius: 11px;
}
.thub-list.sml .list-group-item .thumbnail p {
	max-width: 35px;
	padding: 0px;
	margin: 0px;
	max-height: 35px;
}
.thub-list.sml .list-group-item .thumbnail p video {
	position: static;
	width: auto;
	height: auto;
	overflow: hidden;
	max-width: 35px;
	max-height: 35px;
	margin-left: 0px!important;
	padding: 6px;
	text-align: center;
	border-radius: 8px;
}
.thub-list .list-group-item .thumbnail p img.group {
	padding: 8px;
	text-align: center;
	max-width: 50px;
	max-height: 50px;
	border-radius: 11px;
	min-height: 50px;
}
.thub-list .grid-group-item .thumbnail p img {
	padding: 0px;
	text-align: center;
	border-radius: 0px;
	max-width: 100%;
	max-height: 80px;
}
.thub-list .grid-group-item .thumbnail p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100em;
	height: 80px;/* margin: 0 auto; */
}
.thub-list .btn.btn-primary span.glyphicon {
	opacity: 0;
}
.thub-list .btn.active span.glyphicon {
	opacity: 1;
}
.thub-list .thumbnail .btn-group {
	position: absolute;  /*left:15px;*/
}
.thub-list .btn-group .btn-primary {
	padding: 0px 3px;
	border: none;
	border-radius: 0px; /*box-shadow:0px 0px 0px 0px #fff;*/
}
.heading {
	font-size: 15px;
	margin-bottom: 15px;
	font-weight: 300;
	border-bottom: solid 1px #ccc;
	padding: 7px 0;
}
.heading strong {
	font-size: 21px;
	font-weight: 300;
}
.thub-list .thumbnail .listonly, .thub-list .listonly {
	display: none;
}
.thub-list .list-group-item .thumbnail .listonly {/*display:inline-block; margin:0 25px;    color: #999;*/
}
.grid-group-item .thumbnail img {
}
.grid-group-item .thumbnail img.portrait {
	width: 100%;
	height: auto;
}
.thub-list .item.col-lg-3 {
	margin: 0px!important;
	padding: 0 2px;
}
.margn {
	margin: 0px;
}
.pading {
	padding: 0px
}
.thub-list .heading .thumbnail {
	background: #238fca;
	color: #fff;
}
.thub-list .thumbnail .caption {
	padding: 3px 0 0 6px;
}
.caption.linbox {
	display: block;
	padding: 9px 4px 0px!important
}
.caption.linbox .pull-left {
	display: block;
	width: 60%;
}
.caption.linbox .pull-left span.title {
	color: #999;
	display: table-cell;
	min-width: 40px;
	float: left;
}
.caption.linbox .pull-left span.title:first-child {
	color: #000;
	display: table-cell;
	float: left;
	min-width: 50%;
}
.campaigns label.btn-default.active {
	background-color: #007ba7;
	color: #FFF;
	border: solid 1px #008ABB;
}
.campaigns label.btn-default {
	width: 100%;
	margin-bottom: 5px;
	box-shadow: 0px 1px 3px 0 #8C8C8C;
	border-radius: 0px;
}
.campaigns .btn-group {
	width: 100%
}
.campaigns .btn span.glyphicon {
	opacity: 0;
}
.campaigns .btn.active span.glyphicon {
	opacity: 1;
}
.campaigns label.btn-default {
	color: 999;
	background: #EEEEEE;
}
.campaigns h5 {
	text-align: left;
	padding-bottom: 5px;
	padding: 0px;
	font-size: 17px;
	font-weight: 300;
}
.campaigns p {
	text-align: left;
	font-style: italic;
	padding: 0px;
}
form.bottomfix {
	margin: 50px 0;
}
.white {
	background: rgba(255, 255, 255, 0.60);
}
form.bottomfix {
	margin: 50px 0;
	border: solid 1px #0169B0;
	/* background: #f1f1f1; */
	min-height: 250px;
	text-align: center;
	box-shadow: 0px 0px 7px rgba(187, 187, 187, 0.65);
}
form.bottomfix .btn-file.dd input {
	background: #0169B0;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 3px;
	border-radius: 0;
	/*color: transparent;*/
	padding: 7px 15px;
	border: none;
	text-indent: -10px;
}
/*form.bottomfix:after {    content: "Drag Here";    text-align: center;}*/
#dragAndDropFiles.hover {
	min-height: 200px;
	display: block;
	border: dotted 2px #ccc;
	padding: 0px;
	margin: 10px 25px 0px 25px;
	font-size: 20px;
	color: transparent
}
#dragAndDropFiles {
	min-height: 200px;
	display: block;
	/* border: dotted 2px #ccc; */
	padding: 0px;
	margin: 7px 10px;
	font-size: 18px;
}
.dfiles {
	border: solid 1px #A8A8A8;
	text-align: left;
	padding: 0px 4px;
	margin: 3px;
	color: #000000;
}
.dfiles h5 {
	margin: 0px;
	padding: 4px 3px;
}
button.btn.off {
	padding: 4px;
	position: absolute;
	background: transparent;
	left: -22px;
	font-size: 15px;
}
div#jstree {
	height: 250px;
	overflow: overlay;
}
/*.list-group-item .thumbnail.fimgs .trans-button {
	display: none;
}*/

.list-group-item .thumbnail.fimgs .trans-button {
	border: 1px solid #BDBDBD;
	/* color: #000; */
                /* margin: auto; */
	border-radius: 50%;
	height: 25px;
	width: 25px;
	padding: 4px 0;
	right: 0px;
	z-index: 1;
	position: absolute;
	right: 50px;
	top: 10px;
	text-align: center;
	color: #000;
	background: rgba(255, 255, 255, 0.80);
	font-size: 11px;
}
.grid-group-item .thumbnail.fimgs .trans-button {
	border: 1px solid #BDBDBD;
	/* color: #000; */
    /* margin: auto; */
	border-radius: 50%;
	height: 25px;
	width: 25px;
	padding: 4px 0;
	right: 0px;
	z-index: 1;
	position: absolute;
	right: 4px;
	top: 3px;
	text-align: center;
	color: #000;
	background: rgba(255, 255, 255, 0.80);
	font-size: 11px;
}
.red-circle-button {
	border: 1px solid #BDBDBD; /* color: #000; */
	margin: auto;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	position: relative;
	padding: 6px 0;
	left: 17px;
	top: 6px;
}
.jstree-default .jstree-last {
	background: 0 0;
	margin: 0;
	padding: 0px;
}
.sml .pading {
	padding: 0px 1px;
}
.file .btn-group {/*border:solid 1px #E4E4E4;*/
	border-radius: 3px;
}
.fileheight {
	height: 650px;
}
.diff .dropdown-menu {
	position: fixed
}
.all-circle-button {
	border: 1px solid #BDBDBD; /* color: #000; */
	margin: auto;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	position: relative;
	padding: 8px 0;
	left: 7px;
	top: -4px;
	font-size: 14px;
	text-align: center;
	background: #fff;
}
/*table responsive css*/
.rwd-table tr:last-child {
	border-bottom: solid 2px #ccc;
}
.rwd-table {
	min-width: 300px;
}
.rwd-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff!important;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
	padding-top: .5em;
}
.rwd-table td:last-child {
	padding-bottom: .5em;
}
.rwd-table td:before {
	content: attr(data-th) ":   ";
	font-weight: 600;
	width: 10em;
	display: inline-block;
}

@media (min-width: 770px) {
.rwd-table td:before {
	display: none;
}
}
.rwd-table th, .rwd-table td {
	text-align: left;
}

@media (min-width: 770px) {
.rwd-table th, .rwd-table td {
	display: table-cell;
	padding: .25em .5em;
}
.rwd-table th:first-child, .rwd-table td:first-child {
	padding-left: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
	padding-right: 0;
}
}
.rwd-table {
	border-radius: .4em;
	overflow: hidden;
}
.rwd-table tr {
	border-color: #3FBAE4;
}
.rwd-table th, .rwd-table td {
	margin-bottom: -1px;
}

@media (min-width: 768px) {
.rwd-table th, .rwd-table td {
	padding: 1em !important;
}
}
.rwd-table th, .rwd-table td:before {
	color: #000;
}
.detailview [class*='col-sm-6']:not(:last-child):after {
	background: #e0e0e0;
	width: 1px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	min-height: 70px;
}
.detailview .img-thumbnail {
	height: 120px; /*can be anything*/
	width: 120px; /*can be anything*/
	display: inline-block;
	position: relative;
}
.detailview .img-thumbnail img {
	max-height: 110px;
	max-width: 110px;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 4px;
}
.detailview .info div {
	line-height: 23px;
}
ul.indicate {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 12px;
}
ul.indicate li {
	float: left;
	display: inline;
	font-size: 12px;
	margin: 0 5px;
	background: #fff;
	border: solid 1px #ccc;
	padding: 2px;
	text-transform: uppercase;
	border-radius: 4px;/*margin-bottom: 7px;*/
}
ul.indicate li:first-child {
	margin-left: 0px;
}
ul.indicate li span {
	float: left;
	border: solid 1px #ccc;
	width: 15px;
	height: 11px;
	margin: 1px 2px;
}
ul.indicate li span.ativ {
	background: #E3EDF4
}
ul.indicate li span.future {
	background: #90EE90
}
ul.indicate li span.dble {
	background: #E8E8E8;
	opacity: 1;
}
.grid-group-item .thumbnail.fimgs p {
	position: relative;
	width: 100em;
	height: 80px;
	overflow: hidden;
	z-index: 0;
}
.grid-group-item .thumbnail.fimgs .caption {
	position: absolute;/*z-index: 1;*/
	bottom: 6px;
	width: 96%;
	color: #fff;
}
.grid-group-item .thumbnail.fimgs .btn-group {/* display:none; */
	position: absolute;
	z-index: 1;
}
.grid-group-item .thumbnail.fimgs p video {
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	overflow: hidden;
	width: 125px;/*max-width:100%;
	max-height:100%*/
}
.grid-group-item .thumbnail.fimgs .btn-group {
	top: 0px;
	width: 100%
}
.grid-group-item .thumbnail.fimgs .btn-default, .grid-group-item .thumbnail.fimgs .btn-default:focus, .grid-group-item .thumbnail.fimgs .btn-default:active {
	background: transparent;
	color: #fff;
	border: none;
	outline: none;
}
.grid-group-item .thumbnail.fimgs .btn-default:hover {
	font-weight: bold;
}
.grid-group-item .thumbnail.fimgs .caption {
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,.95) 0, rgba(0,0,0,0) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,.95) 0, rgba(0,0,0,0) 100%);
}
.grid-group-item .thumbnail.fimgs p img {
	/* left: 50%;
    top: 50%;*/ 
	position: relative;
	height: 50%;
	width: 100%;
	/*   -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	 -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
	-webkit-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-moz-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}
.grid-group-item .thumbnail:hover.fimgs p img.group, .grid-group-item .thumbnail:hover.fimgs p video {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}
.grid-group-item .thumbnail.fimgs p img.group {
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
	width: 100%;
	height: 100%;
	min-width: 100%
}
.grid-group-item .thumbnail.fimgs p img.xl.group {
	width: auto;
	min-width: 62px;
}
/*
 try
 .fimgs p {
  width: 50%;
  height: 15em;
  margin: 0 auto;
  overflow: hidden;
  background: #2980b9; -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

 .fimgs img {
  position: relative;
  max-height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 800px) {
.fimgs img  {
    top: 50%;
    left: 0;
    max-height: none;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

 
 */

 /*changes as per new chanages*/
span.label.label-danger {
	background: transparent;
	color: #800000;
	border: none;
	font-size: 12px;
}
.named {
	max-width: 170px;
	height: 44px;
	vertical-align: middle;
	display: table-cell;
	padding: 0px 7px;
	text-align: left;
}
.example.dataTable.table thead tr th {
	border-right: #61ACD2 solid 1px;
}
.example.dataTable.table tbody tr td {
	border: #f1f1f1 solid 1px!important;
	vertical-align: middle;
	min-height: 25px;
}
.example.dataTable.table thead tr th {
	text-align: center;
	padding: 10px 10px;
	margin: 0px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 8px 4px;
}
.grid-group-item .thumbnail.fimgs p video::after {
	content: "";
	background: red;
	width: 50px;
	heigh: 50px;
	position: relative;
	top : 50px;
}
.grid-group-item .pattern {
	cursor: pointer
}
.grid-group-item .pattern.icon:after {
	background: url(../images/img/video.png) no-repeat center center;
	content: "";
	background-size: 50px;
}
.grid-group-item .pattern:after {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: visible;
	left: 0;
	top: 0;
}
.list-group-item .pattern {
	cursor: pointer
}
.list-group-item .pattern.icon:after {
	/*background: url(../images/img/video.png) no-repeat center center;*/
	content: "";
	background-size: 50px;
}
.list-group-item .pattern:after {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: visible;
	left: 0;
	top: 0;
}
.thub-list .btn-group .btn.grid, .thub-list .btn-group .btn.list {
	border: solid 1px #D4D4D4;
}
.remove {
}
.input-group.dd .dsbleus {
	pointer-events: none;
	opacity: 0.4;
}
.middleform {
	float: left;
	width: 72%;
	display: inline-block;
	margin: 0 15px;
}
.middleform .input-group {
	margin: 0px;
	padding: 0px;
}
.middleform input, .middleform .btn.btn-primary {
	height: 30px;
	line-height: 15px;
}

@media (max-width: 768px) {
.middleform {
	float: left;
	width: 60%;
}
}
ol.cmplt {
	margin: 0px;
	padding: 0;
}
ol.cmplt li {
	margin: 0px;
	padding: 0px;
	border: solid 1px #ccc;
	margin: -1px;
	padding: 4px 10px;
	list-style-position: inside;
}
ol.cmplt li:hover {
	background: #F2F2F2;
}
ol.cmplt li span:last-child {
	font-style: italic;
	margin: 0 14px;
	font-weight: normal;
}
ol.cmplt li span:first-child {
	font-weight: bold;
	text-align: right
}
.rightaligntd td:last-child {
	text-align: center;
}
.datepicker th.prev:hover, .datepicker th.datepicker-switch:hover, .datepicker th.next:hover {
	cursor: pointer;
	background: #f1f1f1;
	height: 4px;
}
.bottomfix {
	position: relative;
}
.bottomfix .hideshow {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0 15px;
	z-index: 999;
	background: rgba(222, 222, 222, 0.37) url(../images/img/spin.gif) no-repeat center center;
	text-align: center;
	background-size: 55px;
	text-align: center;
	display: block;
}
.hideshowss {
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	padding: 0 15px;
	z-index: 999;
	background: rgba(0, 0, 0, 0.51) url(../images/img/spin.gif) no-repeat center center;
	text-align: center;
	background-size: 55px;
	display: block;
/*pointer-events: none;*/}
body.adds {
	overflow: hidden;
}
body.adds .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
div.dataTables_wrapper div.dataTables_filter label.ful {
	width: 60%;
	margin: 15px 15%;
}

/*.dataTables_filter{float:left;width: 35%;}
.dataTables_filter .ful{margin: 15px!important;padding:0px;}
.dt-buttons{float:right;margin: 16px 15px;}
.dt-buttons a{background: #0169B0;color:#fff;border: solid 1px #0683D8;font-size: 13px;border-radius: 5px;padding:6px 8px}
.dt-buttons a:hover{background:#238FCA!important;border: solid 1px #0683D8!important;}*/
 
@media (max-width:768px) {
.dataTables_filter {
	width: 90%;
	display: block!important;
	float: left;
}
}
.modal .dataTables_filter {
	width: 100%;
}

@media screen and (min-width: 768px) {
.cterserch .dataTables_filter {
	margin: 0 0 0px 25%;
	padding: 0;
}
}
.dt-buttons {
	display: none
}
a#onex {
	line-height: 19px;
}
#searchinput {
	width: 200px;
}
#searchclear {
	position: absolute;
	right: 65px;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #868686;
	z-index: 9;
}
.dataTables_processing {
	text-align: center
}
.iconvwright {
	float: right;
	position: relative;
	right: -6px;
}

 /*edit new material design rules*/
 
a , button{	
list-style-type: none;
position: relative;
overflow: hidden; left:0; top:0;
	}
.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: lightblue; 
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
/*end new material design rules*/