﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
	background: #f3f3f3
}
/*login only*/
.fullimg {
	background: url(../img/login-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	padding-top: 6%;
	height: 100%;
}
.container-fluid.loginbg {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
#loginbox {
	margin-top: 30px;
}
#loginbox > div:first-child {
	padding-bottom: 10px;
	box-shadow: none;
}
.iconmelon {
	display: block;
	margin: auto;
}
.loginbg #form > div {
	margin-bottom: 10px;
}
#form > div:last-child {
	margin-top: 10px;
	margin-bottom: 10px;
}
.panel {
	background-color: transparent;
}
img.logo {
	max-width: 199px;
}
.loginbg ::-webkit-input-placeholder {
color: #000;
font-family: 'Open Sans', sans-serif;
}
.loginbg :-moz-placeholder { /* Firefox 18- */
color: #000;
font-family: 'Open Sans', sans-serif;
}
.loginbg ::-moz-placeholder {  /* Firefox 19+ */
color: #000;
font-family: 'Open Sans', sans-serif;
}
.loginbg :-ms-input-placeholder {
color: #343434;
font-family: 'Open Sans', sans-serif;
}
.loginbg .form-control {
	border: solid 1px #4c9ed5;
	border-left: none;
	border-radius: 8px;
	padding: 0px 4px;
	height: 37px;
}
.loginbg .input-group-addon {
	background: #fff;
	border: solid 1px #4c9ed5;
	border-right: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.loginbg .input {
	border: solid 1px #4c9ed5;
	background: #fff;
	color: #343434;
	border-left: none;
}
.loginbg .panel-default {
	border: none;
}
.loginbg .checkbox label, .radio label {
	line-height: 25px;
}
.loginbg .panel-default>.panel-heading {
	border: none;
	background: transparent
}
.loginbg .panel-body {
	padding-top: 30px;
	background-color: transparent;
}
.loginbg a {
	color: #02426e;
}
#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}
.iconmelon, .im {
	position: relative;
	width: 150px;
	height: 150px;
	display: block;
	fill: #525151;
}
.iconmelon:after, .im:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.loginbg .btn-log {
	background: rgba(1,119,198,1);
	background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 3px 22px;
	font-weight: 300;
}
.btn-file input {
	background: #C3C3C3;
	width: 270px;
	color: #292929;
}
/*login end*/
/*header start*/
/*navbar start*/
.navbar {
	border: 0 none;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	font-size: 14px;
}
.navbar-default {
	background-color: #D9D9D9;
}
.navbar .navbar-brand {
	font-weight: 600;
	margin-top: 13px;
	margin-bottom: 13px;
	font-size: 20px;
	min-width: 160px;
}
.navbar-nav > li > a {
	margin: 6px 3px;
	padding: 6px 7px;
	text-align: center;
	min-width: 70px;
}
.navbar-nav > li > a [class^="fa"] {
	font-size: 18px;
}
.navbar-brand {
	padding: 20px 15px;
}
.navbar .navbar-nav [class^="pe"] {
	font-size: 32px;
	position: relative;
}
nav.navbar.navbar-ct-blue.navbar-transparent {
	margin: 0px;
}
.navbar .btn {
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
	background-color: rgba(255, 255, 255, 0.96);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
	background-color: #fff;
	border-top: 10px solid #b7b7b7;
	box-shadow: 1px 1px 7px #ccc;
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand {
	color: #FFFFFF;
	opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
	background-color: rgba(0, 0, 0, 0);
	color: #5E5E5E;
}
.navbar-transparent .nav .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a { /*color: #FFFFFF;*/
	border-color: #FFFFFF;
	text-align: center;
}
.navbar-transparent .navbar-nav > li > a {
	color: #737373;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: rgba(43, 43, 43, 0.1);
	border-radius: 4px;
	color: #555555;
	opacity: 1;
}
.example.dataTable.table thead  tr th{padding:8px 0 0 8px}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #2C93FF;
	border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(255, 255, 255, 0);
	color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus { /*background-color: rgba(255, 255, 255, 0.2);*/
	border-radius: 4px;
	color: #FFFFFF;
	opacity: 1;
	background-color: #0169b0;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
	background-color: rgba(255, 255, 255, 0);
	color: #FFFFFF;
	opacity: 1;
}
.navbar .label {
	background-color: #FF4C40;
	position: absolute;
	right: -10px;
	top: 0px;
	font-size: 10px;
	text-shadow: none;
}
[class*="navbar-ct"] .label {
	background-color: #FFFFFF;
	color: #FF4C40;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover {
	color: #2C93FF;
	border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill {
	color: #777777;
	background-color: #FFFFFF;
	opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default {
	border-color: #FFFFFF;
	opacity: 1;
}
.navbar-form {
	box-shadow: none;
}
.navbar-form .form-control {
	background-color: rgba(244, 244, 244, 0);
	border-radius: 0;
	border: 0;
	height: 22px;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control {
	color: #FFFFFF;
	border: 0;/*  border-bottom: 1px solid rgba(255,255,255,.6); */
}
.navbar:not(.navbar-transparent).navbar-ct-blue {
	background-color: #34ACDC; /*background-color: rgba(52, 172, 220, 0.98);*/
	background: #fff;
	box-shadow: 1px 1px 4px #ccc;
	box-shadow: 1px 1px 7px #ccc;
}
.navbar:not(.navbar-transparent).navbar-ct-azzure {
	background-color: #5BCAFF;
	background-color: rgba(91, 203, 255, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-green {
	background-color: #4cd964;
	background-color: rgba(76, 217, 98, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-orange {
	background-color: #FF9500;
	background-color: rgba(255, 152, 0, 0.97);
}
.navbar:not(.navbar-transparent).navbar-ct-red {
	background-color: #FF4C40;
	background-color: rgba(255, 76, 64, 0.98);
}
.dropdown-menu > li > a {
	padding: 8px 20px;
	color: #fff;
}
.dropdown-menu > li:first-child > a {
	border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a {
	border-bottom: 0 none;
	border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #0169B0;
	color: #fff;
	opacity: 1;
	text-decoration: none;
}
.navbar-toggle {
	margin-bottom: 27px;
	margin-top: 27px;
	border: 0;
}
.navbar-toggle .icon-bar {
	background-color: #0169B0;
}
.navbar-collapse, .navbar-form {
	border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(0,0,0,0);
}
.navbar-brand-logo {
	padding: 0;
}
.navbar-brand-logo .logo {  /*  border: 1px solid #333333; border-radius: 50%;*/
	float: left;
	overflow: hidden;   /* width: 60px;*/
	color: #0167ad;
	font-size: 25px;
	font-weight: 300;
	line-height: 24px;
	padding-left: 18px;
}
.navbar .navbar-brand-logo .brand {
	color: #FFFFFF;
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;
}
.navbar-default .navbar-brand-logo .brand {
	color: #555;
}

@media (min-width: 768px) {
.navbar-collapse, .navbar-form {
	border-color: rgba(0, 0, 0, 0);
}
.navbar-form {
	margin-bottom: 31px;
	margin-top: 31px;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-search-form {
	display: none;
}
.navbar-nav > li > .dropdown-menu {
	display: block;
	padding: 0;
	z-index: 9000;
	position: absolute;
	-webkit-border-radius: 10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	-webkit-filter: alpha(opacity=0);
	-moz-filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
	-o-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	-ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
	transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.navbar-nav > li.open > .dropdown-menu {
	-webkit-transform-origin: 29px -50px;
	-moz-transform-origin: 29px -50px;
	-o-transform-origin: 29px -50px;
	-ms-transform-origin: 29px -50px;
	transform-origin: 29px -50px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-ms-filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	background: #3387BF;
}
.dropdown-menu:before {
	border-bottom: 11px solid rgba(0, 0, 0, 0.2);
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 15px;
	top: -11px;
}
.dropdown-menu:after {
	border-bottom: 11px solid #3387BF;
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 15px;
	top: -10px;
}
}

@media (max-width: 768px) {  /* .navbar-transparent{  padding-top: 15px;  background-color: rgba(0, 0, 0, 0.45); } */
.navbar-collapse {
	background: rgba(197, 197, 197, 0.22);

}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover, .navbar-transparent .dropdown-menu > li > a:focus, [class*="navbar-ct"] .dropdown-menu > li > a:hover, [class*="navbar-ct"] .dropdown-menu > li > a:focus {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0);
	opacity: 1;
}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
	color: #FFFFFF;
	opacity: 0.8;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: rgba(0,0,0,0);
	border-color: #428BCA;
}
.navbar-collapse {
	text-align: center;
}
.navbar-collapse .navbar-form {
	width: 170px;
	margin: 0 auto;
}
}
.blurred-container {
	position: relative;
	width: 100%;
	height: 540px;
	top: 0;
	left: 0;
}
.blurred-container>.img-src {
	position: fixed;
	width: 100%;
	height: 540px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: centercenter;
}
.blur {
	opacity: 0;
}

@media(max-width:991px) {
.img-src {/*background-size:100%;background-position:top;*/
}
}
h4 {
	line-height: 1.4em;
}
.space-200 {
	height: 200px;
}
/*navbar End*/
.navbar-nav > li > a {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.navbar-nav > li > a .users {
	background: url(../img/users.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a .assets {
	background: url(../img/assets.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a .campaigns {
	background: url(../img/campaigns.png) center bottom no-repeat;
	width: 35px;
	height: 26px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.navbar-nav > li > a:hover > .users, .navbar-nav > li > a:focus > .users, .navbar-nav > li.active .users {
	background: url(../img/users-h.png) center bottom no-repeat;
}
.navbar-nav > li > a:hover > .assets, .navbar-nav > li > a:focus > .assets, .navbar-nav > li.active .assets {
	background: url(../img/assets-h.png) center bottom no-repeat;
}
.navbar-nav > li > a:hover >.campaigns, .navbar-nav > li > a:focus >.campaigns, .navbar-nav > li.active .campaigns {
	background: url(../img/campaigns-h.png) center bottom no-repeat;
}
.picture li.dropdown > a, .picture li.dropdown > a:focus, .picture li.dropdown > a:hover {
	background: #0169b0!important;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	font-size: 12px;
	color: #F1F1F1;
	padding: 8px 6px;
	min-width: 187px;
}
.picture li.dropdown > a p {
	display: block;
	font-size: 14px;
	color: #FFF;
	marign: 0px;
	padding: 0px;
	line-height: 10px;
	font-weight: 300;
}
.picture li.dropdown a > div {
	line-height: 8px;
}
img.profile-pic {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	float: right;
	border: solid 2px #fff;
	position: relative;
	z-index: 10;
	top: -5px;
}
ul.pull-right.nav.navbar-nav.picture {
	margin: 17px 0;
}
.row.breadcumb {
	background-color: #fff;
}
/*header end*/

.row.breadcumb {
	background-color: #fff;
	padding: 5px 0px;
}
.welcometxt {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	background: #046bb1;
	line-height: 25px;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}
/** The Spacing **/
.btn-breadcrumb .btn {
	padding: 6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
	padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
	padding: 6px 18px 6px 24px;
}

.row.breadcumb .btn-breadcrumb .btn:focus {
	background: transparent;
	border: transparent;
	box-shadow: none;
}
/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
	border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
	border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
	border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
	border-left: 10px solid #adadad;
}
/*start chart*/
.maincontent {
	margin: 15px 0;
}
.maincontent .main {
	background: #fff;
	padding: 15px;
}
.maincontent .main .bdr {
	border: solid 1px #cccccc;
	padding: 5px;
	margin-bottom: 25px;
}
.pnl .list-group .count {
	font-size: 20px;
	font-weight: 400;
}
.pnl .list-group .name {
	font-size: 15px;
	font-weight: 300;
}
.pnl .panel>.list-group .col-sm-2 {
	padding: 15px;
	border-right: solid 1px #ccc;
}
.pnl .panel>.list-group .list-group-item {
	padding: 0px;
	margin-top: 4px;
	border: solid 1px #ccc
}
.pnl .panel>.list-group .list-group-item:hover {
	background: rgba(1, 105, 176, 0.12);
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
}
.pnl .panel>.list-group .list-group-item:first-child {
	border-top: solid 1px #ccc;
}
.pnl .panel>.list-group .list-group-item:last-child {
	border-bottom: solid 1px #ccc;
}
.pnl .panel-default {
	border: none;
}
.pnl h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 12px 0;
}
table.table.assetslist {
	font-size: 13px;
}
table.table.assetslist tr th {
	color: #000;
	background: #e9e9e9;
}
table.table.assetslist tr {
	border: solid 1px #e9e9e9;
	background: #fbfbfb;
	color: #767676;
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 1s;
}
table.table.assetslist a {
	color: #0169b0;
	text-decoration: none;
}
table.table.assetslist tr:hover {
	background: #fff;
}
table.table.assetslist tr:hover a {
	color: #000;
}
footer {
	background: #b7b7b7;
	color: #000;
	text-align: center;
	padding: 8px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	position: fixed;
}

@media (max-width: 768px) {
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a, [class*="navbar-ct"] .dropdown-menu > li > a {
	background: #0169B0;
}
.dropdown.open > .dropdown-menu:before {
	border-bottom: 11px solid rgb(51, 135, 191);
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	right: 19px;
	top: 44px;
}
.navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover {
	background: #0169B0;
	color: #FFF;
}
}
/*end chart*/ 
 /*data table*/
div#table-footer {
	display: none;
}
.btn-log {
	background: rgba(1,119,198,1);
	background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 2px 7px 4px 7px!important;
	font-weight: 300;
}
.clintlist {
	margin: 12px 0px;
}
.clintlist .main h2 {
	font-size: 21px;
	font-weight: 400;
	color: #003b63;
	margin-right: 15px;
}
.clintlist .main form.searchbx, .searchbx {
	margin: 15px 0;
	padding: 0px;
}
.clintlist .main form.searchbx input {
	border-radius: 8px;
	border: solid 1px #3e8ec5;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	background: url(../img/magnifier.png) no-repeat center right;
	background-color: #fff;
}
i.img-rnd {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	float: right;
	background: #fff;
	border: solid 1px #003b63;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 6px;
	position: relative;
	z-index: 500;
	margin: 10px;
}
.clintlist .bdt {
	background: #fff;
}
.clintlist .bdt td {
	line-height: 22px;
	padding: 16px 0;
}
.clintlist span.sort-element {
	border-bottom: solid 3px #505050;
	float: left;
	color: #636363;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	padding: 5px 0;
	min-height: 30px;
}
.clintlist .bdt thead th {
	padding: 4px 4px 0px 4px;  /*data table end*/
}
.clintlist .bdt thead th {
	border-bottom: solid 1px #ddd;
}
.clintlist .bdt .sort-icon {
	padding: 10px;
}
.clintlist .bdt td:first-child,  .clintlist .bdt td:last-child, .example.dataTable tbody td:first-child {
	text-align: center;
	width: 10%;
}
.cmplist {
	margin: 12px 0px;
}
.cmplist .main h2 {
	font-size: 21px;
	font-weight: 400;
	color: #003b63;
	margin-right: 15px;
}
.cmplist .main form.searchbx {
	margin: 15px 0;
	padding: 0px;
}
.cmplist .main form.searchbx input, .dataTables_filter .form-control.input {
	border-radius: 8px;
	border: solid 1px #3e8ec5;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	background: url(../img/magnifier.png) no-repeat center right;
	background-color: #fff;width:100%;
}
i.img-rnd {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	float: right;
	background: #fff;
	border: solid 1px #003b63;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 6px;
	position: relative;
	z-index: 500;
	margin: 10px;
}
.cmplist .bdt,  .container .example.dataTable {
	background: #fff;
}
.cmplist .bdt td {
	line-height: 22px;
	padding: 16px 0;
}
.cmplist span.sort-element {
	border-bottom: solid 3px #505050;
	float: left;
	color: #636363;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	padding: 5px 0;
	min-height: 30px;
}
.cmplist .bdt thead th {
	padding: 4px 4px 0px 4px;  /*data table end*/
}
.cmplist .bdt thead th {
	border-bottom: solid 1px #ddd;
}
.cmplist .bdt .sort-icon {
	padding: 10px;
}
.cmplist .bdt td:first-child,  .cmplist .bdt td:last-child {
	text-align: center;
	width: 5%;
}
.modelform .col-sm-9 {
	margin-left: -12px;
	padding-left: 0px;
}
.modelform .col-sm-9 input[type="checkbox"] {
	width: 20px;
	height: 20px
}
.modelform .col-sm-9 .btn-file input[type=file] {
	text-align: right;
	background: gray;
	cursor: inherit;
	display: block;
	color: #fff;
}
table.bdt tr, table.example tbody tr {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
table.bdt tbody tr:hover,  table.example tbody tr:hover {
	background: #f4f4f4;
}
/*View Profile*/
	
	
.card.dd {
	background: #fff;
}
.card {
	padding-top: 20px;
	margin: 10px 0 20px 0;
	background-color: #ebebeb;
	border-top-width: 0;
	border-bottom-width: 2px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card .card-heading {
	padding: 0 20px;
	margin: 0;
}
.card .card-heading.simple {
	font-size: 20px;
	font-weight: 300;
	color: #777;
	border-bottom: 1px solid #e5e5e5;
}
.card .card-heading.image img {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin-right: 15px;
	vertical-align: top;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
	display: inline-block;
	vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
}
.card .card-heading.image .card-heading-header span {
	font-size: 12px;
	color: #999999;
}
.card .card-body {
	padding: 0 20px;
	margin-top: 20px;
}
.card .card-media {
	padding: 0 20px;
	margin: 0 -14px;
}
.card .card-media img {
	max-width: 100%;
	max-height: 100%;
}
.card .card-actions {
	min-height: 30px;
	padding: 0 20px 20px 20px;
	margin: 20px 0 0 0;
}
.card .card-comments {
	padding: 20px;
	margin: 0;
	background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
	padding: 0;
	margin: 0 20px 12px 20px;
}
table.dataTable thead .sorting:first-child:after{display:none;}
.dataTables_wrapper .col-sm-6.pull-rigth  {
    display: none;
}
.card .card-comments .comments-collapse-toggle a, .card .card-comments .comments-collapse-toggle span {
	padding-right: 5px;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card-comments .media-heading {
	font-size: 13px;
	font-weight: bold;
}
.card.people {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 300px;
	padding-top: 0;
	margin-left: 20px;
	overflow: hidden;
	vertical-align: top;
}
.card.people:first-child {
	margin-left: 0;
}
.card.people .card-top {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 170px;
	height: 150px;
	background-color: #ffffff;
}
.card.people .card-top.green {
	background-color: #53a93f;
}
.card.people .card-top.blue {
	background-color: #427fed;
}
.card.people .card-info {
	position: absolute;
	top: 150px;
	display: inline-block;
	width: 100%;
	height: 101px;
	overflow: hidden;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card.people .card-info .title {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #404040;
}
.card.people .card-info .desc {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	color: #737373;
	text-overflow: ellipsis;
}
 1.card.people .card-bottom {
position: absolute;
bottom: 0;
left: 0;
display: inline-block;
width: 100%;
padding: 10px 20px;
line-height: 29px;
text-align: center;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.card.hovercard {
	position: relative;
	padding: 0px 0px;
	overflow: hidden;
	text-align: center;    /*background-color: rgba(214, 224, 226, 0.2);*/
}
.card.hovercard .cardheader {
	background: rgba(1,119,198,1);
	background: -moz-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,119,198,1)), color-stop(100%, rgba(2,73,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
	background: linear-gradient(135deg, rgba(1,119,198,1) 0%, rgba(2,73,121,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0177c6', endColorstr='#024979', GradientType=1 );
	border-radius: 5px;
	text-shadow: 1px 0px 0px #545454;
	height: 135px;
	    border-bottom-right-radius: 0;	    border-bottom-left-radius: 0;
}
.card.hovercard .avatar {
	position: relative;
	    top: -110px;
        margin-bottom: -91px;
}
.card.hovercard .avatar img {
	width: 140px;
	height: 140px;
	max-width: 140px;
	max-height: 140px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 1px 6px 10px #999;
}
.card.hovercard .info {
	padding: 4px 8px 10px;
}
.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 1;
	color: #0169b0;
	vertical-align: middle;
}
.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 13px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}
.card.hovercard .bottom {
	padding: 0 20px;
	margin-bottom: 17px;
}
#ViewDetail .modal-dialog .table>tbody>tr>td {
	vertical-align: middle;
	padding: 4px;
	line-height: 15px
}
.card.hovercard.oflow {
	height: 328px;
	overflow: hidden;
	overflow-y: scroll;
	border: solid 1px #ccc;
}

@media (min-width:768px) {
#ViewDetail .modal-dialog, #ViewCampaigns .modal-dialog {
	width: 60%;
	padding: 0 20px
}
/*View Profile*/
}

/*table responsive */@media  only screen and (max-width: 760px),  (min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */
table.table-hover.bdt, .table-hover.bdt thead, .table-hover.bdt tbody, .table-hover.bdt th, .table-hover.bdt td, .table-hover.bdt tr {
	display: block;
}
.modelform .col-sm-9 {
	padding: 0 20px;
}
/* Hide table headers (but not display: none;, for accessibility) */
.table-hover.bdt thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.table-hover.bdt tr {
	border: 1px solid #ccc;
}
.table-hover.bdt td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
}
.table-hover.bdt td:hover {
	background: #ccc;
	color: #000;
}
.table-hover.bdt td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 15px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 600;
}
/*
		Label the data
		*/
		/*.table-hover.bdt td:nth-of-type(1):before { content: "Icon";  }*/ 
.table-hover.clienttbl.bdt td:nth-of-type(2):before {
	content: "Company Client Name";
}
.table-hover.clienttbl.bdt td:nth-of-type(3):before {
	content: "Address";
}
.table-hover.clienttbl.bdt td:nth-of-type(4):before {
	content: "Incharge Person";
}
.table-hover.clienttbl.bdt td:nth-of-type(5):before {
	content: "Phone No";
}
.table-hover.clienttbl.bdt td:nth-of-type(6):before {
	content: "Email";
}
.table-hover.clienttbl.bdt td:nth-of-type(7):before {
	content: "Contact Person";
}
.table-hover.clienttbl.bdt td:nth-of-type(8):before {
	content: "Status";
}
.table-hover.clienttbl.bdt td:nth-of-type(9):before {
	content: "Action";
}
.table-hover.campaigntbl.bdt td:nth-of-type(2):before {
	content: "Campaign Type";
}
.table-hover.campaigntbl.bdt td:nth-of-type(3):before {
	content: "Campaign Name";
}
.table-hover.campaigntbl.bdt td:nth-of-type(4):before {
	content: "Campaign Code";
}
.table-hover.campaigntbl.bdt td:nth-of-type(5):before {
	content: "Campaign Timeframe";
}
.table-hover.campaigntbl.bdt td:nth-of-type(6):before {
	content: "Contacts";
}
.table-hover.campaigntbl.bdt td:nth-of-type(7):before {
	content: "Action";
}
.table-hover.usertbl.bdt td:nth-of-type(2):before {
	content: " Name";
}
.table-hover.usertbl.bdt td:nth-of-type(3):before {
	content: "Phone Number";
}
.table-hover.usertbl.bdt td:nth-of-type(4):before {
	content: "Email";
}
.table-hover.usertbl.bdt td:nth-of-type(5):before {
	content: "Role";
}
.table-hover.usertbl.bdt td:nth-of-type(6):before {
	content: "Action";
}
}
/*table responsive end*/
/*.oflow.sep .table thead tr { width:87%;position: fixed;background-color: #CECECE;z-index:555;}*/
.oflow.sep thead th:first-child {
	width: 10%!important;
}
.oflow.sep tbody td:first-child {
	width: 10%!important;
}
.oflow.sep .table thead th, .oflow .table tbody td {
	width: 400px;
}
/*.oflow.sep .table tbody td{ width:400px; position:relative;top:40px; padding:5px  }*/
.oflow.sep .table tbody tr td {
	border: none;
	border: solid 1px #ccc;
}
.oflow.sep .checkbox {
	margin: 0px;
	padding: 0px;
}
.oflow .table-hover thead {
	background: #999
}
.oflow .table-hover thead {
	background: #999;
	line-height: 36px;    /* position: fixed; */
}
.register .modal-dialog {
	width: 75%;
}
.register .modal-dialog fieldset {
	min-width: 0;
	margin: 0;
	border: 0;
	border: solid 1px #ccc;
	padding: 0 10px;
	border-radius: 20px;
	background: #F9F9F9;
	margin-bottom: 15px;
}
.register .modal-dialog legend {
	font-size: 15px;
	background: #ccc;
	border: solid 1px #ccc;
	padding: 2px 6px!important;
	border-radius: 7px;
	margin: 15px;
}
.fst fieldset strong {
	color: #000;
	position: relative;
	top: -1px;
	line-height: 13px;
	font-weight: 300;
	margin: 8px;
	font-size: 13px;
}
.fst fieldset strong input[type="checkbox"] {
	width: 18px;
	height: 16px;
	padding: 18px;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 4px;
}
.form-group .btn-file {
	min-height: 27px;
}
/*datatable*/
table.dataTable {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important
}
table.dataTable td, table.dataTable th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
	white-space: nowrap
}
div.dataTables_wrapper div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap
}
div.dataTables_wrapper div.dataTables_length select {
	width: 75px;
	display: inline-block
}
div.dataTables_wrapper div.dataTables_filter {
	/*text-align: right*/
}
div.dataTables_wrapper div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left
}
div.dataTables_wrapper div.dataTables_filter label.ful {
    width: 100%;
}
.card div.dataTables_wrapper div.dataTables_filter label.ful {
    width: 80%;
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto
}
div.dataTables_wrapper div.dataTables_info {
	padding-top: 8px;
	white-space: nowrap
}
div.dataTables_wrapper div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap
}
table.dataTable thead>tr>th, table.dataTable thead>tr>td {
	padding-right: 30px
}
table.dataTable thead>tr>th:active, table.dataTable thead>tr>td:active {
	outline: none
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
	position: absolute;
	bottom: 8px;
	right: 8px;
	display: block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5
}
table.dataTable thead .sorting:after {
	opacity: 0.2;
	content: "\e150"
}
table.dataTable thead .sorting_asc:after {
	content: "\e155"
}
table.dataTable thead .sorting_desc:after {
	content: "\e156"
}
table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
	color: #eee
}
div.dataTables_scrollHead table.dataTable {
	margin-bottom: 0 !important
}
div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important
}
div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
	display: none
}
div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
	border-top: none
}
div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none
}

@media screen and (max-width: 767px) {
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
	text-align: center
}
}
table.dataTable.table-condensed>thead>tr>th {
	padding-right: 20px
}
table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
	top: 6px;
	right: 6px
}
table.table-bordered.dataTable {
	border-collapse: separate !important
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
	border-left-width: 0
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
	border-right-width: 0
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
	border-bottom-width: 0
}
div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0
}

/*datatable end*/
.row.clintlist.client .container {
    width: 100%;
}