﻿
@{
    ViewBag.Title = "Latest Registered Users";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/ManageUser/NewlyRegisterUserList">Latest Registered Users</a></li>

</ul>
<!-- END BREADCRUMB -->

<div class="page-content-wrap">
    <div class="row">
        <div class="row">
            <div class="col-md-12" id="newlyRegisteredUserDIV">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="block">
                                <h2> Latest Registered Users</h2>
                            </div>
                            <table class="table table-striped" id="newlyRegisteredUserDataTable">
                                <thead>
                                    <tr>
                                        <th style="display:none">UserID</th>
                                        <th>NAME</th>
                                        <th>EMAIL ADDRESS</th>
                                        <th>COMPANY NAME</th>
                                        <th>DATE</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal in" id="editUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-backdrop  in" style="height: 554px;"></div>
    <div class="modal-dialog modal-md" style="margin-top: 5px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Edit User </h4>
            </div>
            <div class="modal-body">
                @*<div class="form-group">
                    <div class=" addlogo center " style="">
                        <div class="avatar" id="Divlogo">
                            <p class="mid" id="imagelogo"><img id="editlogo" title="Company Logo" alt="" src="" width="100%"></p>
                            <div class="kv-avatar center-block">
                                <input type="file" accept="image/jpeg, image/png" id="editProfile" class="addcompanyrequired form-control" data-original-title="" title="">
                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <i>160 x 60 pixel recommended !</i>
                                    </div>
                                </div>*@
                <form class="form-horizontal">

                    <input type="hidden" id="editUserId" />

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Email ID *</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="email" name="editEmail" class="form-control" id="editEmail" maxlength="50" required disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> Name *</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editFullname" id="editFullname" maxlength="64" required disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Company *</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editCompanyName" id="editCompanyName" maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> Designation * </label>
                        <div class="col-md-6 col-xs-12">
                            <select class="form-control" id="editDesignation" required>
                                <option value="">--Select--</option>
                                @foreach (var item in ViewBag.Designation)
                                {
                                    <option value="@item.DesignationId">@item.Designation</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> Address</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editStreetAddress" id="editStreetAddress" maxlength="80" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> State </label>
                        <div class="col-md-6 col-xs-12">
                            <select class="form-control" name="editState" id="editState" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> City </label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editCity" id="editCity" maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label"> Zip </label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editZipCode" id="editZipCode" maxlength="5" required pattern="^(0|[1-9][0-9]*)$">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Phone # *</label>
                        <div class="col-md-6 col-xs-12">
                            <input type="text" class="form-control" name="editPhone" id="editPhone" maxlength="15" required pattern="^(0|[1-9][0-9]*)$">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Status</label>
                        <div class="col-md-6 col-xs-12">
                            <select class="form-control" name="editStatus" id="editStatus" required>
                                <option value="4" selected="selected" disabled="disabled">Pending</option>
                                <option value="17" disabled="disabled">Verified</option>
                                <option value="18">Approved</option>
                                <option value="19">Disapproved</option>
                                @*<option value="1">Active</option>
                                    <option value="2">Deactivated</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Req. Projects</label>
                        <div class="col-md-8 col-xs-12">
                            <textarea class="form-control" id="editrequestedprojects" maxlength="500"> </textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="mybtn" name="btnUpdateUser" id="btnUpdateUser">Save</button>
                <button class="light mybtn" type="reset" name="btnCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/DashboardUserList.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<style>
       .colHide {
        display: none;
    }
     .dataTables_processing {
        text-align: center;
    }
</style>

