﻿@model SchindlerCustomerPortal.Models.UserPermissionViewModel
@{
    ViewBag.Title = (ViewBag.userManagement == "User Management") ? "User Management" : "Employee Management" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #dt_tblProjectAssign th:last-child, #dt_tblProjectAssign td:last-child {
        display: none;
    }

    .dataTables_processing {
        text-align: center;
    }
    th.dt-center, td.dt-center { text-align: center; }

    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide
    {
        display:none;
    }
    #editUser .modal-dialog {
        margin: 5px auto;
    }
    #AddUser .modal-content {
        max-height: 575px;
        overflow-y: scroll;
    }
    #AddUser .modal-content::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    #AddUser .modal-content::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.4);
        border-radius: 10px;
    }
    #AddUser .modal-backdrop.in {
        height:inherit !important;
    }
    
</style>

<div id="LoadingImage" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
    <p style="position: absolute; color: White; top: 40%; left: 43%;">
        <img src="~/img/wait.gif" width="150px" height="150px" />
        <br />
        <b>Loading, please wait...</b>
    </p>
</div>

<div class="page-content-wrap">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
        @if (@ViewBag.userManagement == "User Management")
        {
            <li> <a href="/managecompany/list"> Account Management</a></li>
        }
        <li> <a href="javascript:void(0)"> @ViewBag.userManagement</a></li>
        @*<li> <a href="javascript:void(0)"> @ViewBag.userManagement</a></li>*@
    </ul>
    <!-- END BREADCRUMB -->
    <!-- PAGE TITLE -->

    @{ var addNew = (ViewBag.userManagement == "User Management" ? "Add New User" : "Add New Employee");
        var editNew = (ViewBag.userManagement == "User Management" ? "Edit User" : "Edit Employee");
    }


    <div class="page-title">
        <h2> @ViewBag.userManagement [@ViewBag.companyName]</h2>
    </div>
    <!-- END PAGE TITLE -->

  
    <input type="hidden" value="@ViewBag.userManagement" id="hdnCheckUsermanagement" />
    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">

                        <div class="dataTables_filter">
                            <label>
                                @*Search:*@
                                <input type="search" class="" placeholder="Search" name="UserDatatableSearch" id="UserDatatableSearch" aria-controls="DataTables_Table_0">
                            </label>
                        </div>

                        <div class="cstm text-right" id="ffff">
                            @if (Model.HasAddPermission)
                            {
                                <button class=" mybtn" id="btnAddnewUser" onclick="AddNewUserPopUpOpen();">
                                    Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            }
                        </div>

                        <input type="hidden" value="@ViewBag.companyId" id="companyId" />

                        <table class="table datatable table-striped lasttd" id="UserDatatable">
                            <thead>
                                <tr>
                                    <th style="display:none">ID</th>
                                    <th>Name</th>
                                    <th>Phone #</th>
                                    <th>Email</th>
                                    <th>Designation</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>

                        @*<div class="row">
                                <div class="col-sm-5 pull-left">

                                </div>
                                <div class="col-sm-7 pull-right">
                                    <div class="dataTables_paginate paging_simple_numbers" id=" ">
                                        <ul class="pagination flatpagi">
                                            <li><a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#" class="active">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--model add user -->
    <div class="modal in" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-backdrop  in" style="height: 554px;"></div>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">@addNew</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="addlogo center " style="">
                            <div class="avatar" id="Divlogo">
                                <p class="mid" id="imagelogo"><img id="addlogo" title="User Profile Picture" alt="" src="~/img/no_images.png" width="100%"></p>
                                <div class="kv-avatar center-block kv-avatar-remove" onclick="SetNoImage('addProfile','addlogo','Add');"  data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove User Profile Pic">
                                    @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                </div>
                                <div class="kv-avatar center-block">
                                    <input type="file" accept="image/jpeg, image/png" name="addProfile" id="addProfile" class="addcompanyrequired form-control" data-original-title="" title="">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <i>160 x 60 pixel recommended !</i>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Email ID *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="email" class="form-control" id="addEmail" name="addEmail" maxlength="50" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Name *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="addFullname" id="addFullname" maxlength="64" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Designation * </label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control " name="addDesignation" id="addDesignation" required>
                                    <option value="">--Select--</option>
                                    @foreach (var item in ViewBag.Designation)
                                    {
                                        <option value="@item.DesignationId">@item.Designation</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Address</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="addStreetAddress" id="addStreetAddress" maxlength="80" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> State </label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control " name="addState" id="addState" required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> City </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="addCity" id="addCity" maxlength="50" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Zip</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="addZipCode" id="addZipCode" maxlength="5" required pattern="^(0|[1-9][0-9]*)$">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Phone # *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="addPhone" id="addPhone" maxlength="15" required pattern="^(0|[1-9][0-9]*)$">
                            </div>
                        </div>
                      
                        <div id="divProfileUnsubscribeAdd" class="form-group" style="display:none">
                            <label class="col-md-3 col-xs-12 control-label"></label>
                            <div class="col-md-9 col-xs-12">
                                <input type="checkbox" id="profileUnsubscribeAdd" name="profileUnsubscribe" 
                                       style="float:left; margin-top:4px;">
                                <span style="font-size:13px; ">Unsubscribe from milestone update email notifications
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="mybtn" type="button" id="btnAddUser">Save</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--model add user end-->



    <div class="modal" id="editUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">@editNew</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6 col-md-6">
                        @*<div class="form-group">
                                <div class=" addlogo center " style="">
                                    <div class="avatar" id="Divlogo">
                                        <p class="mid" id="imagelogo"><img id="editUserpic" title="Profile" alt="" width="100%"></p>
                                        <div class="kv-avatar center-block">
                                            <input type="file" accept="image/jpeg, image/png" id="editpic" class="addcompanyrequired form-control">
                                            <input type="hidden" id="editpicFilename" />
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <i>160 x 60 pixel recommended !</i>
                                </div>
                            </div>*@
                        <form class="form-horizontal">

                            <input type="hidden" id="edituserid" />

                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Email ID</label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editemail" id="editemail" maxlength="20" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> Name *</label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editFullname" id="editFullname" maxlength="64" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> Designation *</label>
                                <div class="col-md-8 col-xs-12">
                                    <select class="form-control " name="editDesignation" id="editDesignation" required>
                                        @foreach (var item in ViewBag.Designation)
                                        {
                                            <option value="@item.DesignationId">@item.Designation</option>
                                        }
                                    </select>
                                    @*<div class="btn-group bootstrap-select form-control select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Superintendent"><span class="filter-option pull-left">Superintendent</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Superintendent</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Project Manager</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Sales Executive</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Resource</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> Address </label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editStreetAddress" id="editStreetAddress" maxlength="80" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> State </label>
                                <div class="col-md-8 col-xs-12">
                                    <select class="form-control " name="editState" id="editState" required></select>
                                    @*<div class="btn-group bootstrap-select form-control select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Superintendent"><span class="filter-option pull-left">Superintendent</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner selectpicker" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Superintendent</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">Project Manager</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Sales Executive</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Resource</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> City </label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editCity" id="editCity" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label"> Zip </label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editZipCode" id="editZipCode" maxlength="5" required pattern="^(0|[1-9][0-9]*)$">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Phone # *</label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="text" class="form-control" name="editphone" id="editphone" maxlength="15" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Status</label>
                                <div class="col-md-8 col-xs-12">
                                    @*<div class="btn-group bootstrap-select form-control select dropdown">*@
                                    <select class="form-control " name="editStatus" id="editStatus" required>
                                        @*<option value="">--Select--</option>*@
                                        <option value="4" disabled="disabled">Pending</option>
                                        <option value="17" disabled="disabled">Verified</option>
                                        <option value="18">Approved</option>
                                        <option value="19">Disapproved</option>
                                        <option value="1">Active</option>
                                        <option value="2">Deactivated</option>

                                        @*<option>Process</option>
                                            <option>Approved</option>*@
                                    </select>
                                    @*<div class="btn-group bootstrap-select form-control select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Pending" aria-expanded="false"><span class="filter-option pull-left">Pending</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open" style="max-height: 288px; overflow: hidden; min-height: 123px;"><ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 286px; overflow-y: auto; min-height: 121px;"><li rel="0" class=""><a tabindex="0" class="" style=""><span class="text">Pending</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1" class="selected"><a tabindex="0" class="" style=""><span class="text">Pending</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Active</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">Process</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="4"><a tabindex="0" class="" style=""><span class="text">Approved</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>*@
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-xs-12 control-label">Requested Projects</label>
                                <div class="col-md-8 col-xs-12">
                                    <textarea class="form-control" name="editrequestedprojects" id="editrequestedprojects" maxlength="500"> </textarea>
                                </div>
                            </div>
                            <div id="divProfileUnsubscribeEdit" class="form-group" style="display:none">
                                <label class="col-md-4 col-xs-12 control-label"></label>
                                <div class="col-md-8 col-xs-12">
                                    <input type="checkbox" id="profileUnsubscribeEdit" name="profileUnsubscribe"
                                           style="float:left; margin-top:4px;">
                                    <span style="font-size:13px;">
                                        Unsubscribe from milestone update email notifications
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        @*<table class="table datatable table-striped" id="dt_UserModulePermission">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Application</th>
                                    </tr>
                                </thead>
                            </table>*@

                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label">Profile Picture</label>
                            <div class="addlogo center" style="">
                                <div class="avatar" id="Divlogo">
                                    <p class="mid" id="imagelogo"><img id="editUserpic" title="Profile" alt="" width="100%"></p>
                                    
                                    <div class="kv-avatar center-block kv-avatar-remove" onclick="SetNoImage('editpic', 'editUserpic','Edit');" data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove User Profile Pic">
                                        @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                    </div>

                                    <div class="kv-avatar center-block">
                                        <input type="file" accept="image/jpeg, image/png" id="editpic" class="addcompanyrequired form-control">
                                        <input type="hidden" id="editpicFilename" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <i>160 x 60 pixel recommended !</i>
                            </div>
                        </div>

                        <h4>Application Access</h4>
                        <div class="userPermission mCustomScrollbar">
                            <div class=" col-md-12 treed">
                                <ul id="tree1">


                                    @*<li>
                                            <input type="checkbox" class="icheckbox" /> <a href="#">TECH</a>
                                            <ul>
                                                <li><input type="checkbox" class="icheckbox" /> Company Maintenance</li>
                                                <li>
                                                    <input type="checkbox" class="icheckbox" /> Employees
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" class="icheckbox" /> Reports
                                                            <ul>
                                                                <li> <input type="checkbox" class="icheckbox" /> Report1</li>
                                                                <li> <input type="checkbox" class="icheckbox" /> Report2</li>
                                                                <li> <input type="checkbox" class="icheckbox" /> Report3</li>
                                                            </ul>
                                                        </li>
                                                        <li> <input type="checkbox" class="icheckbox" /> Employee Maint.</li>
                                                    </ul>
                                                </li>
                                                <li> <input type="checkbox" class="icheckbox" /> Human Resources</li>
                                            </ul>
                                        </li>*@


                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="mybtn updt" type="button" id="btnUpdateUser">Update</button>
                    <button type="button" id="btnDeleteUser" class="delete mybtn">Delete</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <!--model project assign to user -->
    <div class="modal in" id="ProjectAssignModal" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-backdrop  in" style="height: 554px;"></div>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Assign Project to <span class="hdnUserFisrtName"></span> of @ViewBag.companyName</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">

                        @*<div class="dataTables_filter">
                                <label>
                                    <input type="search" class="" placeholder="Search" id="txtProjectAssignSearch" aria-controls="DataTables_Table_0">
                                </label>
                            </div>*@
                        <div style="font-size: small;">
                            Note: Unsubscribe from milestone update email notifications
                        </div>
                        <table  class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class='text-left'>Unsubscribe</th>
                                    <th style="text-align:left">Project Name</th>
                                </tr>
                            </thead>
                            <tbody id="tblProjectAssign">

                            </tbody>
                        </table>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="mybtn" type="button" name="btnUpdateUserProject">Save</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--model project assign to user end-->
    <!--model project assign to Employee -->
    <div class="modal in" id="ProjectAssignModalForEmployee" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-backdrop  in" style="height: 554px;"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Assign Project to <span class="hdnUserFisrtName"></span> of @ViewBag.companyName</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">

                        @*<div class="dataTables_filter">
                            Search
                                                        <label>
                                                            <input type="search" class="" placeholder="Search" id="txtProjectAssignSearch" aria-controls="DataTables_Table_0">
                                                        </label>
                                                    </div>*@

                        @*<table id="tblProjectAssign" class="table table-hover"></table>*@

                        <div class="mCustomScrollbar" style="height: 400px; padding-bottom: 2px;">

                            <table class="table datatable table-striped" id="dt_tblProjectAssign">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="chkAllProjectAssign" id="chkAllProjectAssign" /> </th>
                                        <th style="border-bottom: 1px solid #d3d3d3;"><input type="checkbox" name="chkAllUnsubscribe" id="chkAllUnsubscribe" />Unsubscribe</th>
                                        <th>Company</th>
                                        <th>Project No</th>
                                        <th>Project Name</th>
                                        <th style="display:none;">Project Name</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="mybtn" type="button" name="btnUpdateUserProject">Save</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--model project assign to Employee end-->

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userStatusModel" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p id="statusText" style="color: red; font-size: large; text-align: center"></p>
                    <input type="hidden" id="hdnStatusValue" />
                    <input type="hidden" id="hdnStatusForUserID" />
                    <input type="hidden" id="hdnStatusForUserEmail" />
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" id="btnStatusYes" class="mybtn" value="Yes">
                    <input data-dismiss="modal" type="button" id="btnStatusNo" class="mybtn" value="No">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userDeleteConfirmModel" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p id="userDeleteMessage" style="color: red; font-size: large; text-align: center"></p>
                </div>
                <div class="modal-footer">
                    @*<input data-dismiss="modal" type="button" id="btnDeleteYes" class="btn btn-success" value="Yes">
                        <input data-dismiss="modal" type="button" id="btnDeleteNo" class="btn btn-danger" value="No">*@

                    <button class="mybtn" id="btnDeleteYes">Ok</button>
                    <button class="light mybtn" id="btnDeleteNo" type="button" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Custom/User.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script>

    $('.user img').css('height','50%');
</script>



