﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Schindler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
    <style>

      .x-dashboard .page-container .page-content .page-content-wrap .x-hnavigation 
      {
    float: left;
    width: 100%;
    background: #FFF;
    line-height: 70px;
    /* height: 70px; */
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}
        .x-dashboard .page-container .page-content .page-content-wrap .x-hnavigation .x-hnavigation-logo {
    float: left;
    /* width: 180px; */
    width: 120px;
    height: 70px;
}
        .x-dashboard .page-container .page-content .page-content-wrap .x-hnavigation .x-hnavigation-logo > a {
    float: left;
    width: 100%;
    height: 70px;
    /* background: url(../img/logo-black.png) left center no-repeat; */
    background: url(../img/logo-1.png) top center no-repeat;
    font-size: 0px;
    text-indent: 9999px;
    overflow: hidden;
    background-size: 70px;
    margin: 7px 0;
}

    </style>
</head>
<body class="x-dashboard">
    <!-- START PAGE CONTAINER -->
   

        <!-- START PAGE SIDEBAR -->
        <div class="page-container">
            <div class="page-content">
                <div class="page-content-wrap">
                    <div class="x-hnavigation">
                        <div class="x-hnavigation-logo"> <a href="javascript:void(0)"> </a> </div>
                        <!-- Dynamic Navigation -->
                    </div>
                </div>
                <!-- END X-NAVIGATION VERTICAL -->
                
                <!-- START BREADCRUMB --><!-- END BREADCRUMB -->
                <!-- PAGE CONTENT WRAPPER -->


                <div class="row">
                    <div class="col-md-12">

                        <div class="error-container">
                            <div class="error-code">404</div>
                            <div class="error-text">page not found</div>
                            <div class="error-subtext">Page you have requested has been moved or link you have used is expired.</div>
                            @*<div class="error-actions text-center">
                                <a id="lnkok" href="/Login/userlogin/" data-dismiss="modal" class="mybtn">Back to Login</a>
                            </div>*@


                        </div>

                    </div>


                </div>
            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
   
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START PRELOADS -->
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapFinal")

    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
</body>
</html>






