﻿@model IEnumerable<UserPermissionViewModel>
@using SchindlerCustomerPortal.Models;
@using SchindlerCustomerPortal.Common;


@helper RenderSubMenuLine(UserPermissionViewModel menu, int level)
{
    if (@menu.ModuleDisplayName != "User Management" || User.RoleId == 2 || User.RoleId == 4)
    {


    if (@menu.HasViewPermission)
    {
            <li class="xn-openable  ">
                <a href="@menu.ModuleURL">
                    @Html.Raw(menu.ModuleDisplayName)
                </a>
                <ul>
                    @foreach (var submenu in menu.SubMenus)
                    {
                        @RenderMenuLine(submenu, level + 1)
                    }
                </ul>
            </li>
    }

}
    @*<li>
        <a href="@Url.Action("CustomCategory", "Catalog", new { SeName = category.SeName, flag = "IsActive" })">
            @category.Name
            &nbsp;<i class="fa fa-angle-down"></i>
            &nbsp;<i class="fa fa-angle-right"></i>
        </a>
        <ul class="dropdown-menu">
            @foreach (var subCategory in category.SubCategories)
            {
                @RenderCategoryLine(subCategory, level + 1)
            }
        </ul>
    
    </li>*@
}

@helper RenderMenuLine(UserPermissionViewModel menu, int level)
{
if (menu.SubMenus.Count > 0)
{
        @RenderSubMenuLine(menu, 0)
}
else
{
    if (@menu.ModulePermissionName != "User Management" || User.RoleId == (int)UserRole.CustomerAdmin || User.RoleId == (int)UserRole.Customer)
    {
        if (@menu.HasViewPermission)
        {
            <li>
                <a href="@menu.ModuleURL">
                    @Html.Raw(menu.ModuleDisplayName)
                </a>
            </li>
            }
        }

    }
}

@*<nav class="navbar" role="navigation">
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <div class="container ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">*@

            <ul>

                @foreach (var item in Model)
                {
                    @RenderMenuLine(item, 0)
                    @*<li> <a href="@item.ModuleURL"> @item.ModuleDisplayName </a></li>*@
                }



                @*<li class="active"> <a href="#"> My Projects </a></li>
                    <li> <a href="#"> Documents Management </a></li>
                    <li> <a href="#">Invoices </a></li>
                    <li> <a href="#"> Resource Center</a></li>
                    <li> <a href="#"> Messages </a></li>
                    @if (User.RoleId == (int)SchindlerCustomerPortal.Common.UserRole.SuperAdmin || User.RoleId == (int)SchindlerCustomerPortal.Common.UserRole.Employee)
                    {
                        <li> <a href="/managecompany/list"> Admin</a></li>
                    }*@

            </ul>







        @*</div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>*@

