﻿
@{
    ViewBag.Title = "Unauthorized Access";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center><h2>Unauthorized Access</h2></center>
<br />
<br />
<br />
<br />
<center><h3>You don't have permission to access this module.</h3></center>

