﻿@{
    ViewBag.Title = "Project Document Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        /*a.btnsml_action.e-view.round */
        .accessallowed {
            box-shadow: 0px 0px 1px 1px green !important;
        }
        /*.accessallowed {
            border-color: green;
            border-radius: 1px;
        }*/
    </style>
</head>

<ul class="breadcrumb">
    <li><a href="dashboard.html">Dashboard</a></li>
    <!-- <li><a href="#">Tables</a></li>-->
    <li class="active">@*<a href="list">*@Project Document Management@*</a></li>*@
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2> Project Document Management</h2>


</div>

@*<div class="row breadcumb">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="btn-group btn-breadcrumb"> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a> <a href="#" class="btn btn-default">@ViewBag.ProjectName</a></div>
            </div>
        </div>
    </div>
</div>

<div class="row clintlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main margn">
                <div class="container">

                    <div class="col-lg-3 col-md-3 col-sm-2 pull-right rightpad">
                        <i class="img-rnd"><a href="#" data-toggle="modal" data-target="#AddDocument">Add New <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></i>
                        <i class="img-rnd pading dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/info.png" height="25px" />

                            </a>
                            <ul class="dropdown-menu icons">
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-edit.png"></span>Edit</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-delete.png"></span>Delete</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-sammery.png"></span>Sammary</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact-document.png"></span>Contract Document</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact.png"></span>Contact</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-drawing.png"></span>Drawing</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-milestone.png"></span>Project Milestone</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-signature.png"></span>Signature</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-project-planner.png"></span>Project Planner</a></li>
                            </ul>
                        </i>
                    </div>

                    <input type="hidden" value="@ViewBag.ProjectID" id="projecid" />
                    <input type="hidden" value="@ViewBag.ProjectName" id="projectname" />
                    <input type="hidden" value="@ViewBag.DocType" id="doctypebypage" />

                    <table class="table usertbl example table-hover bdt" id="ContractDocumenttable">
                        <thead>
                            <tr>
                                

                                <th><span class="sort-element">Document Name</span></th>
                                <th><span class="sort-element">Descriptions</span></th>
                                <th><span class="sort-element">Status</span></th>
                                <th><span class="sort-element">Created</span></th>
                                <th><span class="sort-element">Date</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>

                    </table>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="cstm text-right" id="ffff">
                        <input type="hidden" value="@ViewBag.ProjectID" id="projecid" />
                        <input type="hidden" value="@ViewBag.ProjectName" id="projectname" />
                        <input type="hidden" value="@ViewBag.DocType" id="doctypebypage" />

                        <button class=" mybtn" data-toggle="modal" data-target="#AddDocument"> Add New <i class="fa fa-plus"></i></button>
                    </div>
                    <table class="table usertbl example table-hover bdt" id="ContractDocumenttable">
                        <thead>
                            <tr>


                                <th><span class="sort-element">Document Name</span></th>
                                <th><span class="sort-element">Descriptions</span></th>
                                <th><span class="sort-element">Status</span></th>
                                <th><span class="sort-element">Created</span></th>
                                <th><span class="sort-element">Date</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--model add user -->
<div class="modal fade modelform" id="AddDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">
                            
                            <b><label id="projname"></label></b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control docsrequired" maxlength="64" id="addDocumentName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type</label>
                        <div class="col-sm-9">
                            <select id="adddoctype" class="form-control docsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status</label>
                        <div class="col-sm-9">
                            <select id="addstatustype" class="form-control docsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea rows="4" cols="5" id="addDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="dpExpDate">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published On</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="dppublishDate">

                        </div>
                    </div>


                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                            <input type="file" multiple id="attachDocument" class="form-control docsrequired">
                        </span>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="mybtn" id="btnAddDocument">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
                </div>
                <input type="hidden" id="editDocumentid" />

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">

                            <b><label id="editprojname"></label></b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control editdocsrequired" maxlength="64" id="editDocumentName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                        <div class="col-sm-9">

                            <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status</label>
                        <div class="col-sm-9">
                            <select id="editstatustype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="editExpDate">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published On</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="editpublishDate">

                        </div>
                    </div>


                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                            <input type="file" multiple id="editattachDocument" class="form-control">
                        </span>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnUpdateDocument">Update</button>
                    <button type="submit" class="btn btn-danger" id="btnDeleteDocument">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part -->
<!-- model permission -->


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/ProjectDocument.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>



