﻿@using SchindlerCustomerPortal.Models






<div class="content-frame-body" style="height: 491px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <label class="check mail-checkall">
                @*<div class="icheckbox_minimal-grey" style="position: relative;">*@
                    <input type="checkbox" class="" id="chkAllMail" >
                    @*<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                    </ins>*@
                @*</div>*@
            </label>
            <div class="btn-group">
                @*<button class="btn btn-default"><span class="fa fa-mail-reply"></span></button>
                <button class="btn btn-default"><span class="fa fa-mail-reply-all"></span></button>
                <button class="btn btn-default"><span class="fa fa-mail-forward"></span></button>*@
            </div>

            <button class="btn btn-default" id="btnAllDelete"><span class="fa fa-trash-o"></span></button>
            <div class="pull-right">

                <div id="mailBoxSearchbox" class="" style="float: left;padding-left: 5px;padding: 0px 0px 5px;">
                    <label>
                        <input type="search" class="mailSearchBox" placeholder="Search " id="txtSearchMail" aria-controls="DataTables_Table_0">
                    </label>
                </div>

            </div>
        </div>
        <div class="panel-body mail">

            <table class="table" id="dt_MailBox">
                <thead>
                    <tr>
                        <th><span class="sort-element">Select All</span></th>
                        <th><span class="sort-element">Sender</span></th>
                        <th><span class="sort-element">Message</span></th>
                        @*<th><span class="sort-element">Attachment</span></th>*@
                        <th><span class="sort-element">Date</span></th>
                    </tr>
                </thead>

            </table>

            @*<div class="mail-item  ">
                <div class="mail-checkbox">
                    <div class="icheckbox_minimal-grey" style="position: relative;">
                        <input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;">
                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                        </ins>
                    </div>
                </div>

                <div class="mail-user">Dmitry Ivaniuk</div>
                <a href="messages-inner.html" class="mail-text">Product development</a>
                <div class="mail-date">Today, 11:21</div>
            </div>*@

            

        </div>

        @*<div class="panel-footer" id="ffff">
    <div class="btn-group">
        <button class="btn btn-default"><span class="fa fa-mail-reply"></span></button>
        <button class="btn btn-default"><span class="fa fa-mail-reply-all"></span></button>
        <button class="btn btn-default"><span class="fa fa-mail-forward"></span></button>
            </div>

            <button class="btn btn-default" id="btnAllDelete"><span class="fa fa-trash-o"></span></button>

            <div class="dataTables_paginate paging_simple_numbers" id=" ">
                    <ul class="pagination flatpagi">
                        <li><a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
        </div>
    </div>*@

</div>




















