﻿
@{
    ViewBag.Title = "Mailbox";
}

@*<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>*@
@*<link href="~/Content/mailBox.css" rel="stylesheet" />*@

<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/js/dropzone/dropzone.min.js"></script>
<script src="~/js/Custom/MailBox.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



<style>
    .forPadding {
        padding-top: 0px;
        margin-bottom: 0;
        text-align: right;
    }

    /*.inbox-head-subject {
        background: none repeat scroll 0 0 #fff;
        border-radius: 0 4px 0 0;
        color: #000000;
        min-height: 80px;
        padding: 20px;
    }*/
    .mail-item {
        float: initial !important;
    }

    .mailSearchBox {
        width: 210px;
        display: inline;
        margin-left: 5px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 0px;
        padding: 0px 10px;
        background: url(../img/search.png) no-repeat;
        background-position: right 5px center;
        background-size: 20px;
    }
    .hideMailSearchBox{
        display: none;
    }
     .dataTables_processing {
        text-align: center;
    }
</style>

<div id="LoadingImage" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
    <p style="position: absolute; color: White; top: 40%; left: 43%;">
        <img src="~/img/wait.gif" width="150px" height="150px" />
        <br />
        <b>Loading, please wait...</b>
    </p>
</div>

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    @*<li> <a href="/managecompany/list"> Account Management</a></li>*@
    <li> <a href="javascript:void(0)"> Messages</a></li>
    @*<li> <a href="javascript:void(0)"> @ViewBag.userManagement</a></li>*@
</ul>

<div class="row">

    <div class="page-title">
        <h2>  Inbox <small id="headMailCount"></small></h2>
    </div>

    <div class="col-md-12">

        <div class="content-frame">

            <div class="col-md-12 block">
                <div class="content-frame-top">
                    <div class="pull-right">
                        <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
                    </div>
                </div>
            </div>

            <!-- mail sideBar Navigation -->
            @Html.Action("MailSideBar", "MailBox")

            <input type="hidden" id="hdnMailId" />

            <div id="divPartial">
                @{ if (Request.QueryString["to"] == null)
                {
                    if (Request.QueryString["mail"] != null)
                    {
                <div> @Html.Action("ReadMail", "MailBox", new { ReadmailId = Convert.ToString(Request.QueryString["mail"]) })</div>
                @*<div> @Response.Redirect("/MailBox/ReadMail?ReadmailId="+Convert.ToString(Request.QueryString["mail"]));</div>*@
                    }
                    else
                    {
                <div>@Html.Action("CompanyMail", "MailBox")</div>
                    }
                }
                else
                {
                <div> @Html.Action("NewMail", "MailBox", new { to = Convert.ToString(Request.QueryString["to"]) })</div>
                }
                }
            </div>

        </div>

    </div>

</div>

@*<script>
    CKEDITOR.replace('txtMessage');
</script>*@

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mailSentSuccess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @*<form id="mailSentSuccessForm"></form>*@
                <p style="color: green; font-size: large; text-align: center" id="">Message sent successfully</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="mailSentSuccessOK">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mailDeleteSuccess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @*<form id="mailDeleteSuccessForm"></form>*@
                <p style="color: green; font-size: large; text-align: center" id="">Message deleted successfully</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="mailDeleteSuccessOK">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mailSentFailure" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @*<form id="mailSentSuccessForm"></form>*@
                <p style="color: Red; font-size: large; text-align: center" id="">Unable to send email, Please try again later.</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="mailSentFailureOK">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="WrongMail" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: Red; font-size: large; text-align: center">Email address does not exist in the system.</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="mailWrongMailOk">
            </div>
        </div>
    </div>
</div>











