﻿@using SchindlerCustomerPortal.Models
@model MailBoxEntity



<style>
    .table-inbox tr.unread td {
        background: none repeat scroll 0 0 #f7f7f7;
        font-weight: 600;
    }

    /*#dt_MailBox_wrapper {
        margin-top: -32px !important;
    }*/
</style>



<div class="content-frame-left" style="height: 481px;">
    <div class="block">
        <a href="javascript:void(0)" id="btnNewMail" class="btn btn-danger btn-block btn-lg"> <span class="zoomOutUp">COMPOSE</span></a>
    </div>
    <div class="block">
        <div class="list-group border-bottom">
            <a href="javascript:void(0)" id="btnInbox" class="list-group-item active"><span class="fa fa-inbox"></span> Inbox <span class="badge badge-success" id="inboxCount">@Model.InboxUnreadCount</span></a>
            <a href="javascript:void(0)" id="btnDelete" class="list-group-item"><span class="fa fa-trash"></span> Deleted </a>
            <a href="javascript:void(0)" id="btnDraft" class="list-group-item"><span class="fa fa-file" ></span> Draft<span class="badge badge-warning" id="draftCount">@Model.DraftCount</span></a>

            <a href="javascript:void(0)" id="btnSent" class="list-group-item"><span class="fa fa-location-arrow"></span> Sent Items</a>
        </div>
    </div>

</div>





