﻿@model SchindlerCustomerPortal.Models.MailBoxEntity


<style>
    .ui-autocomplete-loading {
        background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
    }

    .dropzone-previews {
        margin-left: 150px;
        margin-top: 20px;
        height: 200px;
        width: 600px;
        /*border: dashed 1px red;
        background-color: lightblue;*/
    }
</style>

<link href="~/Content/dropzone/dropzone.css" rel="stylesheet" />

<div id="LoadingImage" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
    <p style="position: absolute; color: White; top: 40%; left: 43%;">
        <img src="~/img/wait.gif" width="150px" height="150px" />
        <br />
        <b>Loading, please wait...</b>
    </p>
</div>

<!-- START CONTENT FRAME BODY -->
<div class="content-frame-body">
    <div class="block">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="pull-left">
                        @*<button class="btn btn-default" id="btnSaveDraft"><span class="fa fa-trash-o"></span> Delete Draft</button>*@
                        <button class="btn btn-default" name="btnSaveDraft" id="btnSaveDraft">Save Draft</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="button" id="btnUpSend"><span class="glyphicon glyphicon-send"></span> Send Message</button>
                    </div>
                </div>
            </div>

            @{
                string to = Convert.ToString(Request.QueryString["to"]);
                string cc = "";
                string bcc = "";
                string subject = "";
                string message = "";
                if (Model != null)
                {
                    to = Model.ToList;
                    subject = Model.Subject;
                    cc = Model.CC;
                    bcc = Model.BCC;
                    message = Model.Message;
                }
            }

            @*<div class="form-group">
                <label class="col-md-2 control-label">From:</label>
                <div class="col-md-10">
                    <input type="text" placeholder="" id="txtTo" class="form-control" value="@to">
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-md-2 control-label">To</label>
                <div class="col-md-8">
                    <input type="text" id="txtTo" class="form-control" data-placeholder="add email" value="@to" />
                </div>
                <div class="col-md-2 text-right">
                    <button class="btn btn-default" type="button" id="ccLink">Cc</button>

                    <button class="btn btn-default" type="button" id="bccLink">Bcc</button>
                </div>
            </div>
            <div class="form-group hidden" id="mail-cc">
                <label class="col-md-2 control-label">Cc</label>
                <div class="col-md-10">
                    <input type="text" placeholder="" id="txtCc" class="form-control" value="@cc">
                </div>
            </div>
            <div class="form-group hidden" id="mail-bcc">
                <label class="col-md-2 control-label">Bcc</label>
                <div class="col-md-10">
                    <input type="text" placeholder="" id="txtBcc" class="form-control" value="@bcc">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Subject</label>
                <div class="col-md-10">
                    <input type="text" placeholder="" id="txtSubject" class="form-control" value="@subject">
                </div>
            </div>
            <div class="form-group" id="attachmentDiv">
                <label class="col-md-2 control-label">Attachments</label>
                <div class="col-md-10" id="attchFilename">
                    @*<input type="file" class="file" data-filename-placement="inside" />*@
                    <span class="btn green fileinput-button" id="btnAttachment">
                        <i class="fa fa-plus fa fa-paperclip"></i>
                        <span>Attach</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <textarea class="" id="txtMessage" name="txtMessage">
                        @message
                    </textarea>
                    <script>
                        CKEDITOR.replace('txtMessage', {
                            //removePlugins: 'sourcearea',
                            removeButtons: 'Source',
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="pull-left">
                        @*<button class="btn btn-default" id="btnSaveDraft"><span class="fa fa-trash-o"></span> Delete Draft</button>*@
                        <button class="btn btn-default" name="btnSaveDraft" id="btnSaveDraft">Save Draft</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-danger" type="submit" id="btnSendMail"><span class="glyphicon glyphicon-send"></span> Send Message</button>
                    </div>
                </div>
            </div>

            <div id="previews" class="dropzone-previews"></div>

        </form>
    </div>

</div>
<!-- END CONTENT FRAME BODY -->





<script type="text/javascript">

    var myDropzone = new Dropzone("div#previews", { // Make the whole body a dropzone
        url: "/MailBox/MultipleFileUpload", // Set the url
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: "#btnAttachment", // Define the element that should be used as click trigger to select files.
        maxFiles: 5,
        acceptedFiles: ".jpeg,.jpg,.jpe,.png,.gif,.txt,.pdf,.doc,.docx,.ppt,.pptx,.pps,.ppsx,.odt,.xls,.xlsx,.bim,.rfa,.cad,.acd",
        maxFilesize: 32,
        autoProcessQueue: false,
        parallelUploads: 5,
        uploadMultiple: true
    });

</script>