﻿@using SchindlerCustomerPortal.Models
@model MailBoxEntity

@{
    ViewBag.Title = "ReadMail";
}




<!-- START CONTENT FRAME BODY -->
<div class="content-frame-body">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <img src="@Model.ProfilePic" class="panel-title-image" alt="John Doe" />
                <h3 class="panel-title" id="readmailSender">@Model.UserName <small id="readmailSenderEmail">@Model.Sender</small></h3>
            </div>
            <div class="pull-right">
                <a class="btn btn-default" href="javascript:void(0)" id="btnReply"><span class="fa fa-mail-reply"></span></a>
                <!--<button class="btn btn-default"><span class="fa fa-warning"></span></button>-->
                <button class="btn btn-default" type="button" id="btnForward"><span class="fa fa-mail-forward"></span></button>
                <button class="btn btn-default" type="button" id="btnComposeDelete"><span class="fa fa-trash-o"></span></button>
            </div>
        </div>
        <div class="panel-body mailheight">
            <h3>@Model.Subject <small class="pull-right text-muted"><span class="fa fa-clock-o"></span> @Model.DateSent</small></h3>
            @Html.Raw(Model.Message)

            @*<div class="form-group push-up-20">
                    <label>Quick Reply</label>
                    <textarea class="form-control summernote_lite" rows="3" placeholder="Click to get editor"></textarea>
                </div>*@
        </div>

        @if (Model.HasAttachment)
        {
            int i = 0;
            string[] Size = new string[] { };


            if (!string.IsNullOrEmpty(Model.Size))
            {
                Size = Model.Size.Split('|');

                <div class="panel-body panel-body-table">
                    <h6>Attachments</h6>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="50">type</th>
                            <th>name</th>
                            <th width="100">size</th>
                        </tr>



                        @foreach (var item in Model.AttachmentPath.Split('|'))
                        {

                            {
                                var result = item.LastIndexOf('.');
                                var len = item.Length;
                            }
                            <tr>
                                <td><span class="label label-primary">@item.Substring(item.LastIndexOf('.') + 1, @item.Length - (item.LastIndexOf('.') + 1))</span></td>
                                <td><a href="javascript:void(0)" name="attachment" Fullpath="@item">@item</a></td>
                                <td>@Size[i++] Kb</td>
                            </tr>
                        }
                        
                        
                    </table>
                </div>
            }
        }
            <div class="panel-footer">
                <button class="btn btn-success pull-right" type="button" id="btnReply"><span class="fa fa-mail-reply"></span> Post Reply</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT FRAME BODY -->
