﻿@*@model SchindlerCustomerPortal.Models.UserPermissionViewModel*@
@{
    ViewBag.Title = "Office Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*a.btnsml_action.e-view.round */
    .accessallowed {
        box-shadow: 0px 0px 1px 1px green !important;
    }

    .dataTables_processing {
        text-align: center;
    }
</style>

<div class="page-content-wrap">
    <ul class="breadcrumb">
        <li><a href="/dashboard/index">Dashboard</a></li>
        <li class="active"><a href="/OfficeManager/list">Office Managers</a></li>
    </ul>
    <!-- END BREADCRUMB -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2> Office Managers</h2>
    </div>
    <!-- END PAGE TITLE -->
    <input type="hidden" value="@ViewBag.userManagement" id="hdnCheckUsermanagement" />

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">

                        <div class="dataTables_filter">
                            <label>
                                @*Search:*@
                                <input type="search" class="" placeholder="Search" id="UserDatatableSearch" aria-controls="DataTables_Table_0">
                            </label>
                        </div>

                        @if (User.RoleId == 1 || User.RoleId == 3)
                        {
                            <div class="cstm text-right" id="ffff">                                
                                <button class="mybtn" id="btnAddnewUser" onclick="AddNewOfficeManagerPopUpOpen();">
                                    Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        }


                        <input type="hidden" value="@ViewBag.companyId" id="companyId" />

                        <table class="table datatable table-striped lasttd" id="UserDatatable">
                            <thead>
                                <tr>
                                    <th style="display:none">ID</th>
                                    <th>Name</th>
                                    <th>Phone #</th>
                                    <th>Email</th>
                                    <th>Office Desc</th>
                                    <th>Designation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--model add user -->
    <div class="modal in" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Add New Office Manager</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">First Name *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addFirstName" maxlength="32" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Last Name *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addLastName" maxlength="32" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Office ID*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addOfficeID" maxlength="32" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Phone # *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addPhone" maxlength="12" required pattern="^(0|[1-9][0-9]*)$">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Sap ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addSapID" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> Designation * </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="addDesignation" required>
                                        <option value="">--Select--</option>
                                        <option value="District Manager">District Manager</option>
                                        <option value="Branch Manager">Branch Manager</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Office Desc*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addOfficeDesc" maxlength="80" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Email ID *</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="addEmail" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Street Address</label>
                                <div class="col-sm-8">

                                    <textarea rows="4" id="addStreetAddress" maxlength="500" class="form-control"> </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">State </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="addState"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">City </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="addCity" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> Zip</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" pattern="[0-9]" id="addZipCode" maxlength="5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">

                    <button class="mybtn" type="button" id="btnAddUser">Save</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--model add user end-->
    <!--model edit user start -->
    <div class="modal" id="editUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Edit Office Manager</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">

                        <div class="col-md-6 col-xs-12">
                            <input type="hidden" id="editofficemanagerid" />
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">First Name *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  id="editFirstName" maxlength="32" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Last Name *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editLastName" maxlength="32" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Office ID*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editOfficeID" maxlength="32" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Phone # *</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editPhone" maxlength="15" required pattern="^(0|[1-9][0-9]*)$">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Sap ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editSapID" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> Designation * </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="editDesignation" required>
                                        <option value="">--Select--</option>
                                        <option value="District Manager">District Manager</option>
                                        <option value="Branch Manager">Branch Manager</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Office Desc*</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editOfficeDesc" maxlength="80" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label">Email ID *</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="editEmail" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> Street Address</label>
                                <div class="col-sm-8">
                                    <textarea rows="4" id="editStreetAddress" maxlength="500" class="form-control"> </textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> State </label>
                                <div class="col-sm-8">
                                    <select class="form-control " id="editState"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> City </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editCity" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label"> Zip</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="editZipCode" maxlength="5" pattern="^(0|[1-9][0-9]*)$">
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button class="mybtn updt" type="button" id="btnUpdateUser">Update</button>
                    <button type="button" id="btnDeleteUser" class="delete mybtn">Delete</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
    <!--model edit user end-->
    <!--model View user start -->
    <div class="modal" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">View Office Manager</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">

                        <div class="col-md-6 col-xs-12">
                            <input type="hidden" id="viewofficemanagerid" />
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">First Name</label>
                                <div class="col-sm-8">

                                    <span id="viewFirstName"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Last Name</label>
                                <div class="col-sm-8">

                                    <span id="viewLastName"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Office ID</label>
                                <div class="col-sm-8">

                                    <span id="viewOfficeID"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Phone #</label>
                                <div class="col-sm-8">

                                    <span id="viewPhone"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Sap ID</label>
                                <div class="col-sm-8">

                                    <span id="viewSapID"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Designation</label>
                                <div class="col-sm-8">

                                    <span id="viewDesignation"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Office Desc</label>
                                <div class="col-sm-8">

                                    <span id="viewOfficeDesc"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Email ID</label>
                                <div class="col-sm-8">

                                    <span id="viewEmail"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Street Address</label>
                                <div class="col-sm-8">

                                    <span id="viewStreetAddress"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">State</label>
                                <div class="col-sm-8">

                                    <span id="viewState"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">City</label>
                                <div class="col-sm-8">

                                    <span id="viewCity"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" style="font-weight: bold;">Zip</label>
                                <div class="col-sm-8">

                                    <span id="viewZipCode"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--model view user end-->

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userDeleteConfirmModel" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p id="userDeleteMessage" style="color: red; font-size: large; text-align: center"></p>
                </div>
                <div class="modal-footer">
                    @*<input data-dismiss="modal" type="button" id="btnDeleteYes" class="btn btn-success" value="Yes">
                        <input data-dismiss="modal" type="button" id="btnDeleteNo" class="btn btn-danger" value="No">*@

                    <button class="mybtn" id="btnDeleteYes">Ok</button>
                    <button class="light mybtn" id="btnDeleteNo" type="button" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Custom/OfficeManagers.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide
    {
        display:none;
    }
</style>



