﻿
@{
    ViewBag.Title = "Milestone Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
<li class="active"><a href="/dashboard/index">Dashboard</a></li>

<li><a href="/ProjectMilestones/list">Milestones</a></li>
</ul>
<div class="page-title">
    <h2> Milestone Management</h2>
</div>

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">


                    <div class="dataTables_filter">
                        <label>
                            Search:
                            <input type="search" class="" placeholder="" id="MilestoneDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>


                    <div class="cstm text-right" id="ffff">

                        <input type="hidden" value="@ViewBag.ProjectNo" id="projectNo" />
                        <input type="hidden" id="jobid" value="@ViewBag.JobId" />
                        <input type="hidden" id="addMilestoneid" />
                        <input type="hidden" id="addPredecessorid" />
                        <input type="hidden" id="addSuccessorid" />
                        
                        <button class=" mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddMilestonePopupClose"> Add New <i class="fa fa-plus"></i></button>

                        @*@if (User.RoleId == 1 || User.RoleId == 3)
{
    <button class=" mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>
}*@

                    </div>
                    <table class="table usertbl example table-hover bdt" id="Milestonetable">
                        <thead>
                            <tr>


                                <th><span class="sort-element">Milestone</span></th>
                                <th><span class="sort-element">Predecessor</span></th>
                                <th><span class="sort-element">Successor</span></th>
                                <th><span class="sort-element">Planned Date</span></th>
                                <th><span class="sort-element">Status</span></th>
                                <th><span class="sort-element">Required to Complete</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model add user -->
<div class="modal fade modelform" id="AddMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New </h4>
                </div>

                

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Milestone*</label>
                        <div class="col-sm-9">
                            
                            <select id="milestonetype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Predecessor*</label>
                        <div class="col-sm-9">
                           <select id="predecessortype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Successor*</label>
                        <div class="col-sm-9">
                            <select id="successortype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status*</label>
                        <div class="col-sm-9">
                            <select id="statustype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Required to Complete</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addWaitingon">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Planned Date</label>
                        <div class="input-group">
                            @*<input type="text" class="form-control" id="Addduedate" >*@
                            <input type="text" class="form-control datepicker" id="Addduedate">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Completed Date</label>
                        <div class="input-group">
                            @*<input type="text" class="form-control" id="Addduedate" >*@
                            <input type="text" class="form-control datepicker" id="Addcompleteddate">
                        </div>

                    </div>
                   

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnAddMilestone">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
                </div>
                <input type="hidden" id="editDocumentid" />

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">

                            <b><label id="editprojname"></label></b>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control editdocsrequired" maxlength="64" id="editDocumentName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                        <div class="col-sm-9">

                            <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status</label>
                        <div class="col-sm-9">
                            <select id="editstatustype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="editExpDate">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published On</label>
                        <div class='input-group'>
                            <input type="text" class="form-control" id="editpublishDate">

                        </div>
                    </div>


                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                            <input type="file" multiple id="editattachDocument" class="form-control">
                        </span>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnUpdateDocument">Update</button>
                    <button type="submit" class="btn btn-danger" id="btnDeleteDocument">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part -->
<!-- model permission -->


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/ProjectMilestone.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<script src="~/js/bootstrap-datepicker.js"></script>



<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

</script>

