﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Activate - Schindler Customer Portal</title>
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <!-- Bootstrap -->
    @*@Styles.Render("~/Content/Bootstrap")*@

    <style>
        .invalid {
            background: url(../images/cross.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #ec3f41;
        }

        .valid {
            background: url(../images/tick.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #3a7d34;
        }

        #pswd_info {
            display: none;
        }

        .popover {
            max-width: none;
            width: 300px;
            height: 200px;
        }

        ul {
            list-style-type: none;
        }
    </style>


</head>

<body>

    <div class="login-container lightmode">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">

                <form name="addpasswordform" id="addpasswordform" class="form-horizontal forms" method="post">

                    <div class="form-group">
                        <div class="col-md-6 text-center">
                            <div> </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                @*<input maxlength="12" data-val="true" data-val-required="Password can not be empty!" id="password" name="password" type="password" class="form-control" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12})" placeholder="New Password" required>*@
                                <input type="password" class="form-control" autocomplete="off" maxlength="32" id="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12})" name="password" placeholder="New Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input id="cnfpassword" name="cnfpassword" autocomplete="off" maxlength="32" data-val-required="Password can not be empty!" type="password" class="form-control" placeholder="Confirm Password" required>
                            </div>
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="col-md-6">
                            <button id="activate" class="btn mybtn   btn-block" name="Save" type="submit">Activate</button>
                        </div>

                    </div>

                    <!--<div class="login-subtitle">
                        Don't have an account yet? <a href="#">Create an account</a>
                    </div>-->
                </form>

                <div id="pswd_info">
                    <h4>Password Strength</h4>
                    <ul>
                        <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                        <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                        <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                        <li id="number" class="invalid">At least <strong>one number</strong></li>
                    </ul>
                </div>

            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year Schindler Customer Portal
                </div>

            </div>
        </div>

    </div>

    <!--success modal -->
    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:green;font-size:large">You account has been activated! You can login from <a style="text-decoration:underline" href="/Login/UserLogin">here</a>!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input id="addok" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: green; font-size: large; text-align: center">You account has been activated! You can login from <a style="text-decoration:underline" href="/Login/UserLogin">here</a>!</p>
                </div>
                <div class="modal-footer">
                    <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <!--password fail-->
    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myInvalidModal" class="modal fade" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:red;font-size:large">Something wrong. Please try again!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="InvalidPasswordModal" class="modal fade"  style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:red;font-size:large">Password and Confirm Password are not matched. Please try again!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
   
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@

</body>

</html>

@*<script type="text/javascript">

    </script>*@


<script>

    $(document).ready(function () {

        var passwordValid = true;

        $("#password").val('');
        $("#cnfpassword").val('');

        $('input[name=password]').popover({
            trigger: 'click focus',
            html: true,
            content: function () {
                return $('#pswd_info').html();
            }
        });

        $("#password").focusout(function () {
            $('input[name=password]').popover('hide');

        });

        $('input[name=password]').blur(function () {
            $('input[name=password]').popover('hide');
        });

        $('input[name=password]').on('click focus keyup blur', function () {
            // keyup code here
            passwordValid = true;
            var pswd = $('#password').val();

            //validate total count
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
                passwordValid = false;
            } else {
                $('#length').removeClass('invalid').addClass('valid');
                //passwordValid = true;
            }

            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
                //passwordValid = true;
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
                passwordValid = false;
            }

            //
            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
                //passwordValid = true;
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
                passwordValid = false;
            }



            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
                //passwordValid = true;
            } else {
                $('#number').removeClass('valid').addClass('invalid');
                passwordValid = false;
            }

        });

        $("#addpasswordform").submit(function (e) {
    
            e.preventDefault(e);

            var password = $("#password").val();
            var cnfpassword = $("#cnfpassword").val();
            var token = "@ViewBag.TokenID";

            if (password != cnfpassword) {
                $('#InvalidPasswordModal').modal('show');
                passwordValid = false;
                return false;
            }

            if (passwordValid) {
                $.ajax({
                    url: '/Activate/AddUserPassword',
                    type: 'POST',
                    data: { Token: token, Password: password },
                    dataType: 'json',
                    success: successEmail,
                    error: errorEmail
                });
            }
        });

        function successEmail(data) {
            //
            if (data == 'Success') {
                $('#mySuccessModal').modal('show');
                return false;
            }
            if (data == 'Invalid') {
                $('#myInvalidModal').modal('show');
                return false;
            }
        };

        function errorEmail(data) {
            $('#myInvalidModal').modal('show');
            return false;

        };
    });

    $("#addok").click(function () {
        $('#mySuccessModal').modal('hide');

        var path = window.location.protocol + "//" + window.location.host;
        window.location.href = path;
    });

</script>
