﻿@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Schindler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body class="x-dashboard">
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-container">
            <div class="page-content">
                <div class="page-content-wrap"></div>
                <!-- END X-NAVIGATION VERTICAL -->
                <!-- START BREADCRUMB --><!-- END BREADCRUMB -->
                <!-- PAGE CONTENT WRAPPER -->


                <div class="row">
                    <div class="col-md-12">

                        <div class="error-container">
                            <div class="error-code"></div>
                            <div class="error-text"></div>
                            <div class="error-subtext">@ViewBag.Message</div>
                            <div class="error-actions">
                                @*<div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-block btn-lg" onclick="document.location.href = 'index.html';">Back to dashboard</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-block btn-lg" onclick="history.back();">Previous page</button>
                                    </div>
                                </div>*@
                            </div>


                        </div>

                    </div>


                </div>
            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    

</body>
</html>

 