﻿@{
    ViewBag.Title = "Edit - Major Projects";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/managecompany/list"> Major Projects</a></li>
    <li> <a href="javascript:void(0)"> @ViewBag.companyName</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<!-- PAGE TITLE -->
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2> Major Projects</h2>
</div>
<!-- PAGE TITLE -->
<!-- START CONTENT FRAME TOP -->
<!-- END CONTENT FRAME TOP -->
<!-- START CONTENT FRAME LEFT -->
<!-- END CONTENT FRAME LEFT -->
<!-- START CONTENT FRAME BODY -->

<div class="row">
    <div class="col-md-12" id="editDetail">

        <!-- START DEFAULT DATATABLE -->
        <!-- START DEFAULT DATATABLE -->
        <input type="hidden" id="editid" value="@ViewBag.Editid" />
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="">
                        <div class="pull-left">
                            <div class="page-title diff">
                                <h2>Edit</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="panel-controls">
                        <!-- <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row">
                            <fieldset class="field">

                                <div class="col-md-2 col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" id="editfileName" value="/images/CompanyLogo/12.png">
                                        <div class=" editlogo pull-left" style="">
                                            <div class="avatar" id="Divlogo">
                                                <!-- <p class="mid" id="imagelogo"><img id="editlogo" title="Company Logo" alt="" src="img/ism-logo.png"></p>-->
                                                <p class="mid" id="imagelogo">
                                                    <img id="editlogo" title="Company Logo" alt="" src="" width="143">
                                                </p>
                                                <div class="kv-avatar center-block kv-avatar-remove" onclick="clearFileInputField('editlogo', 'editcompanylogo');" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-original-title="Remove Company Logo"> </div>
                                                <div class="kv-avatar center-block">
                                                    <input type="file" accept="image/jpeg, image/png" id="editcompanylogo" class="editcompanyrequired form-control" data-original-title="" title="">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <i>160 x 60 pixel recommended !</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Project Name </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" id="editProjectName" name="editProjectName">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Project Short Name </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" id="editProjectShortName" name="editProjectShortName">
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Project Adititional Information </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <textarea rows="4" cols="5" id="editProjAdditionaInfo" maxlength="1024" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Confidentiality Information </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            @*<textarea rows="4" class="form-control" cols=""></textarea>*@
                                            <textarea rows="4" cols="5" id="editConfidentiality" maxlength="1024" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-lg-12 subTitle"><strong>Address</strong></div>

                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Street Address</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" id="editProjectStreet" name="editProjectStreet">
                                        </div>
                                    </div>
                                    <div class="form-group   col-lg-6">
                                        @*<label class="col-md-12 col-lg-4 col-xs-12 control-label"> State </label>*@
                                        @*<div class="col-lg-8 col-md-12 col-xs-12">
                                    <select class="form-control" id="heditcountry" style="display:none"></select>
                                    <select class="form-control" id="editstate"></select>
                                </div>*@
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> State </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <select class="form-control" id="heditcountry" style="display:none"></select>
                                            <select class="form-control" id="editState"></select>
                                        </div>
                                    </div>

                                    @*<div class="form-group   col-lg-6">
                                <label class="col-md-12 col-lg-5 col-xs-12 control-label"> State </label>
                                <div class="col-lg-7 col-md-12 col-xs-12">

                                    <select class="form-control" id="editstate">
                                        <option value="">--Select State--</option>
                                        <option value="4">Alabama</option>
                                        <option value="3">Alaska</option>
                                        <option value="7">Arizona</option>
                                        <option value="6">Arkansas</option>
                                        <option value="1">Armed Forces Americas</option>
                                        <option value="2">Armed Forces Europe</option>
                                        <option value="5">Armed Forces Pacific</option>
                                        <option value="8">California</option>
                                        <option value="9">Colorado</option>
                                        <option value="10">Connecticut</option>
                                        <option value="12">Delaware</option>
                                        <option value="13">Florida</option>
                                        <option value="14">Georgia</option>
                                        <option value="16">Green Valley</option>
                                        <option value="15">Guam</option>
                                        <option value="17">Hawaii</option>
                                        <option value="19">Idaho</option>
                                        <option value="20">Illinois</option>
                                        <option value="21">Indiana</option>
                                        <option value="18">Iowa</option>
                                        <option value="22">Kansas</option>
                                        <option value="23">Kentucky</option>
                                        <option value="24">Louisiana</option>
                                        <option value="27">Maine</option>
                                        <option value="26">Maryland</option>
                                        <option value="25">Massachusetts</option>
                                        <option value="28">Michigan</option>
                                        <option value="29">Minnesota</option>
                                        <option value="32">Mississippi</option>
                                        <option value="30">Missouri</option>
                                        <option value="33">Montana</option>
                                        <option value="36">Nebraska</option>
                                        <option value="40">Nevada</option>
                                        <option value="37">New Hampshire</option>
                                        <option value="38">New Jersey</option>
                                        <option value="39">New Mexico</option>
                                        <option value="41">New York</option>
                                        <option value="34">North Carolina</option>
                                        <option value="35">North Dakota</option>
                                        <option value="31">Northern Mariana Islands</option>
                                        <option value="42">Ohio</option>
                                        <option value="43">Oklahoma</option>
                                        <option value="44">Oregon</option>
                                        <option value="45">Pennsylvania</option>
                                        <option value="46">Puerto Rico</option>
                                        <option value="47">Rhode Island</option>
                                        <option value="48">South Carolina</option>
                                        <option value="49">South Dakota</option>
                                        <option value="50">Tennessee</option>
                                        <option value="51">Texas</option>
                                        <option value="52">Utah</option>
                                        <option value="55">Vermont</option>
                                        <option value="54">Virgin Islands</option>
                                        <option value="53">Virginia</option>
                                        <option value="56">Washington</option>
                                        <option value="11">Washington DC</option>
                                        <option value="58">West Virginia</option>
                                        <option value="57">Wisconsin</option>
                                        <option value="59">Wyoming</option>
                                    </select>
                                </div>
                            </div>*@
                                    <div class="form-group  col-lg-6 ">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label">City</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input class="form-control" placeholder="" maxlength="200" id="editProjectCity" name="editProjectCity">
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6 ">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label">Zip</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input maxlength="5" class="form-control" id="editProjectZip" name="editProjectZip" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Phone #</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" maxlength="12" class="form-control" id="editProjectPhone" name="editProjectPhone" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-lg-12 subTitle"><strong>Your Contact 1</strong></div>

                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Name</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" id="editContact1Name" name="editContact1Name">
                                        </div>
                                    </div>

                                    <div class="form-group   col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Designation </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">

                                            <input type="text" class="form-control" maxlength="50" id="editContact1Designation" name="editContact1Designation">
                                        </div>
                                    </div>
                                    <div class="form-group   col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Phone # </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">

                                            <input type="text" class="form-control" maxlength="50" id="editContact1Phone" name="editContact1Phone">
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6 ">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label">eMail</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input class="form-control" placeholder="" maxlength="200" id="editContact1Email" name="editContact1Email">
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>



                                    <div class="col-lg-12 subTitle"><strong>Your Contact 2</strong></div>

                                    <div class="form-group col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Name</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" id="editContact2Name" name="editContact2Name">
                                        </div>
                                    </div>

                                    <div class="form-group   col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Designation </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">

                                            <input type="text" class="form-control" maxlength="50" id="editContact2Designation" name="editContact2Designation">
                                        </div>
                                    </div>
                                    <div class="form-group   col-lg-6">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Phone # </label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">

                                            <input type="text" class="form-control" maxlength="50" id="editContact2Phone" name="editContact2Phone">
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6 ">
                                        <label class="col-md-12 col-lg-5 col-xs-12 control-label">eMail</label>
                                        <div class="col-lg-7 col-md-12 col-xs-12">
                                            <input class="form-control" placeholder="" maxlength="200" id="editContact2Email" name="editContact2Email">
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        @*<a href="Project-Master-List.html" class="mybtn updt">Save</a>
                <button class="mybtn" type="button" id="editreset">Cancel</button>*@
                        <button class="mybtn updt" id="btneditMajorProjects" type="submit">Update</button>
                        <button class="mybtn" type="button" id="btneditreset">Cancel</button>
                    </div>
                </div>
                <!-- END CONTENT FRAME BODY --> <!-- END PAGE TITLE -->
                <!-- PAGE CONTENT WRAPPER -->
                <!-- PAGE CONTENT WRAPPER --> <!-- END PAGE CONTENT -->
                <!-- END PAGE CONTAINER -->
                <!-- MESSAGE BOX-->
                <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
                    <div class="mb-container">
                        <div class="mb-middle">
                            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                            <div class="mb-content">
                                <p>Are you sure you want to log out?</p>
                                <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                            </div>
                            <div class="mb-footer">
                                <div class="pull-right">
                                    @*<a href="index.html" class="btn mybtn btn-lg">Yes</a>
                                        <button class="btn mybtn btn-lg">No</button>*@

                                    <a href="javascript:void(0)" id="btnLogOut" class="btn mybtn btn-lg" onclick="logOut();">Yes</a>
                                    <button class="btn mybtn btn-lg mb-control-close" id="btnLogOutCancel">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MESSAGE BOX-->

                <div class="modal" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="largeModalHead">Delete</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Do you really want to delete Account ?</h5>
                            </div>
                            <div class="modal-footer">
                                <button class="light mybtn" data-dismiss="modal">Cancel</button>
                                <button class="mybtn  delete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRELOADS -->

            </div>
        </form>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="CompanyEditSuccessModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center" id="CompanyEditSuccessMessage"></p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" onclick="CompanyEditSuccessModalOk()">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/js/Custom/MajorProjectsEdit.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type='text/javascript'>
        function logOut() {
        window.location.href='/login/logout' ;
        }

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
</script>