﻿@using SchindlerCustomerPortal.Models;
@model UserPermissionViewModel

@{
    ViewBag.Title = "Major Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide {
        display: none;
    }
</style>


 <!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="javascript:void(0)"> Major Projects</a></li>

</ul>
<!-- END BREADCRUMB --> 
<div class="page-title">
    <h2> Major Projects</h2> 
</div>

<input type="hidden" value="@User.RoleId" id="hdRoleId" />
<input type="hidden" value="@User.UserId" id="hdUserId" />



@*<div class="row clintlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main margn">
                <div class="container">           
                  
                    <div class="col-lg-3 col-md-3 col-sm-2 pull-right rightpad">
                        @if (Model.HasAddPermission)
                        {
                            <i class="img-rnd">
                                <a href="#" data-toggle="modal" data-target="#addCompany">
                                    Add New
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                    </span>
                                </a>
                            </i>
                        }

                        <i class="img-rnd pading dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/info.png" height="25px" />

                            </a>
                            <ul class="dropdown-menu icons">
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-edit.png"></span>Edit</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-delete.png"></span>Delete</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-sammery.png"></span>Sammary</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact-document.png"></span>Contract Document</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact.png"></span>Contact</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-drawing.png"></span>Drawing</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-milestone.png"></span>Project Milestone</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-signature.png"></span>Signature</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-project-planner.png"></span>Project Planner</a></li>
                            </ul>
                        </i>
                    </div>

                    <table class="table usertbl example table-hover bdt" id="CompanyDatatable">
                        <thead>
                            <tr>
                               
                                <th>Logo</th>
                                <th><span class="sort-element">Company</span></th>
                                <th><span class="sort-element">Address</span></th>
                                <th><span class="sort-element">Primary Contact</span></th>
                                <th><span class="sort-element">Phone</span></th>
                                <th><span class="sort-element">Email</span></th>
                                <th><span class="sort-element">Sales Representative</span></th>
                                
                                <th style="width: 80px;"><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                       
                    </table>
                    <div class="clearfix"></div> 
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<input type="hidden" id="hdnCheckUserManagementforAccountpage" value="@ViewBag.CheckPermission" />*@


<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            <input type="search" class="" placeholder="Search" id="MajorProjectMasterListDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="/MajorProjects/Add/" class="btn btn-primary">Add New</a>
                    </div>

                    @*<input type="hidden" id="hdnMilestoneStatusValue" value="@ViewBag.MilestoneStatusValue" />*@

                    <table class="table  datatable   table-striped  responsive  majorproject" id="MajorProjectMasterListDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">ID </th>
                                <th>PROJ #</th>
                                <th>PROJECT NAME</th>
                                <th>ADDRESS</th>
                                <th>COMPANY NAME</th>
                                <th>SHORT NAME</th>
                                <th>CONTACT 1</th>                              
                                <th>CONTACT 2</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/custom/MajorProjectsList.js"></script>

<style>
    .dataTables_processing {
        text-align: center;
    }
</style>

