﻿@{
    ViewBag.Title = "Help Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<style>
     @@media (min-width: 768px) {
        .modal-dialog {
            width: 865px;
            margin: 30px auto;
        }
    }

     .modal-dialog {
        margin-top: 3%;
    }
</style>

<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <!-- <li><a href="#">Tables</a></li>-->
    <li><a href="javascript:void(0)">Help Management</a></li>
</ul>
<!-- END BREADCRUMBS -->
<div class="page-title">
    <h2> Help Management</h2>


</div>

@*<div class="row breadcumb">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="btn-group btn-breadcrumb"> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a> <a href="#" class="btn btn-default">@ViewBag.ProjectName</a></div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="row clintlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main margn">
                <div class="container">

                    <div class="col-lg-3 col-md-3 col-sm-2 pull-right rightpad">
                        <i class="img-rnd"><a href="#" data-toggle="modal" data-target="#AddHelp">Add New <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></i>
                        <i class="img-rnd pading dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/info.png" height="25px" />

                            </a>
                            <ul class="dropdown-menu icons">
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-edit.png"></span>Edit</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-delete.png"></span>Delete</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-sammery.png"></span>Sammary</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact-document.png"></span>Contract Document</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact.png"></span>Contact</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-drawing.png"></span>Drawing</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-milestone.png"></span>Project Milestone</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-signature.png"></span>Signature</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-project-planner.png"></span>Project Planner</a></li>
                            </ul>
                        </i>
                    </div>

                   

                    <table class="table usertbl example table-hover bdt" id="Helptable">
                        <thead>
                            <tr>
                               

                                <th><span class="sort-element">Module Name</span></th>
                                <th><span class="sort-element">Title</span></th>
                                <th><span class="sort-element">Descriptions</span></th>
                                <th><span class="sort-element">Published Status</span></th>
                               
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>

                    </table>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            @*Search:*@
                            <input type="search" class="" placeholder="Search" name="HelptableSearch" id="HelptableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    <div class="cstm text-right" id="ffff">
                       
                        <button class="mybtn" data-toggle="modal" data-target="#AddHelp" name="addhelpTooltip" id="addhelpTooltip"> Add New <i class="fa fa-plus"></i></button>
                    </div>
                    <table class="table usertbl example table-hover bdt" id="Helptable">
                        <thead>
                            <tr>
                                <th style="display:none"><span class="sort-element">HelpId</span></th>
                                <th><span class="sort-element">Module Name</span></th>
                                <th><span class="sort-element">Title</span></th>
                                <th><span class="sort-element">Description</span></th>
                                <th><span class="sort-element">Published Status</span></th>

                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model add user -->
<div class="modal register fade modelform" id="AddHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" name="btnDismiss" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Help</h4>
                </div>
                <div class="modal-body">
                   
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name *</label>
                        <div class="col-sm-9">
                            <select id="addmoduletype" name="addmoduletype" class="form-control helprequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Title *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control helprequired" maxlength="64" name="addtitle" id="addtitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Description *</label>
                        <div class="col-sm-9">
                            <textarea id="addhelpdesc" name="addhelpdesc" class="helprequired"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Published</label>
                        <div class="col-sm-9">
                            <input type="checkbox" id="addpublished" name="addpublished" class="">
                        </div>
                    </div>

                   

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mybtn" name="btnAddHelp" id="btnAddHelp">Submit</button>
                    <button type="button" class="light mybtn" name="btn-Dismiss" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal register fade modelform" id="editHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Help</h4>
                </div>
                <input type="hidden" id="HelpId" />
                
                <div class="modal-body">
                  
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name *</label>
                        <div class="col-sm-9">
                            <select id="editmoduletype" name="editmoduletype" class="form-control" tabindex="5" disabled="disabled"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Title *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control edithelprequired" maxlength="64" name="edittitle" id="edittitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Description *</label>
                        <div class="col-sm-9">
                            <textarea id="edithelpdesc" name="edithelpdesc" ></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Published</label>
                        <div class="col-sm-9">
                            <input type="checkbox" id="editpublished" name="editpublished" class="">
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mybtn updt" name="btnUpdateHelp" id="btnUpdateHelp">Update</button>
                    <button type="button" class="delete mybtn" name="btndeletehelp" id="btndeletehelp">Delete</button>
                    <button type="button" class="light mybtn" name="btnDismiss" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part -->
<!-- model permission -->


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessHelp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" name="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="helpDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this help data?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" name="btnDeleteYes" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" name="btnDeleteNo" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditHelp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="editdocumentok" name="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteHelp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" name="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" name="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>





@*<script src="~/Content/js/fck/fckeditor.js"></script>

<script type="text/javascript">
    window.onload = function () {
        var sBasePath = '~/Content/js/fck/';

        var oFCKeditor = new FCKeditor('addhelpdesc');
        oFCKeditor.BasePath = sBasePath;
        oFCKeditor.ReplaceTextarea();
    }
</script>*@




@*<script src="~/ckeditor/ckeditor.js"></script>         using js in your project
<script src="~/ckeditor/adapters/jquery.js"></script>*@



<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>      @*using cdn*@


<script src="~/js/Custom/Help.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide {
        display: none;
    }
     .dataTables_processing {
        text-align: center;
    }
</style>