﻿
@{
    ViewBag.Title = "Module wise Help List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}



<div class="row breadcumb">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="btn-group btn-breadcrumb"> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a> <a href="#" class="btn btn-default">@ViewBag.ProjectName</a></div>
            </div>
        </div>
    </div>
</div>

<div class="row clintlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main margn">
                <div class="container">

                    @*<div class="col-lg-3 col-md-3 col-sm-2 pull-right rightpad">
                        <i class="img-rnd"><a href="#" data-toggle="modal" data-target="#AddHelp">Add New <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></i>
                        <i class="img-rnd pading dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/info.png" height="25px" />

                            </a>
                            <ul class="dropdown-menu icons">
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-edit.png"></span>Edit</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-delete.png"></span>Delete</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-sammery.png"></span>Sammary</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact-document.png"></span>Contract Document</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact.png"></span>Contact</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-drawing.png"></span>Drawing</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-milestone.png"></span>Project Milestone</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-signature.png"></span>Signature</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-project-planner.png"></span>Project Planner</a></li>
                            </ul>
                        </i>
                    </div>*@

                    <input type="hidden" id="ModuleId" value="@ViewBag.Module" />

                    <table class="table usertbl example table-hover bdt" id="Helptable">
                        <thead>
                            <tr>
                                @*<th> </th>*@

                                <th><span class="sort-element">Module Name</span></th>
                                <th><span class="sort-element">Title</span></th>
                                <th><span class="sort-element">Descriptions</span></th>
                                <th><span class="sort-element">Published Status</span></th>

                                @*<th><span class="sort-element">Action</span></th>*@
                            </tr>
                        </thead>

                    </table>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                            <!-- Standard button -->
                            @*<button type="button" class=" mybtn">Mark As Cancel</button>*@

                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            @*<button type="button" class="mybtn delete" id="btnAllDelete">Delete</button>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--model add user -->
@*<div class="modal register fade modelform" id="AddHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Help Task</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name*</label>
                        <div class="col-sm-9">
                            <select id="addmoduletype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control helprequired" maxlength="64" id="addtitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea id="addhelpdesc" class="helprequired"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">IsPublished</label>
                        <div class="col-sm-9">
                            <input type="checkbox" id="addpublished" name="addpublished" class="form-control">
                        </div>
                    </div>



                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnAddHelp">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>*@
<!--model end -->
<!--model part edit detail -->
@*<div class="modal register fade modelform" id="editHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">*@
    @*<div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Help Task</h4>
                </div>
                <input type="hidden" id="HelpId" />

                <div class="modal-body">

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name*</label>
                        <div class="col-sm-9">
                            <select id="editmoduletype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control edithelprequired" maxlength="64" id="edittitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea id="edithelpdesc"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">IsPublished</label>
                        <div class="col-sm-9">
                            <input type="checkbox" id="editpublished" name="editpublished" class="form-control">
                        </div>
                    </div>



                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnUpdateHelp">Update</button>
                    <button type="submit" class="btn btn-danger" id="btndeletehelp">Delete</button>
                </div>
            </div>
        </form>
    </div>*@
</div>
<!--model part -->
<!-- model permission -->















@*<script src="~/Content/js/fck/fckeditor.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            var sBasePath = '~/Content/js/fck/';

            var oFCKeditor = new FCKeditor('addhelpdesc');
            oFCKeditor.BasePath = sBasePath;
            oFCKeditor.ReplaceTextarea();
        }
    </script>*@




@*<script src="~/ckeditor/ckeditor.js"></script>         using js in your project
    <script src="~/ckeditor/adapters/jquery.js"></script>*@



@*<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>*@      @*using cdn*@


<script src="~/js/Custom/ModulewiseHelp.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>


