﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reset Password - Schindler Customer Portal</title>
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <!-- Bootstrap -->
    @*@Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/cssFInal")*@
    @*<link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/css/theme-default.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapFinal")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/commonjs")*@
    @*<link href="~/Content/main.css" rel="stylesheet" />*@

    <style>
        .invalid {
            background: url(../images/cross.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #ec3f41;
        }

        .valid {
            background: url(../images/tick.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #3a7d34;
        }

        #pswd_info {
            display: none;
        }

        .popover {
            max-width: none;
            width: 300px;
            height: 200px;
        }

        ul {
            list-style-type: none;
        }
    </style>

</head>

<body>

    @if (@TempData["Message"] != null)
    {
        <div class="col-lg-12">
            <div role="alert" class="alert alert-success">@TempData["Message"]</div>
        </div>
    }

    <div class="login-container lightmode">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">

                <form name="addpasswordform" id="addpasswordform" class="form-horizontal forms" method="post">

                    <div class="form-group">
                        <div class="col-md-6 text-center">
                            <div> </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input maxlength="32" data-val="true" data-val-required="Password can not be empty!" autocomplete="off" id="password" name="password" type="password" class="form-control" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12})" placeholder="New Password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input id="cnfpassword" name="cnfpassword" maxlength="32" data-val-required="Password can not be empty!" autocomplete="off" type="password" class="form-control" placeholder="Confirm Password" required>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-6">
                            <button id="activate" class="btn mybtn   btn-block" name="Save" type="submit">Reset Password</button>
                        </div>

                    </div>

                    <!--<div class="login-subtitle">
                        Don't have an account yet? <a href="#">Create an account</a>
                    </div>-->
                </form>

                <div id="pswd_info">
                    <h4>Password Strength</h4>
                    <ul>
                        <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                        <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                        <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                        <li id="number" class="invalid">At least <strong>one number</strong></li>
                    </ul>
                </div>

            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year Schindler Customer Portal
                </div>

            </div>
        </div>

    </div>

    <!--success modal -->
    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:green;font-size:large">You account password has been reset! You can login from <a style="text-decoration:underline" href="/">here</a>!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input id="addok" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <!--password fail-->
    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myInvalidModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:red;font-size:large">Something wrong. Please try again!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnlinkexpire" value="@ViewBag.Message" />
    <div aria-hidden="true" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="InvalidPasswordModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <center>
                        <p style="color:red;font-size:large">Password and Confirm Password are not matched. Please try again!</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>
    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="CommonLinkExpiredModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: red; font-size: large; text-align: center" id="CommonSuccessMessage"></p>
                </div>
                <div class="modal-footer">
                    @*<input data-dismiss="modal" type="button" class="mybtn" value="Ok">*@
                    <a id="lnkok" href="javascript:void(0)" data-dismiss="modal" class="mybtn">OK</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>

</html>

@*<script src="~/js/Custom/ResetPassword.js"></script>*@

<script>
    $(document).ready(function () {

        $("#password").val('');
        $("#cnfpassword").val('');

        $('input[name=password]').popover({
            trigger: 'click focus',
            html: true,
            content: function () {
                return $('#pswd_info').html();
            }
        });

        $("#password").focusout(function () {
            $('input[name=password]').popover('hide');

        });

        $('input[name=password]').blur(function () {
            $('input[name=password]').popover('hide');
        });

        $('input[name=password]').click(function () {
            // keyup code here

            var pswd = $(this).val();

            //validate total count
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }

            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            //}).blur(function () {
            //    $('#pswd_info').hide();

        });

        $('input[name=password]').focus(function () {
            // keyup code here

            var pswd = $(this).val();

            //validate total count
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }

            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }



            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            //}).blur(function () {
            //    $('#pswd_info').hide();

        });

        $('input[name=password]').keyup(function () {
            // keyup code here

            var pswd = $(this).val();

            //validate total count
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }

            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }



            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            //}).blur(function () {
            //    $('#pswd_info').hide();

        });

        $("#addpasswordform").submit(function (e) {

            e.preventDefault(e);

            var password = $("#password").val();
            var cnfpassword = $("#cnfpassword").val();
            var token = "@ViewBag.TokenID";



            if (password != cnfpassword) {
                $('#InvalidPasswordModal').modal('show');
                return false;
            }

            $.ajax({
                url: '/Login/ResetPassword',
                type: 'POST',
                data: { Token: token, Password: password },
                dataType: 'json',
                success: successEmail,
                error: errorEmail
            });

        });

        function successEmail(data) {
            if (data.message == 'Success') {
                $('#mySuccessModal').modal('show');
                return false;
            }
            if (data.message == 'Invalid') {
                $('#myInvalidModal').modal('show');
                return false;
            }
        };

        function errorEmail(data) {
            $('#myInvalidModal').modal('show');
            return false;

        };

        $("#addok").click(function () {
            $('#mySuccessModal').modal('hide');
            var path = window.location.protocol + "//" + window.location.host;
            window.location.href = path;
        });

        var msg = $('#hdnlinkexpire').val();
        if (msg != '')
        {
            if (msg == 'Link is expired')
            {
                $('#CommonLinkExpiredModal').modal('show');
                //$('#CommonSuccessMessage').text("Page you have requested has been moved or link you have used is expired.");
                $('#CommonSuccessMessage').text("Your token for the reset password has been used/expired.");
            }
        }

        //This Code is for Redirect to Login Page.
        $('#lnkok').click(function ()
        {
           window.location.href = '/Login/UserLogin';
        });

    });


</script>



