﻿@using System.Configuration
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login - Schindler Customer Portal</title>

    <!-- Bootstrap -->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />*@

    <link href="~/css/theme-default.css" rel="stylesheet" />

</head>

<body>
    @if (TempData["msgdisplay"] != null)
    {
        <input type="hidden" value="@TempData["msgdisplay"]" id="hdnVerifiyModal" />
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="VerifyModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="color: green; font-size: large; text-align: center" >@TempData["msgdisplay"]</p>
                    </div>
                    <div class="modal-footer">
                        <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-12">
            <div role="alert" class="alert alert-success"></div>
        </div>*@
    }

    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">

                <form name="signinForm" id="signinForm" class="form-horizontal forms" method="post">

                    <div class="form-group">
                        <div class="col-md-6 text-center">
                            <div> </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </div>

                                <input maxlength="50" data-val="true" data-val-required="Email can not be empty!" id="EmailID" name="Email" type="email" class="form-control" placeholder="Email ID" title="Please Enter Valid Email Like : person@domain.com" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input id="Password" name="Password" maxlength="32" data-val-required="Password can not be empty!" type="password" autocomplete="off" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="ReturnURL" id="ReturnURL" value="@ViewBag.ReturnUrl" />

                    <div class="form-group">
                        <div class="col-md-6">
                            <button id="signin" class="btn mybtn   btn-block" name="signin" type="submit">Log In</button>
                        </div>
                        <div class="col-md-6 text-right" style="line-height: 22px;">

                            <div>
                                <label class="check">
                                    <input id="remember" type="checkbox" class="icheckbox" name="Remember"> Remember me
                                </label>
                            </div>
                            <div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="col-md-6 text-left" style="line-height: 22px;">
                            <div>
                                <a href="JavaScript:void(0);" data-toggle="dropdown" class="dropdown-toggle btn-link btn-block "> Need Login Help <i class="fa fa-question-circle" id="needLoginHelpTooltip"></i> </a>
                                <ul class="dropdown-menu leftalign  biglogin" role="menu">
                                    <div class="loginheight mCustomScrollbar" id="">
                                        <p><strong>Forgot Password help </strong></p>
                                        <p>If you forgot your password <a href="/Login/UserForgotPassword" class="btn-link">click here</a> and enter the e-mail address you used to register. We will e-mail you a link that will allow you to enter a new password. </p>
                                    </div>
                                </ul>
                                @*<a href="#" class="  btn-link btn-block"> <i class="fa fa-question-circle"></i> Need Login Help</a>*@
                                @*<a href="#" class="  btn-link btn-block" data-toggle="modal" data-target="#myModal"><i class="fa fa-question-circle"></i> Need Login Help</a>*@
                                @*<a href="#" class="  btn-link btn-block" data-toggle="modal" data-target="#myModal"><u>Forgot your password?</u></a>*@
                            </div>
                        </div>
                        <div class="col-md-6 text-right" style="line-height: 22px;">
                            @Html.ActionLink("Register Now", "UserRegistration", "Login",null, new { @class = "btn-link btn-block" })

                        </div>
                    </div>

                    <!--<div class="login-subtitle">
                        Don't have an account yet? <a href="#">Create an account</a>
                    </div>-->
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year Schindler Customer Portal
                </div>

            </div>
        </div>

    </div>

    <!--model part -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form id="forgotForm" name="forgotForm" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/images/img/close.png" width="18" height="18" alt="" /></span></button>
                        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
                    </div>
                    <div class="modal-body">

                        <label>Enter your e-mail address below to reset your password</label>
                        <input type="email" maxlength="50" data-val="true" data-val-required="The Email field is required." id="forgotemail" name="forgotemail" placeholder="Email ID" class="col-lg-12 col-xs-12 form-control" title="Please Enter Valid Email Like : person@domain.com" required>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" id="forgotbutton" name="forgotbutton" class="mybtn">Submit</button>
                        <button data-dismiss="modal" class="light mybtn" type="button">Cancel</button>
                        <input type="hidden" name="RegisterMesaageId" id="RegisterMesaageId" value="@ViewBag.RegisteredMsg">
                        <input type="hidden" name="InvalidLoginID" id="InvalidLoginID" value="@ViewBag.Redirect">
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="myLoginModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="color: red; font-size: large; text-align: center" id="loginError"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" id="validok" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="myRegisterOnly" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="color: red; font-size: large; text-align: center">Please Activate Your Account</p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" id="Regok" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="color: green; font-size: large; text-align: center" id="forgotPasswordError"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myInvalidModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="color: red; font-size: large; text-align: center">You have entered an invalid Email Address!</p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EmailnotExist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="notExist" style="color: red; font-size: large"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myNotAllowedModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="color: green; font-size: large; text-align: center">You are not allowed to login into portal based on your user role. Kindly contact your company admin for further help!</p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" id="myNotAllowed" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>
    <!--Announcement model part -->
    <div class="modal register fade modelform" id="Announcement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content announce">
                    <div class="modal-header announce-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            Announcement
                        </h4>
                        <div class="announce-icon">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="modal-body announce-body">
                        <div class="panel-body heightmail" id="headerAnnouncement">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="light mybtn" id="btnaddcancleAnnouncement" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapFinal")

</body>
</html>

<script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
<script>
    $(function () {
        if ($(".icheckbox").length > 0) {
            $(".icheckbox,.iradio").iCheck({ checkboxClass: 'icheckbox_minimal-grey', radioClass: 'iradio_minimal-grey' });
        }

        $.each(document.cookie.split(";"), function (key, cookie) {
            if (cookie.split('=')[0].trim() == '@ConfigurationManager.AppSettings["RememberMeUserName"].ToString()')
                if (cookie.split('=')[1] != "") {
                    $('#remember').parent().addClass('checked');
                    $('#EmailID').val(cookie.split('=')[1]);
                }
        });

    });

</script>
<script src="~/js/custom/UserLogin.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>