﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Schindler Customer Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <form class="form-horizontal" name="forgotForm" id="forgotForm" action="" method="post">
                    <div class="form-group">
                        <div class="col-md-6 text-center">
                            <div> </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"> <span class="fa fa-envelope"></span> </div>
                                <input type="email" id="forgotemail" name="forgotemail" class="form-control" placeholder="Registered Email ID" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <a id="forgotbutton" name="forgotbutton" class="btn mybtn btn-block">Submit</a>
                            <input type="submit" id="btnForgotPassword" style="display:none;" />
                        </div>
                        <div class="col-md-6 text-right" style="line-height: 22px;">
                            <div>
                                <a href="/Login/UserLogin" name="linkUserLogin" class="btn-link btn-block">Back to Login</a>
                            </div>
                            <div> </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 text-left" style="line-height: 22px;">
                            <div>
                                <div class="btn-group">

                                    <a href="JavaScript:void(0);" name="linkLoginHelp" data-toggle="dropdown" class="dropdown-toggle btn-link btn-block"> Need Login Help <i class="fa fa-question-circle" id="needLoginHelpTooltip"></i> </a>
                                    <ul class="dropdown-menu leftalign  biglogin" role="menu">

                                        <div class="loginheight mCustomScrollbar" id="">
                                            <p><strong>Forgot Password help  </strong></p>
                                            <p>
                                                If you forgot your password  <a href="/Login/UserForgotPassword" class="btn-link">click here</a> and enter the e-mail address you used to register. We will e-mail you a link that will allow you to enter a new password.
                                            </p>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right" style="line-height: 22px;"> <a href="/Login/UserRegistration" name="linkUserRegistration" class="btn-link btn-block">Register Now</a></div>
                    </div>

                    <!--<div class="login-subtitle">
                                    Don't have an account yet? <a href="#">Create an account</a>
                                </div>-->
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left"> &copy; @DateTime.Now.Year Schindler Customer Portal</div>
                <!-- <div class="pull-right">
                                  <a href="#">About</a> |
                                  <a href="#">Privacy</a> |
                                  <a href="#">Contact Us</a>
                              </div>-->
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="mySuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: green; font-size: large; text-align: center" id="forgotPasswordError"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myInvalidModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: red; font-size: large; text-align: center">we could not find your account with this emailid. Please contact customer administration for more information.</p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EmailnotExist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p id="notExist" style="color: red; font-size: large"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapFinal")

    <!--
    <button class="btn btn-default btn-block btn-lg " onclick="window.location.href='./dashboard.html'">Back to dashboard</button>
     START SCRIPTS -->
    @*<script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
    <script>
        $(function () {
            if ($(".icheckbox").length > 0) {
                $(".icheckbox,.iradio").iCheck({ checkboxClass: 'icheckbox_minimal-grey', radioClass: 'iradio_minimal-grey' });
            }
        });

    </script>*@

    <script src="~/js/custom/UserLogin.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
    <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

</body>
</html>
