﻿@model SchindlerCustomerPortal.Models.UserEntity
@{
    Layout = null;
}
<style>
    .ratingtext input[type="text"] {
        width: 50%;
    }

    .input-group-addon,
    .input-group-btn {
        vertical-align: middle !important;
    }
      /*#recaptcha_switch_audio { display: none; }
      #recaptcha_logo { display: none; }   
      #recaptcha_privacy { display: none; }*/ 
</style>


@using (Html.BeginForm("UserRegistration", "Login", FormMethod.Post, new { @class = "form-horizontal forms body-full-height" , @id="userRegistration" }))
{

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration - Schindler Customer Portal</title>

        <link href="~/css/theme-default.css" rel="stylesheet" />

        @*@Styles.Render("~/Content/cssFInal")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapFinal")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/commonjs")

    </head>

    @Html.HiddenFor(model => model.UserID)
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="content-frame">
                <!-- START CONTENT FRAME TOP -->
                <div class="content-frame-top">

                    <div class="content-frame-body" style="background: transparent;  ">
                        <div class="page-content-wrap">
                            <div class="login-container lightmode registerform">
                                <div class="login-box registerbox animated fadeInDown">
                                    <div class="login-logo"></div>

                                    <div class="login-body">
                                        <div class="form-group registerp">
                                            <div class="page-title  ">
                                                <h2>New User Registration </h2>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6 text-center">
                                                <div> </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-6">

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-envelope"></span>

                                                        </div>


                                                        @Html.TextBoxFor(model => model.Email, new { @class = "RequiredFiled form-control", @Placeholder = "Email ID" })


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-user"></span>

                                                        </div>
                                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "RequiredFiled form-control", @Placeholder = "Name", @maxLength = "64" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group" style="display:none">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-lock"></span>

                                                        </div>
                                                        @Html.TextBoxFor(model => model.MiddleName, new { })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group" style="display:none">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-lock"></span>

                                                        </div>
                                                        @Html.TextBoxFor(model => model.LastName, new { })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-building"></span>

                                                        </div>
                                                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "RequiredFiled form-control", @Placeholder = "Company Name" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-building"></span>

                                                        </div>

                                                        @Html.TextAreaFor(model => model.Requested_Projects, new { @class = "form-control", @rows = "4", @maxlength = "500", @Placeholder = "Requested Projects" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="fa fa-lock"></span>

                                                        </div>
                                                        <input type="hidden" name="InvalidCaptcha" id="InvalidCaptcha" value="@ViewBag.Captcha">
                                                        @*@Html.Recaptcha(publicKey: Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]), theme: Recaptcha.Web.RecaptchaTheme.Clean,tabIndex:1)*@
                                                        @*<div class="g-recaptcha" data-sitekey="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"])"></div>*@
                                                        <img src="/Login/GetCaptchaImage?val=@ViewBag.Captcha" class="form-control" style="height: 72px;" title="Captcha" />
                                                        <br />
                                                        <input class="RequiredFiled form-control" type="text" name="clientCaptcha" placeholder="Write above text exactly"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <p style="font-weight:bold;color:red;">@ViewBag.CaptchaError</p>
                                        </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="fa fa-phone"></span>

                                                                    </div>
                                                                    @Html.TextBoxFor(model => model.ContactNumber, new { @class = "RequiredFiled form-control", @Placeholder = "Contact Number" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="fa fa-map-marker"></span>

                                                                    </div>
                                                                    @Html.TextBoxFor(model => model.Address1, new { @class = "form-control ", @Placeholder = "Street Address" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="fa fa-map-marker"></span>

                                                                    </div>
                                                                    @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", @Placeholder = "Zip" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="fa fa-map-marker"></span>

                                                                    </div>
                                                                    @Html.DropDownListFor(model => model.State, new SelectList(string.Empty, "Value", "Text"), "---State---", new { @class = "form-control select", @Placeholder = "State" })
                                                                    @Html.HiddenFor(model => model.StateText)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <span class="fa fa-map-marker"></span>

                                                                    </div>
                                                                    @Html.TextBoxFor(model => model.City, new { @id = "City", @class = "form-control", @Placeholder = "City" })

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <input type="hidden" name="ReturnURL" id="ReturnURL" value="@ViewBag.ReturnUrl" />
                                                    <div class="col-lg-12 bottombn ">
                                                        <div class="form-group col-lg-6  ">
                                                            <div class="col-md-5   pull-right">
                                                                <button id="save" class="btn mybtn btn-block" name="signin" type="submit">Sign Up</button>

                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-6 text-left" style="line-height: 34px;    padding-left: 21px;">

                                                            <div>
                                                                @Html.ActionLink("Back to Login", "UserLogin", "Login", new { @class = "btn-link btn-block" })

                                                            </div>
                                                            <div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="login-footer">
                                                    <div class="pull-left">
                                                        &copy; @DateTime.Now.Year Schindler Customer Portal
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="InvalidLoginID" id="InvalidLoginID" value="@ViewBag.Redirect">

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EmailnotExist" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                        <p id="notExist" style="color: red; font-size: large"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" id="NotExistOK" value="Ok">
                </div>
            </div>
        </div>
    </div>

    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="CommonSuccessModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: green; font-size: large; text-align: center" id="CommonSuccessMessage"></p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnRegisterOk" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>
    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="CommonErrorModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: red; font-size: large; text-align: center" id="CommonErrorMessage"></p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {



    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/jquery.timepicker.js"></script><link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/jquery.timepicker.min.js"></script>

    <style>
        .form-group : after {
            content: " ";
            clear: both;
            display: block;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mask")
}

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/js/custom/Registration.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>




