body{background-color:#f5f5f5;}
.nomar{margin:0px !important;}
.nopad{padding:0px !important;}
.txt_red{color:#dc0000 !important;}
/*.inprogress_txt{color:#5583d6;}
.overdue_txt{color:#e11f26;}
.completed_txt{color:#60b546;}
.duedays_txt{color:#e2b623;}*/
.inprogress_bg{background-color:rgb(233, 241, 250) !important;}
.overdue_bg{background-color:rgba(239, 112, 114, 0.30) !important;}
.completed_bg{background-color:rgba(90, 206, 56, 0.15) !important;}
.duedays_bg{background-color:rgba(242, 245, 71, 0.30) !important;}
.work_dashboard, .work_dashboard .work_list_table{width:100% !important;float:left;} 
.work_dashboard .work_list_table{border:1px solid #ddd; box-shadow:0px 1px 1px rgba(0,0,0,0.2);} 
.project_block{width:120px;} 
.work_dashboard .work_list_table tr th{font-weight:700; background-color:#fff; font-size:12px; text-align:center; border-color:#ddd !important; border-style:solid !important; border-width:1px 1px 1px 0px !important; padding:10px;}
.work_dashboard .work_list_table tr td{ background-color:#fff; font-size:11px; border-right:1px solid #ddd; text-align:center; font-weight:400; border-bottom:1px solid #ddd; padding:5px 10px; color:#000;}
.work_dashboard .work_list_table tr td a{color:#000; text-decoration:none;}
.work_dashboard .work_list_table tr td:last-child, .work_dashboard .work_list_table tr th:last-child{border-right:0px none !important;}
.work_dashboard .work_list_table tr:last-child td{border-bottom:0px none;}
.work_dashboard .work_list_table tr td span{font-weight:400; line-height:30px; display:inline-block; float:left;}
.work_dashboard .work_list_table tr td span + img{ margin-left:7px; float:right; margin-top:3px;}
.project_title{font-size:14px; color:#5bc0de; font-weight:600; display:inline-block; margin:10px 0px 5px;}
.section_head{border:1px solid #ddd !important; width:100%; display:table; border-bottom:0px !important; padding:5px; background-color:#eee; box-shadow:0px 1px 1px rgba(0,0,0,0.2);}
.section_head .action_listing{margin-bottom:0px;}
.section_head .action_listing li{list-style-type:none; display:inline-block; margin-left:10px;}
.title_head{font-size:20px; color:#4a4a4a;}


.panel{width:100%; display:table; padding:5px 15px; margin-bottom:10px; border-radius:0px; }
.panel .panel-title-box h3 {
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
    color: #434a54;
    padding: 0px;
    margin: 0px;
}
.panel .panel-title-box span {
    font-size: 13px;
    color: #a7adb5;
    line-height: 12px;
}
.panel .panel-title-box {
    float: left;
}
.panel-head-box {
    width: 20%;
    padding-top: 10px;
}
.panel-controls-legends {
    float: left;
    width: 55%;
}
.right-searchbox {
    margin: 2px 0px;
    width: 25%;
    padding: 10px 10px 0px;
    box-sizing: border-box;
	float:right;
}
.panel-controls-legends-menu {
    width: 100%;
    padding-left: 0px;
    float: left;
    margin-bottom: 0px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.panel-controls-legends-menu li {
    display: inline-block;
    width: 49%;
    font-size: 13px;
    padding: 4px 15px;
    border-bottom: 0px none;
    transform: translateX(-50%);
    left: 38%;
    position: relative;
}
span.smwt {
    width: 33px;
    display: inline-block;
}
.panel-controls-legends-menu li.infocls .smwt a img {
    width: 16px;
    height: 16px;
}
.dataTables_filter label {
    float: left;
	width:100%;
	font-weight:400;
}
.dataTables_filter label input {    
    display: inline;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 0px 10px;
    background: url(../img/search.png) no-repeat;
    background-position: right 5px center;
    background-size: 20px;
	width:100%;
}

@media all and (max-width: 767px){
	.section_head{text-align:center;}
	.action_listing{float:none !important; text-align:center; width:100%; padding-left:0px !important;}
}
@media all and (max-width: 991px){
	.work_dashboard .work_list_table {
      border-top: 0px none !important;
	  border-bottom: 0px none !important;
    }
	.table-responsive{border:0px none !important;}

    .tasklisting_table thead {
      display: none;
    }

    .tasklisting_table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd;
    }
	.tasklisting_table tr:last-child {
      margin-bottom:0px;
    }

    .tasklisting_table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-top: 1px solid #ddd !important;
	  border-bottom:0px none !important;
	  min-height:40px;
	  border-right:0px none !important;
    }

    .work_dashboard .work_list_table tr td:last-child {
      border-bottom: 0px none !important;
	  
    }

    .tasklisting_table td:before {
      content: attr(data-label);
      float: left;
	  font-size:12px;
      font-weight: bold;
	  color: #000;
	  margin-right:15px;
	  width: 160px;
      line-height: 30px;
    }
	.work_dashboard .work_list_table tr td{text-align:left;}
	.panel-controls-legends-menu li{width:100%; transform:inherit;left: inherit;}
}

