﻿
/*------Job List Style--------------*/
    .table-overall-details {
  position: relative;
  width:auto;
  max-width: 1210px;
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom:0px;
  border:1px solid rgba(255,255,255,0.5);
}
.table-overall-details thead {
  position: relative;
  display: block; 
  /*width: 1208px;*/
  width:auto;
  max-width: 1210px;
  overflow: visible;
}
.table-overall-details thead th {
  /*background-color: #5B9BD5 !important;*/
  background-color: #fbfbfb !important;
  min-width: 180px;
  height: 20px;
  border-right: 1px solid #dee7f2 !important;
  border-bottom: 1px solid #dee7f2 !important;
  font-weight:bold !important; 
  text-align:center !important;
  color:#DC0000 !important;
  vertical-align:middle;
  border-top:1px solid #dee7f2 !important;
  border-left:0px none;
  padding:4px 10px !important;
  box-sizing: content-box;
  font-size: 13px !important;
  box-shadow:none !important;
  font-family: 'Open Sans', sans-serif !important;
}
.table-overall-details thead th:nth-child(1) {
  position: relative;
  display: table-cell;
  /*background-color: #5B9BD5 !important;*/
  background-color: #fbfbfb !important;
  border-right:0px none !important;
}
.table-overall-details tbody {
  position: relative;
  display: block;
  width:auto;
  max-width: 1210px;
  /*width: 1208px;*/
  height: 500px;
  overflow: scroll;


}
.table-overall-details .not-show-scroll {
  overflow-x:inherit;
}
.table-overall-details tbody tr td {
  /*background-color: #D2DEEF;*/
  background-color:#fff;
  min-width: 180px;
  border-right: 1px solid #dee7f2;
  border-bottom: 1px solid #dee7f2;
  border-top:0px none;
  border-left:0px none;
  vertical-align:top !important;
  height: 20px;
  line-height:25px !important;
  padding: 2px 10px !important;
  box-sizing: content-box;
  font-size: 13px;
  color: #272727;
  font-weight:100;
  font-family: 'Open Sans', sans-serif;
}
.table-overall-details tbody tr:nth-child(2n) td {
  /*background-color: #EAEFF7;*/
  background-color:#fbfbfb;
}
.table-overall-details tbody tr td:nth-child(1) { 
 position: relative;
  display: table-cell;
  font-weight:100;
  border-right:0px none !important;
}
.table-overall-details tbody tr td:nth-child(1):after, .table-overall-details thead th:nth-child(1):after {
    position:absolute;
    top:0px;
    right:0px;
    background-color:#dee7f2;
    height:100%;
    width:2px;
    content:"";
}
.modal-box{
  width:1210px;
  /*top: 44%;*/
  transform: translateY(0px) !important;
  -webkit-transform: translateY(0px) !important;
}
.modal-box .modal-content{
	box-shadow:none !important;

	border:0px none; 
}
.modal-box .modal-content .modal-body{
	padding:0px;
}
.table-overall-details tbody tr td .txt-box-description{
	width:80%;
	border: 1px solid #dc0000;
	padding:5px;
	box-sizing:border-box;
	font-weight: normal;
	height: 37px;
    float: left;
	font-size:14px;
}
.modal-box .close{
	background-color:#DC0000;
	border-radius:100%;
	color:#fff;
	opacity: 1;
    width: 21px;
    height: 21px;
    font-weight: normal;
    line-height: 20px;
	position: absolute;
    right: -8px;
    top: -8px;	
	text-shadow: none;
	z-index:2;
    font-size:30px;
}
.modal-box .save-btn{
	background-color: #dc0000;
    border: 1px solid #dc0000;
    color: #fff;
    height:37px;
    font-weight: 400;
	width:20%;
}
.table-overall-details tbody tr td.nav-links a{
	display:block;
	text-decoration:none;
	color:#000;
	/*text-align:center;*/
}
.table-overall-details tbody tr td.nav-links a:hover{
	color:#5B9BD5;
}
.box-square {
    border: 1px solid #000;
    height: 220px;
    text-align: center;
    display: table-cell;
    width: 100%;
	padding:10px;
	vertical-align:middle;
}
.box-square a, .box-square p{
	width:100%;
	display:inline-block;
	text-decoration:none;
	color:#000;
	font-size:22px;
}
.grid6x6{
	display:table;	
	margin: 10px 0px;
}
.table-overall-details tbody::-webkit-scrollbar {
    width: 5px;
    height:7px;
}
.table-overall-details tbody::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.8);
  border-radius:10px;
}
.job-head {
    text-align:center;
    padding-top: 16px;
    padding-bottom: 2px;
    color:#333;
}
/*------Job List Style--------------*/

/* for 2 columns */
#joblistwithparameter .modal-box-2 {
    width: 405px;
	display: block;
}
#joblistwithparameter .modal-box-2 .table-overall-details, #joblistwithparameter .modal-box-2 .table-overall-details thead, #joblistwithparameter .modal-box-2 .table-overall-details tbody {
    width: 405px;
}

/* for 3 columns */
#joblistwithparameter .modal-box-3 {
    width: 605px;
	display: block;
}
#joblistwithparameter .modal-box-3 .table-overall-details, #joblistwithparameter .modal-box-3 .table-overall-details thead, #joblistwithparameter .modal-box-3 .table-overall-details tbody {
    width: 604px;
}

/* for 4 columns */
#joblistwithparameter .modal-box-4 {
    width: 805px;
	display: block;
}
#joblistwithparameter .modal-box-4 .table-overall-details, #joblistwithparameter .modal-box-4 .table-overall-details thead, #joblistwithparameter .modal-box-4 .table-overall-details tbody {
    width: 804px;
}

/* for 5 columns */
#joblistwithparameter .modal-box-5 {
    width: 1005px;
	display: block;
}
#joblistwithparameter .modal-box-5 .table-overall-details, #joblistwithparameter .modal-box-5 .table-overall-details thead, #joblistwithparameter .modal-box-5 .table-overall-details tbody {
    width: 1004px;
}