﻿@media (min-width: 768px){
	.tiny-popup .modal-dialog {
    	width: 230px;
	}
}
.modal-backdrop{
	background-color:transparent;
}
.tiny-popup .modal-header{
	border-bottom: 2px solid #333;
}
.tiny-popup .links-invoices a{
	display:inline-block; 
	width:100%;
	padding:5px 0px;
	text-align:center;
}
.tiny-popup .modal-content{
	box-shadow:none;
	border:2px solid #dc0000;
	position:relative;
}
.tiny-popup .popup-content{
   height:150px;
   overflow:auto;
   padding:10px 5px;
}
.tiny-popup .modal-body{
	padding:5px 0px;
}
.tiny-popup .popup-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tiny-popup .popup-content::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.tiny-popup .popup-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}
.tiny-popup .modal-content:after{
	content: "\e252";
	left: 50%;
    bottom: -22px;
    position: absolute;
    font-size: 22px;
    transform: translateX(-50%);
    color: #dc0000;
	font-family: 'Glyphicons Halflings';
}