﻿@{
    ViewBag.Title = "Contractor Resource Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*a.btnsml_action.e-view.round */
    .accessallowed {
        box-shadow: 0px 0px 1px 1px green !important;
    }
    /*.accessallowed {
        border-color: green;
        border-radius: 1px;
    }*/

    .fixed-height-width {
        height: 124px;
        width: auto;
    }

    .gallerywrapper .gallery-item .meta {
        min-height: 100px;
    }

        .gallerywrapper .gallery-item .meta span {
            min-height: 45px;
        }

    .nopad {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .label_bordered {
        padding-top: 5px !important;
        margin-top: 9px;
    }

    .gallerywrapper .gallery-item-list .box_statusAction {
        width: 174px;
        padding-left: 15px !important;
    }

        .gallerywrapper .gallery-item-list .box_statusAction .pull-right {
            margin-right: 3px !important;
        }

    .x-dashboard.modal-open {
        padding-right: 0px !important;
    }

    .gallery-item-list .pull-left span {
        min-width: 325px;
    }

        .gallery-item-list .pull-left span.gallery-list-head:last-child {
            min-width: 110px;
        }

    .panel .panel-body {
        padding: 15px 15px 6px;
    }
</style>

<ul class="breadcrumb">
    <li><a href="/dashboard/index">Dashboard</a></li>
    <li class="active"><a href="/resourceupload/list">Contractor Resource Center</a></li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2>Contractor Resource Center</h2>
</div>

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            @*Search:*@
                            <input type="search" class="" placeholder="Search" id="ResourceDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                    <div class="btn-group btn-group-margin">
                        <a href="#" id="list" name="AssetListCenter" class="btn btn-sm mybtn listing-btn"><span class="glyphicon glyphicon-th-list"></span> </a>
                        <a href="#" id="grid" name="AssetGridCenter" class="btn btn-sm mybtn listing-btn">
                            <span class="glyphicon glyphicon-th"></span>

                        </a>
                    </div>

                    <input type="hidden" value="@ViewBag.ProjectID" id="projecid" />
                    @if (User.RoleId == 1 || User.RoleId == 3)
                    {
                        <div class="cstm text-right" id="ffff">

                            <button class=" mybtn" data-toggle="modal" data-target="#AddResource" id="AddResourceClose"> Add New <i class="fa fa-plus"></i></button>

                        </div>
                    }
                </div>
            </div>

            <div class="gallery gallerywrapper" id="links">


            </div>
        </div>
    </div>
</div>

<!--model add user -->
<div class="modal fade modelform" id="AddResource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Resource</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-7 col-xs-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control resourcerequired" maxlength="64" id="addResourceName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Product Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control resourcerequired" maxlength="64" id="addProductName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label">Document Type*</label>
                        <div class="col-sm-8">
                            <select id="adddoctype" class="form-control " tabindex="5"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label resourcerequired">Published</label>
                        <div class='col-sm-8'>
                            <input type="checkbox" id="AddIsPublished" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Title Image</label>
                        <div class="addlogo col-sm-5" style="width: 186px;">
                            <div class="avatar" id="Divlogo">
                                <p class="mid" id="imagelogo"><img id="addlogo" title="Title Image" alt="" src="~/img/no_images.png" height="60px" width="60px"></p>

                                <div class="kv-avatar center-block kv-avatar-remove" onclick="clearFileInputField('addlogo', 'addProfile');" data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove Title Image">
                                    @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                </div>

                                <div class="kv-avatar center-block">
                                    <input type="file" accept="image/jpeg, image/png" id="addProfile" class="addcompanyrequired form-control" data-original-title="" title="">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <i>60 x 60 pixel recommended !</i>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-4 form-control-label resourcerequired">Title Image</label>
                            <div class="addlogo center" style="">
                                <div class="avatar" id="Divlogo">
                                    <p class="mid" id="imagelogo"><img id="imgthumbimage" title="Thumb Image" alt="" src="~/img/no_images.png" width="100%"></p>
                                    <div class="kv-avatar center-block">
                                        <input type="file" accept="image/jpeg, image/png" id="addthumbimage" class="form-control" data-original-title="" title="">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <i>60 x 60 pixel recommended !</i>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group row">

                        <input type="url" value="" placeholder="URL" name="UrlName" class="required form-control" id="UrlName">
                        <br />
                        <div class="text-center"><h3>Or</h3></div>


                        <p class="text-left"> <em>These file types are only allowed:- jpeg,jpg,png,gif,txt,pdf,doc,docx,ppt,pptx,pps,ppsx,odt,xls,<br />xlsx,bim,rfa,cad,acd </em></p>

                        <form action="~/ResourceUpload/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>

                        <p class="text-right"> Max upload size will be 32 MB </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="mybtn" id="btnAddResource">Submit</button>
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Resource</h4>
            </div>
            <input type="hidden" id="editResourceid" />
            @*<input type="hidden" id="SelectDocumentType" value="@ViewBag.DocumentType" />*@
            <div class="modal-body">
                <div class="col-md-7 col-xs-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control editresourcerequired" maxlength="64" id="editResourceName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Product Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control editresourcerequired" maxlength="64" id="editProductName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label">Document Type*</label>
                        <div class="col-sm-8">
                            <select id="editdoctype" class="form-control " tabindex="5"></select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label resourcerequired">Published</label>
                        <div class='col-sm-8'>
                            <input type="checkbox" id="EditIsPublished" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">Title Image</label>
                        <div class="addlogo col-sm-5" style="width: 186px;">
                            <div class="avatar" id="Divlogo">
                                <p class="mid" id="imagelogo"><img id="editUserpic" title="Title Image" alt="" height="60px" width="60px"></p>

                                <div class="kv-avatar center-block kv-avatar-remove" onclick="clearFileInputField('editUserpic', 'editpic');" data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove Title Image">
                                    @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                </div>

                                <div class="kv-avatar center-block">
                                    <input type="file" accept="image/jpeg, image/png" id="editpic" class="addcompanyrequired form-control">
                                    <input type="hidden" id="editpicFilename" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <i>60 x 60 pixel recommended !</i>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label resourcerequired">FileName</label>
                        <div class='col-sm-8'>

                            <div id="attchFilename">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group row">

                        <input type="url" value="" placeholder="URL" name="UrlName" class="required form-control" id="EditUrlName">
                        <br />
                        <div class="text-center"><h3>Or</h3></div>
                        <p class="text-left"> <em>These file types are only allowed:- jpeg,jpg,png,gif,txt,pdf,doc,docx,ppt,pptx,pps,ppsx,odt,xls,<br />xlsx,bim,rfa,cad,acd </em></p>
                        <form action="~/ResourceUpload/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="editdropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>

                        <p class="text-right"> Max upload size will be 32 MB </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="mybtn" id="btnUpdateResource">Update</button>
                <button type="submit" class="delete mybtn" id="btnDeleteDocument">Delete</button>
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<!--model part -->
<!-- model permission -->
<div class="modal fade modelform" id="ViewVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">View </h4>
            </div>
            <div class="modal-body view">
                <div class=" col-xs-12">
                    <div class="form-group">
                        <div class="videoWrapper">
                            <iframe id="VideoFrame" width="560" height="315" src="" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>

</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/ResourceUpload.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/dropzone/dropzone.min.js"></script>


<script type="text/javascript">


    Dropzone.autoDiscover = false;


    $(".dropzone").dropzone({
        //url: '/cart?upload-engraving=true',

        maxFiles: 1,
        acceptedFiles: ".jpeg,.jpg,.jpe,.png,.gif,.txt,.pdf,.doc,.docx,.ppt,.pptx,.pps,.ppsx,.odt,.xls,.xlsx,.bim,.rfa,.cad,.acd",
        maxFilesize: 32,
        maxfilesexceeded: function (file) {

            this.removeAllFiles();
            this.addFile(file);
        }
    })

    //$(window).load(function () {

    //    $('[data-toggle="tooltip"]').tooltip();
    //});

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });



</script>






