﻿@{
    ViewBag.Title = "Edit - Account Management";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/managecompany/list"> Account Management</a></li>
    <li> <a href="javascript:void(0)"> @ViewBag.companyName</a></li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<!-- PAGE TITLE -->
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2> Account Management</h2>
</div>
<!-- PAGE TITLE -->
<!-- START CONTENT FRAME TOP -->
<!-- END CONTENT FRAME TOP -->
<!-- START CONTENT FRAME LEFT -->
<!-- END CONTENT FRAME LEFT -->
<!-- START CONTENT FRAME BODY -->

<div class="row">
    <div class="col-md-12" id="editDetail">

        <!-- START DEFAULT DATATABLE -->
        <!-- START DEFAULT DATATABLE -->
        <input type="hidden" id="editid" value="@ViewBag.Editid" />
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="">
                        <div class="pull-left">
                            <div class="page-title diff">
                                <h2>Edit</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="panel-controls">
                        <!-- <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row">
                            <fieldset class="field">
                                <legend>Company</legend>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" id="editcompanyid">
                                        <label class="col-md-12 col-lg-4 col-xs-12 control-label "> </label>
                                        <div class="col-lg-8 col-md-12 col-xs-12">
                                            <input type="hidden" id="editfileName">
                                            <div class=" addlogo pull-left" style="">
                                                <div class="avatar" id="Divlogo">

                                                    <!-- <p class="mid" id="imagelogo"><img id="addlogo" title="Company Logo" alt="" src="img/ism-logo.png"></p>-->
                                                    <p class="mid" id="imagelogo">
                                                        <img id="editlogo" title="Company Logo" alt="" src="" width="143">
                                                    </p>

                                                    <div class="kv-avatar center-block kv-avatar-remove" onclick="clearFileInputField('editlogo', 'editcompanylogo');" data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove Company Logo">                                                       
                                                        @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                                    </div>

                                                    <div class="kv-avatar center-block">
                                                        <input type="file" accept="image/jpeg, image/png" id="editcompanylogo" class="addcompanyrequired form-control" data-original-title="" title="" >
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <i>160 x 60 pixel recommended !</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group  readonly">
                                        <label class="col-md-12 col-lg-4 col-xs-12 control-label "> Company ID</label>
                                        <div class="col-lg-8 col-md-12 col-xs-12">
                                            @*<input type="text" class="form-control" maxlength="16" id="editaccountnumber" name="editaccountnumber">*@
                                            <input type="text" class="form-control" maxlength="16" id="Viewcompanyid" name="Viewcompanyid" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group  readonly">
                                        <label class="col-md-12 col-lg-4 col-xs-12 control-label  "> SAP ID</label>
                                        <div class="col-lg-8 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" maxlength="32" id="editexternalaccountnumber" name="editexternalaccountnumber">
                                        </div>
                                    </div>
                                    <div class="form-group padding-0 readonly">
                                        <label class="col-md-12 col-lg-4 col-xs-12 control-label   "> Company Name </label>
                                        <div class="col-lg-8 col-md-12 col-xs-12">
                                            <input type="text" class="form-control" disabled="disabled" maxlength="50" id="editcompanyname" name="editcompanyname">
                                        </div>
                                    </div>
                                    <div class="form-group padding-0 ">
                                        <label class="col-md-12 col-lg-4 col-xs-12 control-label  ">  Phone #</label>
                                        <div class="col-lg-8 col-md-12 col-xs-12">
                                            <input type="text" maxlength="15" class="form-control" id="editprimaryphonenumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </fieldset>
                        </div>

                        <div class="col-md-6 col-sm-6">

                            <fieldset class="field">
                                <legend>Head Office</legend>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Street Address</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <textarea class="form-control" maxlength="200" id="editaddress1" cols="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-md-12 col-lg-5 col-xs-12 control-label">   Address  2 </label>
                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" maxlength="200" id="editaddress2">
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> State </label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <select class="form-control" id="heditcountry" style="display:none"></select>
                                        <select class="form-control" id="editstate"></select>
                                    </div>
                                </div>

                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label">City</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input class="form-control" placeholder="" maxlength="200" id="editcity" />
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label">Zip</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input maxlength="5" class="form-control" id="editzipcode" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Phone #</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" maxlength="15" class="form-control" id="editheadofficephonenumber">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <legend>Primary  Contact</legend>
                                <div class="form-group " style="display:none;">
                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Designation *</label>
                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                        @*<input type="text" maxlength="20" class="form-control" id="editinchargedes">*@
                                        <select class="form-control " id="editinchargedes">
                                            <option value="">--Select--</option>
                                            <option value="1">Sales Executive</option>
                                            <option value="2">Project Managaer</option>
                                            <option value="3">Superintendent</option>
                                            <option value="4" selected>Resource</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Name </label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" id="editinchargefname" class="editcompanyrequired form-control" maxlength="64">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Phone #</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" maxlength="15" class="editcompanyrequired form-control" id="editinchargephone">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Email ID</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="editcompanyrequired form-control" maxlength="50" id="editinchargeemail">
                                    </div>
                                </div>
                            </fieldset>
                            <!--<fieldset class="field">
                              <legend>Account Manager </legend>
                              <div class="form-group  ">
                                <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Name </label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                  <input type="text" class="form-control" value="  ">
                                </div>
                              </div>
                               <div class="form-group ">
                                <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Phone</label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                  <input type="text" class="form-control" value="   ">
                                </div>
                              </div>
                              <div class="form-group ">
                                <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Email Id</label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                  <input type="text" class="form-control" value="   ">
                                </div>
                              </div>
                            </fieldset>-->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <fieldset class="field">
                                <legend>
                                    Billing
                                    <label class="check">
                                        <input type="checkbox" id="IsBillingedit" class="icheckbox" />
                                        <span class="smtxt">( Same as Head Office ) </span>
                                    </label>
                                </legend>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Street Address</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <textarea class="form-control" maxlength="200" id="editbillingA1" cols="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-md-12 col-lg-5 col-xs-12 control-label">   Address  2 </label>
                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" maxlength="200" id="editbillingA2">
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> State </label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <select class="form-control" id="beditcountry" style="display:none"></select>
                                        <select class="form-control" id="editbillingstate"></select>
                                    </div>
                                </div>

                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label">City</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" placeholder="" maxlength="200" id="editbillingcity" />
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label">Zip</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" placeholder="" id="editbillingzipcode" maxlength="5" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Phone #</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="form-control" id="editbillingphonenumber" maxlength="15">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="field">
                                <legend>Schindler Manager </legend>
                                <div class="form-group  ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Name </label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="editcompanyrequired form-control" id="editacctmanagername" maxlength="64">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Phone #</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="editcompanyrequired form-control" maxlength="15" id="editacctmanagerphone">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-md-12 col-lg-4 col-xs-12 control-label"> Email ID</label>
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <input type="text" class="editcompanyrequired form-control" id="editacctmanageremail" maxlength="50">
                                    </div>
                                </div>
                            </fieldset>


                            <!--   <div class="form-group">
                                                              <label class="col-md-3 control-label">Checkbox</label>
                                                              <div class="col-md-9">
                                                                  <label class="check"><input type="checkbox" class="icheckbox" checked="checked"/> Checkbox title</label>
                                                                  <span class="help-block">Checkbox sample, easy to use</span>
                                                              </div>
                                                          </div>-->

                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="mybtn updt" id="editCompany" type="submit">Update</button>
                        <button class="mybtn" type="button" id="editreset">Cancel</button>
                    </div>
                </div>
                <!-- END CONTENT FRAME BODY --> <!-- END PAGE TITLE -->
                <!-- PAGE CONTENT WRAPPER -->
                <!-- PAGE CONTENT WRAPPER --> <!-- END PAGE CONTENT -->
                <!-- END PAGE CONTAINER -->
                <!-- MESSAGE BOX-->
                <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
                    <div class="mb-container">
                        <div class="mb-middle">
                            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                            <div class="mb-content">
                                <p>Are you sure you want to log out?</p>
                                <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                            </div>
                            <div class="mb-footer">
                                <div class="pull-right">
                                    @*<a href="index.html" class="btn mybtn btn-lg">Yes</a>
                                        <button class="btn mybtn btn-lg">No</button>*@

                                    <a href="javascript:void(0)" id="btnLogOut" class="btn mybtn btn-lg" onclick="logOut();">Yes</a>
                                    <button class="btn mybtn btn-lg mb-control-close" id="btnLogOutCancel">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MESSAGE BOX-->

                <div class="modal" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="largeModalHead">Delete</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Do you really want to delete Account ?</h5>
                            </div>
                            <div class="modal-footer">
                                <button class="light mybtn" data-dismiss="modal">Cancel</button>
                                <button class="mybtn  delete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRELOADS -->

            </div>
        </form>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="CompanyEditSuccessModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center" id="CompanyEditSuccessMessage"></p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" onclick="CompanyEditSuccessModalOk()">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/js/Custom/CompanyEdit.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type='text/javascript'>
        function logOut() {
        window.location.href='/login/logout' ;
        }

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
</script>