﻿@using SchindlerCustomerPortal.Models;
@model UserPermissionViewModel

@{
    ViewBag.Title = "Account Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide {
        display: none;
    }
</style>


 <!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="javascript:void(0)"> Account Management</a></li>

</ul>
<!-- END BREADCRUMB --> 
<div class="page-title">
    <h2> Account Management</h2> 
</div>

<input type="hidden" value="@User.RoleId" id="hdRoleId" />
<input type="hidden" value="@User.UserId" id="hdUserId" />



@*<div class="row clintlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main margn">
                <div class="container">           
                  
                    <div class="col-lg-3 col-md-3 col-sm-2 pull-right rightpad">
                        @if (Model.HasAddPermission)
                        {
                            <i class="img-rnd">
                                <a href="#" data-toggle="modal" data-target="#addCompany">
                                    Add New
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                    </span>
                                </a>
                            </i>
                        }

                        <i class="img-rnd pading dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/info.png" height="25px" />

                            </a>
                            <ul class="dropdown-menu icons">
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-edit.png"></span>Edit</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-delete.png"></span>Delete</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-sammery.png"></span>Sammary</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact-document.png"></span>Contract Document</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-contact.png"></span>Contact</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-drawing.png"></span>Drawing</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-milestone.png"></span>Project Milestone</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-signature.png"></span>Signature</a></li>
                                <li><a href="#"><span class="btnsml"><img src="~/img/action-project-planner.png"></span>Project Planner</a></li>
                            </ul>
                        </i>
                    </div>

                    <table class="table usertbl example table-hover bdt" id="CompanyDatatable">
                        <thead>
                            <tr>
                               
                                <th>Logo</th>
                                <th><span class="sort-element">Company</span></th>
                                <th><span class="sort-element">Address</span></th>
                                <th><span class="sort-element">Primary Contact</span></th>
                                <th><span class="sort-element">Phone</span></th>
                                <th><span class="sort-element">Email</span></th>
                                <th><span class="sort-element">Sales Representative</span></th>
                                
                                <th style="width: 80px;"><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                       
                    </table>
                    <div class="clearfix"></div> 
                </div>
            </div>
        </div>
    </div>
</div>*@

<input type="hidden" id="hdnCheckUserManagementforAccountpage" value="@ViewBag.CheckPermission" />

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            @*Search:*@
                            <input type="search" class="" placeholder="Search" name="CompanyDatatableSearch" id="CompanyDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    @*<div class="cstm text-right" id="ffff">
    <button class="mybtn" data-toggle="modal" data-target="#addCompany">Add New<i class="fa fa-plus"></i></button>
                    </div>*@ 

                    <table class="table datatable table-striped lasttd" id="CompanyDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">CompanyID</th>
                                <th style="cursor: none;">Company</th>
                                <th>Name</th>
                                <th>Address</th>
                                @*<th>Primary Contact</th>*@
                                <th>Phone</th>
                                @*<th>Email</th>*@
                                <th>Schindler Manager</th>
                                <th>Action</th>  
                            </tr>
                        </thead>
                        
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!--model part add Register client -->

<div class="modal fade register" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="addclientform" method="post" enctype="multipart/form-data" class="alignlabel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/images/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Company</h4>
                </div>

                <div class="modal-body">
                    <i class="alrt-worn">Italicized fields are mandatory!</i><br />
                    <div class="col-lg-12">
                        <fieldset style="margin-top:10px">
                            <legend>Company </legend>

                            <div class=" col-lg-8 col-md-8 col-sm-12 ">
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label"><i>Company Name</i></label>
                                    <div class="col-sm-9">
                                        <input type="text" maxlength="50" class="addcompanyrequired form-control" tabindex="1" id="companyname" name="companyname">
                                    </div>
                                </div>

                                @*<div class="form-group row">
                                    <label class="col-sm-3 form-control-label log"><i>Offline Access Duration</i></label>
                                    <div class="col-sm-9">
                                        <input type="number" value="100" min="1" max="100" class="addcompanyrequired form-control" tabindex="2" id="offline">

                                    </div>
                                </div>*@
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <input type="hidden" id="fileName">
                                <div class="col-sm-12 addlogo">
                                    <div class="avatar" id="Divlogo">
                                        <p class="mid" id="imagelogo"><img id="addlogo" title="Company Logo" alt="" src="/images/img/no_images.png"></p>

                                        <div class="kv-avatar center-block">
                                            <input type="file" accept="image/jpeg, image/png" name="companyLogo" id="companyLogo" class="addcompanyrequired form-control">
                                        </div>

                                    </div>
                                    <i>160 x 60 pixel recommended !</i>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6  col-sm-12">
                        <fieldset>
                            <legend>Head Office</legend>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 1</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="200" class="addcompanyrequired form-control" tabindex="3" name="address1" id="address1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 2</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="200" class="addcompanyrequired form-control" tabindex="4" name="address2" id="address2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Country</i></label>
                                <div class="col-sm-9">
                                    <select id="headofficeCountry" name="headofficeCountry" class="addcompanyrequired form-control" tabindex="5">
                                        @*<option value="0">--Select--</option>*@

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>State</i></label>
                                <div class="col-sm-9">
                                    <select id="headofficeState" name="headofficeState" class="addcompanyrequired form-control" tabindex="6"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>City</i></label>
                                <div class="col-sm-9">
                                    <select id="headofficeCity" name="headofficeCity" class="addcompanyrequired form-control" tabindex="7"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Zip Code</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="5" class="addcompanyrequired form-control" tabindex="8" name="zipcode" id="zipcode">
                                    <span id="addhzipmsg" style="color:red"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-6  col-sm-12 fst">
                        <fieldset>
                            <legend>Billing <strong><input id="IsBillingAdd" name="IsBillingAdd" type="checkbox">(<em> Same as Head Office </em>)</strong></legend>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 1</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="200" class="addcompanyrequired form-control" tabindex="9" name="billingA1" id="billingA1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 2</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="200" class="addcompanyrequired form-control" tabindex="10" name="billingA2" id="billingA2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Country</i></label>
                                <div class="col-sm-9">
                                    <select class="addcompanyrequired form-control" tabindex="11" name="billingofficeCountry" id="billingofficeCountry"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>State</i></label>
                                <div class="col-sm-9">
                                    <select class="addcompanyrequired form-control" tabindex="12" name="billingofficeState" id="billingofficeState"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>City</i></label>
                                <div class="col-sm-9">
                                    <select class="addcompanyrequired form-control" tabindex="13" name="billingofficeCity" id="billingofficeCity"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Zip Code</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="5" class="addcompanyrequired form-control" tabindex="14" name="billingzipcode" id="billingzipcode">
                                    <span id="addbzipmsg" style="color:red"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-12  col-sm-12">
                        <fieldset>
                            <legend>Primary Contact</legend>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12  ">
                                <label class="col-sm-3 form-control-label"><i>First Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" id="IFirstName" name="IFirstName" class="addcompanyrequired form-control" tabindex="15">
                                </div>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Last Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" id="ILastName" name="ILastName" class="addcompanyrequired form-control" tabindex="16">
                                </div>
                            </div>


                            <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>Designation</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="20" class="addcompanyrequired form-control" name="Designation" id="Designation" tabindex="17">
                                </div>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Phone</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="12" class="addcompanyrequired form-control" name="InchargePhone" id="InchargePhone" tabindex="18">
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Email</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="50" class="addcompanyrequired form-control" name="Inchargeemail" id="Inchargeemail" tabindex="19">

                                </div>
                            </div>

                            @*<div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label">CC Email</label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="50" class="addcompanyrequired form-control" id="ccmail" tabindex="20">

                                </div>
                            </div>*@

                        </fieldset>
                    </div>

                    <div class="col-lg-12  col-sm-12">
                        <fieldset>
                            <legend>Sales Representative</legend>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>First Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="addcompanyrequired form-control" tabindex="21" name="ContactFirstName" id="ContactFirstName">
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>Last Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="addcompanyrequired form-control" tabindex="22" name="ContactLastName" id="ContactLastName">
                                </div>
                            </div>
                        </fieldset>


                    </div>

                    <div class="clearfix"> </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="addreset" name="addreset" class="btn btn-warning">Reset</button>
                    <button type="submit" id="addNewCompany" name="addNewCompany" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-info" name="btnDismiss" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--model part -->
<!--model part edit detail -->








<div class="modal fade register" id="editDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="editclientform" method="post" class="alignlabel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btnclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/images/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Company</h4>
                </div>
                <div class="modal-body">
                    <i class="alrt-worn">Italicized fields are mandatory!</i><br />
                    <fieldset>
                        <legend>Company </legend>
                        <input type="hidden" id="editcompanyid">
                        <div class=" col-lg-8 col-md-8 col-sm-12 ">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Company Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="50" id="editcompanyname" name="editcompanyname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Account Number</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="16" id="editaccountnumber" name="editaccountnumber">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>External Account Number</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" maxlength="32" id="editexternalaccountnumber" name="editexternalaccountnumber">
                                </div>
                            </div>

                            @*<div class="form-group row">
                                <label class="col-sm-3 form-control-label log"><i>Offline Access Duration</i></label>
                                <div class="col-sm-9">
                                    <input type="number" value="100" min="1" max="100" class="editcompanyrequired form-control" id="editdure">

                                </div>
                            </div>*@
                        </div>

                        <div class="form-group col-lg-4 col-md-3 col-sm-12">
                            <input type="hidden" id="editfileName">
                            <div class="col-sm-12 addlogo">
                                <div class="avatar">
                                    <p class="mid">
                                        <img id="editlogo" alt="" src="/img/no_images.png">
                                    </p>
                                    <div class="kv-avatar center-block">
                                        <input type="file" accept="image/jpeg, image/png" name="editcompanylogo" id="editcompanylogo">
                                    </div>
                                </div>
                                <i>160 x 60 pixel recommended !</i>
                            </div>
                        </div>
                    </fieldset>


                    <div class="col-lg-6  col-sm-12">
                        <fieldset>
                            <legend>Head Office</legend>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 1</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="200" name="editaddress1" id="editaddress1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 2</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="200" name="editaddress2" id="editaddress2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Country</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="heditcountry" id="heditcountry"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>State</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="editstate" id="editstate"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>City</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="editcity" id="editcity"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Zip Code</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="5" class="editcompanyrequired form-control" name="editzipcode" id="editzipcode">
                                    <span id="edithzipmsg" style="color:red"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-6  col-sm-12 fst">
                        <fieldset>
                            <legend>Billing <strong><input id="IsBillingedit" type="checkbox">(<em> Same as Head Office </em>)</strong></legend>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 1</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="200" name="editbillingA1" id="editbillingA1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Address 2</i></label>
                                <div class="col-sm-9">
                                    <input type="text" class="editcompanyrequired form-control" maxlength="200" name="editbillingA2" id="editbillingA2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Country</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="beditcountry" id="beditcountry"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>State</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="editbillingstate" id="editbillingstate"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>City</i></label>
                                <div class="col-sm-9">
                                    <select class="editcompanyrequired form-control" name="editbillingcity" id="editbillingcity"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label"><i>Zip Code</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="5" class="editcompanyrequired form-control" name="editbillingzipcode" id="editbillingzipcode">
                                    <span id="editbzipmsg" style="color:red"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-12  col-sm-12">
                        <fieldset>
                            <legend>Primary Contact</legend>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12  ">
                                <label class="col-sm-3 form-control-label"><i>First Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="editcompanyrequired form-control" name="editinchargefname" id="editinchargefname">
                                </div>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Last Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="editcompanyrequired form-control" name="editinchargelname" id="editinchargelname">
                                </div>
                            </div>


                            <div class="form-group  col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>Designation</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="20" class="editcompanyrequired form-control" name="editinchargedes" id="editinchargedes">
                                </div>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Phone</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="15" class="editcompanyrequired form-control" name="editinchargephone" id="editinchargephone">
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label"><i>Email</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="50" class="editcompanyrequired form-control" name="editinchargeemail" id="editinchargeemail">
                                </div>
                            </div>

                            @*<div class="form-group col-lg-6 col-md-6 col-sm-12 ">
                                <label class="col-sm-3 form-control-label">CC Email</label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="50" class="editcompanyrequired form-control" id="editccemail">
                                </div>
                            </div>*@

                        </fieldset>
                    </div>

                    <div class="col-lg-12  col-sm-12">
                        <fieldset>
                            <legend>Sales Representative</legend>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>First Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="editcompanyrequired form-control" name="editcontactfname" id="editcontactfname">
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="col-sm-3 form-control-label"><i>Last Name</i></label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="32" class="editcompanyrequired form-control" name="editcontactlname" id="editcontactlname">
                                </div>
                            </div>
                        </fieldset>


                    </div>

                    <div class="clearfix"> </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="editreset" name="editreset" class="btn btn-warning">Reset</button>
                    <button type="submit" id="editCompany" name="editCompany" class="btn btn-primary">Submit</button>
                    <button type="button" id="editdelete" name="editdelete" class="btn btn-info btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-info" name="btnDismiss" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part edit detail -->
<div class="modal fade" id="deletesingle" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/images/img/close.png" width="18" height="18" alt=""></span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-12">

                        <p style="color: red; font-size: medium; text-align: center">Are you sure you want to remove this company?</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="mybtn" id="userdeletesingle" name="userdeletesingle" aria-hidden="true" value="Yes" />
                <button class="mybtn" name="btnDismiss" data-dismiss="modal" aria-hidden="true">No</button>
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myInvalidModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <p style="color: red; font-size: large; text-align: center">Something wrong, Please try again!</p>
                </center>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myDeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <center>
                    <p style="color: green; font-size: large; text-align: center">Company record has been deleted!</p>
                </center>
            </div>
            <div class="modal-footer">
                <input id="deleteok" name="deleteok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/custom/Company.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<style>
    .dataTables_processing {
        text-align: center;
    }
</style>

