﻿
@{
    ViewBag.Title = "Audit Trail";
    var versionJS = DateTime.Now.ToShortDateString();
    var result = "";
}

<div class="page-content-wrap">

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
        <li> <a href="javascript:void(0)"> Audit Trail</a></li>
    </ul>
    <!-- END BREADCRUMB -->

    <div class="page-title">
        <h2> Audit Trail</h2>
    </div>

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        @*<div class="col-lg-12">
                            <div class="col-lg-2 col-md-5 col-sm-12 text-left">
                                <div class="form-group   ">

                                    <div class="col-md-12">

                                        <div class=" ">
                                            <input type="text" placeholder="search " class="form-control" autocomplete="off">

                                        </div>





                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5 col-sm-12  text-right pull-fdfright searcharea">
                                <div class="col-md-6 col-sm-6  text-left ">
                                    <label>From</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control datepicker" value="10/12/2016">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6  text-left ">
                                    <label>To</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control datepicker" value="10/12/2016">
                                    </div>
                                </div>
                            </div><div class="col-lg-2 col-md-4 col-sm-5 text-left">
                                <span class="input-group-btn">
                                    <input type="submit" class="button btn btn-default" value="Search" name="subscribe" id="mc-embedded-subscribe">
                                </span>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-5 text-left">
                                <button class=" mybtn" data-toggle="modal" data-target="#modal_large">Advance Search <i class="fa fa-search-plus"></i></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@
                        
                        <div class="col-lg-12 formbar">
                            <div class="col-lg-4 col-md-5 col-sm-12 text-left">
                                <div class="form-group   ">

                                    <div class="col-md-12">

                                        @*<div class="test">
                                            <input type="text" placeholder="search" id="AuditTrailCustomSearch" class="form-control" autocomplete="off">

                                        </div>*@
                                        <div class="dataTables_filter">
                                            <label>
                                                <input type="search" class="" placeholder="Search" id="AuditTrailCustomSearch" aria-controls="DataTables_Table_0">
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12  text-right pull-fdfright searcharea">
                                <div class="col-md-6 col-sm-6 col-xs-12  text-left ">
                                    <label>From</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="txtLogDateFrom" class="form-control datepicker" value="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6  col-xs-12 text-left ">
                                    <label>To</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" id="txtLogDateTo" class="form-control datepicker" value="" readonly>
                                    </div>
                                </div>
                            </div><div class="col-lg-2 col-md-4 col-sm-12 text-left">
                                <span class="input-group-btn text-center">
                                    <input type="submit" class="button mybtn btn-default" id="btnAuditTrailSearch" value="Search" name="subscribe" id="mc-embedded-subscribe">
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="dataTables_filter">
                            <label>
                                <input type="search" class="" placeholder="Search" id="AuditTrailDataTableSearch" aria-controls="DataTables_Table_0">
                            </label>
                        </div>

                        <table class="table datatable table-striped lasttd" id="AuditTrailDataTable">
                            <thead>
                                <tr>
                                    <th>Datetime</th>
                                    <th>User</th>
                                    <th>Role</th>
                                    <th>Module</th>
                                    <th>Operation</th>
                                    <th>Action</th>
                                    <th>Client IP</th>
                                    <th>Server IP</th>
                                    <th>Browser Name</th>
                                    <th>Server Name</th>
                                    <th>Search Criteria</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/AuditTrail.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>
<style>
        .dataTables_processing {
        text-align: center;
    }
</style>