﻿<div class="row">
    <div class="col-md-12" id="ProjectDocumentForm">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">


                    <div class="cstm">
                        <div class=" pull-left">
                            <div class="page-title">
                                <h2 id="ViewProjectDocument"> </h2>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dataTables_filter">
                        <label>
                            <input type="search" class="" placeholder="Search" id="DocumentDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    @if (User.RoleId == 1 || User.RoleId == 3)
                    {
                        <div class="cstm text-right" id="ffff">
                            <input type="hidden" value="@ViewBag.ProjectId" id="projecid" />
                            <input type="hidden" id="SelectDocumentType" value="@ViewBag.DocumentType" />

                            <button class="mybtn" data-toggle="modal" data-target="#AddDocument" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Add New" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>

                        </div>
                    }
                    <table class="table  datatable   table-striped  responsive" id="Documenttable">
                        <thead>
                            <tr>

                                <th style="display:none">DocumentID</th>
                                <th><span class="sort-element">Document Name</span></th>
                                <th><span class="sort-element">Description</span></th>
                                <th><span class="sort-element">Document Type</span></th>
                                <th><span class="sort-element">Uploaded By</span></th>
                                <th><span class="sort-element">Expiry Date</span></th>
                                <th><span class="sort-element">Status</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade modelform" id="AddDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">



        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-7 col-xs-12">

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Document Name*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" maxlength="64" id="addDocumentName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label">Document Type*</label>
                        <div class="col-sm-8">

                            <select id="adddoctype" class="form-control docsrequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea rows="4" cols="5" id="addDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Company Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control docsrequired" maxlength="64" id="addCompanyName" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Project Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" maxlength="64" id="addProjectName" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 form-control-label">Bank Desc</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" maxlength="64" id="addJobName">
                            <input type="hidden" class="form-control" maxlength="64" id="hdJobNo">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label">Expiry Date</label>
                        <div class='col-sm-8'>
                            <input type="checkbox" id="AddIsExpiryDate" />
                            @*<input type="text" class="form-control datepicker" id="dpExpDate">*@
                            <div id="divdpExpDate" class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" id="dpExpDate" class="form-control datepicker" value="" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 form-control-label">Published</label>
                        <div class='col-sm-8'>
                            <input type="checkbox" id="AddIsPublished" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">

                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                        </span>



                        <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <p class="text-right"> Max upload size will be 32 MB </p>
                        <p class="text-left"> <em>These file types are only allowed:- jpeg, jpg, png, gif, txt, pdf, doc, docx, ppt, pptx, pps, ppsx, odt,x ls,<br /> xlsx, bim, rfa, cad, acd </em></p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="mybtn" id="btnAddDocument">Submit</button>
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>

            </div>
        </div>

    </div>
</div>



<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Document</h4>
            </div>
            <input type="hidden" id="editDocumentid" />

            <div class="modal-body">

                <div class="col-md-7 col-xs-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">

                            <input type="text" class="form-control" maxlength="64" id="editDocumentName" required>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                        <div class="col-sm-9">

                            <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Company Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" disabled id="editCompanyName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" disabled id="editProjectName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Bank Desc</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="editJobName">
                            <input type="hidden" class="form-control" maxlength="64" id="edithdJobNo">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expiry Date</label>
                        <div class='col-sm-9'>
                            <input type="checkbox" id="editIsExpiryDate" />
                            @*<input type="text" class="form-control datepicker" id="editdpExpDate">*@
                            <div id="diveditdpExpDate" class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" id="editdpExpDate" class="form-control datepicker" value="" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published</label>
                        <div class='col-sm-9'>
                            <input type="checkbox" id="editIsPublished" />


                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label resourcerequired">File Name</label>
                        <div class='input-group'>

                            <div id="editattchFilename">

                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                        </span>



                        <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="editdropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <p class="text-right"> Max upload size will be 32 MB </p>
                        <p class="text-left"> <em>These file types are only allowed:- jpeg, jpg, png, gif, txt, pdf, doc, docx, ppt, pptx, pps, ppsx, odt,x ls,<br /> xlsx, bim, rfa, cad, acd </em></p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="mybtn" id="btnUpdateDocument">Update</button>
                <button type="submit" class="delete mybtn" id="btnDeleteDocument">Delete</button>
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

