﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                   
                    <div class="cstm">
                        <div class=" pull-left">
                            <div class="page-title">
                                <h2> Banks / GO # List</h2>
                            </div>
                        </div>
                        <div class="" id="ffff"> 
                            <a style="display:none" class="mybtn pull-right" href="inner-summary-add.html" data-tooltip="tooltip" data-placement="top" 
                               title="" data-original-title="Add New"> Add New<i class="fa fa-plus"></i></a> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dataTables_filter">
                        <label>
                            <input type="search" class="" placeholder="Search" id="ProjectJobListDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                    <table class="table  datatable responsive  table-striped summary responsive " id="ProjectJobListDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th align="center" class="text-center">GO #</th>
                                <th>Bank Desc</th>
                                <th class="text-center">Units</th>
                                <th class="text-center">Capacity</th>
                                <th class="text-center">Speed</th>
                                <th class="text-center">Floor</th>
                                <th class="text-center">Rear opening</th>
                                <th>Prod. Type</th>
                                <th>Prod. Code</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row editDataContainer" style="display: none">
    <div class="col-md-12 ">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" pull-left">
                        <div class="page-title">
                            <h2>
                                Bank Profile  - <span style="font-size:14px;" id="ViewJobDesc"></span> <span style="font-size:12px" id="ViewJobID"></span><a name="editData"></a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row editMode1">

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Serial Number</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editSerialNumber">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12  col-lg-5  col-xs-12 control-label">Office</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editOffice">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Job District </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editJobDistrict">
                            </div>
                        </div>
                        @*<div class="clearfix"></div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Approvals to GC </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editApprovalstoGC">
                            </div>
                        </div>*@
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Approvals to G'berg</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editApprovalstoGberg">
                            </div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJVNOD"> NOD</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value="" id="editNOD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group   readonly ">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJVOriginalNOD"> Original NOD</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value="" id="editOriginalNOD">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group    readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJVNODConfirm"> NOD Confirm?</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value=" " id="editNODConfirm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Forecast Close Date</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value="" id="editForecastCloseDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> NOS planned</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value="" id="editNOSplanned">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> NOS actual</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    <input type="text" class="form-control datepicker" value="" id="editNOSactual">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Product Code</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editProductCode">
                            </div>

                            </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Product Type</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editProductType">

                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> CWT Location </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value=" " id="editCWTLocation">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Elevator Type </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editElevatorType">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Volt </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editVolt">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Travel </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editTravel">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Door Type</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editDoorType">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Door Hand</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editDoorHand">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly ">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Capacity</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                
                                <input type="text" class="form-control" value="" id="editCapacity">

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Speed</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                
                                <input type="text" class="form-control" value="" id="editSpeed">

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Floor</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                
                                <input type="text" class="form-control" value="" id="editFloor">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Rear Opening</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editRearOpening">
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">  Price $ </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                                    <input type="text" class="form-control" value=""  id="editPrice">
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Price </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>*@

                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Paid</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-percent" style="font-weight: 600;">%</span></span>
                                    <input type="text" class="form-control" value="" id="editPaid">
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Billed </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-percent" style="font-weight: 600;">%</span></span>
                                    <input type="text" class="form-control" value="" id="editBilled">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly ">
                            <label class="col-md-5 col-xs-12 control-label"> Base Hours </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editBaseHours">

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly">
                            <label class="col-md-5 col-xs-12 control-label">Estimated Hours</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editEstimatedHours">

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly">
                            <label class="col-md-5 col-xs-12 control-label">Actual Hours</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editActualHours">

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">G.C. PM</label>

                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editGCProjMgr">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. PM Email</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editGCProjMgrEmail">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. PM Phone</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editGCProjMgrPhone">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. Sup</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                               
                                <input type="text" class="form-control" value="" id="editGCSuper">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. SR</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editGCSalesRep">
                            </div>
                        </div>




                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler Sup</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                
                                <input type="text" class="form-control" value="" id="editSECSuper">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler SR</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                
                                <input type="text" class="form-control" value="" id="editScSalesExecutive">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler PM</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editScProjMgr">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Team Assigned</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value="" id="editTeamAssigned">
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Why Bump Out?</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <textarea class="form-control" rows="4" id="editWhyBumpOut"> </textarea>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Supers Comments </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <textarea class="form-control" rows="4" id="editSupersComments"> </textarea>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group   readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Sales Comments</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <textarea class="form-control" rows="4" id="editSalesComments"> </textarea>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 form-group readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Job Completion % </label>
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <input type="text" class="form-control" value=" " id="editJobCompletion">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 form-group  readonly">
                            <label class="col-md-12 col-lg-5  col-xs-12 control-label">Bank Status</label>
                            <div class="col-lg-7 col-md-12 col-xs-12">

                                <select class="form-control" id="editJobStatus"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center " style="display:none;">
                    <button class=" mybtn updt" type="button" id="btnUpdateJob">Update</button>
                    <button class=" mybtn " type="button" id="btnCancelJob">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

