﻿<div class="row" >
    <div class="col-md-12" id="ProjectContactForm">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="cstm">
                        <div class=" pull-left">
                            <div class="page-title">
                                <h2 id="ViewProjectContacts"></h2>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="dataTables_filter">
                        <label>
                            <input type="search" class="" placeholder="Search" id="ProjectContactDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                    
                    <div class="  pull-right" id="ffff">
                        <button class=" mybtn" data-toggle="modal" data-target="#AddProjectContactModal" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Add New" onclick="DesignationAndState();"> Add New <i class="fa fa-plus"></i></button>
                    </div>

                    <table class="table  datatable responsive  table-striped  " id="ProjectContactDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">ProjectNo</th>
                                <th style="min-width:100px">Name </th>
                                <th>Bank Desc</th>
                                <th>Designation</th>
                                <th>Phone  </th>
                                <th>Email Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                    </table>
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--model part add contact -->
<div class="modal fade modelform" id="AddProjectContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <img src="~/img/close.png" width="18" height="18" alt="" />
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" id="addContactFirstname" maxlength="64" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Bank Desc</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" id="addContactJobName" maxlength="80" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Designation*</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="addContactDesignation"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Phone No.*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" id="addContactPhone" maxlength="13" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Email*</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control userrequired" id="addContactEmail" maxlength="50" required>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mybtn" id="btnAddProjectContact">Submit</button>
                    <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                    

                </div>
            </div>
        </form>
    </div>
</div>
<!--model part end -->


<!-- model part edit-->
<div class="row editDataContainer" id="editProjectContactForm" style="display: none;">
    <div class="col-md-12 ">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" pull-left">
                        <div class="page-title">
                            <h2 id="editContactHeaderFirstName">
                            </h2>
                        </div>
                    </div>

                    <ul class="panel-controls">
                        <li> <a href="javascript:void(0);" class="panel-edit1" style="display: none;"><span class="fa fa-pencil"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <input type="hidden" id="editContactID" />

                            <div class="form-group ">
                                <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Name * </label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" id="editContactFirstname" maxlength="64" required>
                                </div>
                            </div>
                            <div class="form-group readonly">
                                <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Project Name * </label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" id="editContactProjectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Bank Desc</label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" id="editContactJobName" maxlength="80" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Phone  </label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <input type="text" class="form-control" id="editContactPhone" maxlength="13" required>
                                </div>
                            </div>
                            <div class="form-group readonly">
                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Email Id</label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <input type="text" class="form-control"  id="editContactEmail" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Designation</label>
                                <div class="col-lg-7 col-md-12 col-xs-12">
                                    <select class="form-control" id="editContactDesignation"></select>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
                <div class="panel-footer text-center">
                    <button class=" mybtn updt" type="submit" id="btnUpdateProjectContact">Update</button>
                    <button class=" mybtn delete" type="button" id="btnDeleteProjectContact">Delete</button>
                    <button class=" mybtn " type="button" id="btnCancelProjectContact" onclick="ProjectEditFormCancel()">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- model part end -->

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="contactDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="userDeleteMessage" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this contact?</p>
            </div>
            <div class="modal-footer">
                @*<input data-dismiss="modal" type="button" id="btnDeleteYes" class="btn btn-success" value="Yes">
                    <input data-dismiss="modal" type="button" id="btnDeleteNo" class="btn btn-danger" value="No">*@

                <button class="mybtn" id="btnContactDeleteYes">Yes</button>
                <button class="light mybtn" id="btnContactDeleteNo" type="button" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>

<style>
    .dataTables_processing {
        text-align: center;
    }
</style>