﻿<!-- START CONTENT FRAME BODY -->


    <div class="block">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading cstm-heading" id="projectCommunicationTitle"></div>
                <div class="panel-body">
                    <div id="lastMessage"></div>
                    <hr />
                    @*<h3> Last messaage posted by : John Doe <small class="pull-right text-muted"><span class="fa fa-clock-o"></span> Today, Sep 18, 14:33</small></h3>
                    <p>Hello Dmitry,</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula risus, viverra sit amet purus id, ullamcorper venenatis leo. Ut vitae semper neque. Nunc vel lacus vel erat sodales ultricies sed sed massa. Duis non elementum velit. Nunc quis molestie dui. Nullam ullamcorper lectus in mattis volutpat. Nunc egestas felis sit amet ultrices euismod. Donec lacinia neque vel quam pharetra, non dignissim arcu semper. Donec ultricies, neque ut vehicula ultrices, ligula velit sodales purus, eget eleifend libero risus sed turpis. Fusce hendrerit vel dui ut pulvinar. Ut sed tristique ante, sed egestas turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Fusce sit amet dui at nunc laoreet facilisis. Proin consequat orci sollicitudin sem cursus, quis vehicula eros ultrices. Cras fermentum justo at nibh tincidunt, consectetur elementum est aliquam.</p>
                    <p>Nam dignissim convallis nulla, vitae porta purus fringilla ac. Praesent consectetur ex eu dui efficitur sollicitudin. Mauris libero est, aliquam a diam maximus, dignissim laoreet lacus.</p>
                    <p>Nulla ac nisi sodales, auctor dui et, consequat turpis. Cras dolor turpis, sagittis vel elit in, varius elementum arcu. Mauris aliquet lorem ac enim blandit, nec consequat tortor auctor. Sed eget nunc at justo congue mollis eget a urna. Phasellus in mauris quis tortor porta tristique at a risus.</p>
                    <p class="text-muted"><strong>Best Regards<br>John Doe</strong></p>*@

                    <div class="form-group push-up-20">
                        <label><h4>Post Message</h4></label>



                        <form role="form" class="form-horizontal">

                            <div class="form-group padding-0">
                                <label class="col-lg-12 control-label padding-0">Notify To:</label>
                                <div class="col-md-12 padding-0">
                                    <input type="text" class="form-control" id="ProjectCommunicationEmail" />
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control summernote_lite" rows="3" id="ProjectCommunicationMessage" placeholder="Click to get editor"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 smsize">
                                    <div class="pull-left">
                                        <button class="btn mybtn" type="button" id="btnAttachment"> Attachment</button>   
                                        <button class="btn mybtn updt  active" type="button" id="btnReplyCommunication"> Post</button>   
                                        <button class="btn mybtn " type="button" id="btnCancelCommunication">  Cancel</button>
                                    </div>
                                    <div class="pull-right">

                                    </div>
                                    <div class="ftrspace"></div>
                                </div>
                            </div>

                            <div id="previews" class="dropzone-previews"></div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="block">
        <div class="col-md-12">
            <div class="messages messages-img" id="allCommunicationList">

                @*<div class="item">
                    <div class="image">
                        <img src="/img/no_images.png" alt="Dmitry Ivaniuk">
                    </div>
                    <div class="text">
                        <div class="heading">
                            <a href="javascript:void(0)">Dmitry Ivaniuk</a>
                            <span class="date">08:39</span>
                        </div>
                        Integer et ipsum vitae urna mattis dictum. Sed eu sollicitudin nibh, in luctus velit.
                    </div>
                </div>*@
                
            </div>
        </div>
    </div>

<!-- END CONTENT FRAME BODY -->

<script src="~/js/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="~/js/plugins/summernote/summernote.js"></script>

<script type="text/javascript">

    var myDropzone = new Dropzone("div#previews", { // Make the whole body a dropzone
        url: "/MailBox/MultipleFileUpload", // Set the url
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: "#btnAttachment", // Define the element that should be used as click trigger to select files.
        maxFiles: 5,
        acceptedFiles: ".jpeg,.jpg,.jpe,.png,.gif,.txt,.pdf,.doc,.docx,.ppt,.pptx,.pps,.ppsx,.odt,.xls,.xlsx,.bim,.rfa,.cad,.acd",
        maxFilesize: 32,
        autoProcessQueue: false,
        parallelUploads: 5,
        uploadMultiple: true,
        init: function () {
            this.on("maxfilesexceeded", function (file) {
                this.removeAllFiles();
                this.addFile(file);
            })
        }
    });

</script>

@*<script src="~/js/Custom/ProjectCommunication.js"></script>*@

