﻿<div class="row">
    <div class="col-md-12" id="ProjectMilestoneForm">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="cstm">
                        <div class=" pull-left">
                            <div class="page-title">
                                <h2 id="ViewProjectMilestone"> </h2>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="dataTables_filter">
                        <label>

                            <input type="search" class="" placeholder="Search" id="MilestoneDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>


                    <div class="cstm text-right" id="ffff">


                        <input type="hidden" id="addMilestoneid" />
                        <input type="hidden" id="addPredecessorid" />
                        <input type="hidden" id="addSuccessorid" />

                        <input type="hidden" id="editHiddenMilestoneid" />
                        <input type="hidden" id="editPredecessorid" />
                        <input type="hidden" id="editSuccessorid" />

                        <button class=" mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddMilestonePopupClose"> Add New <i class="fa fa-plus"></i></button>

                    </div>
                    <table class="table  datatable responsive  table-striped" id="Milestonetable">
                        <thead>
                            <tr>
                                <th>Milestone</th>
                                @*<th>Predecessor</th>
                                <th>Successor</th>*@
                                <th>Planned Date</th>
                                <th>Status</th>
                                <th>Required to Complete</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modelform" id="AddMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Milestone</h4>
                </div>



                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Milestone*</label>
                        <div class="col-sm-9">

                            <select id="milestonetype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Predecessor</label>
                        <div class="col-sm-9">
                            <select id="predecessortype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Successor</label>
                        <div class="col-sm-9">
                            <select id="successortype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status*</label>
                        <div class="col-sm-9">
                            <select id="statustype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Required to Complete</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addWaitingon">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Planned Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control datepicker" id="Addduedate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Completed Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control datepicker" id="Addcompleteddate">
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mybtn" id="btnAddMilestone">Submit</button>
                    <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade modelform" id="editMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Milestone</h4>
                </div>





            </div>
        </form>
    </div>
</div>

<div class="row editMilestoneContainer" style="display: block;" id="EditMilestoneDiv">
    <div class="col-md-12 ">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <div class="page-title">
                            <h2>Milestone Details</h2>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <input type="hidden" id="editMilestoneid" />

                    <div class="row MileeditMode1" style="display: block;">
                        <div class=" col-md-6 col-sm-6">
                            <div class="form-group readonly">
                                <label class="col-md-3 control-label">Milestone*</label>
                                <div class="col-md-9">
                                    <select id="editmilestonetype" class="form-control editmilerequired" tabindex="5"></select>
                                </div>
                            </div>
                            @*<div class="form-group  ">
                                <label class="col-md-3 control-label">Predecessor</label>
                                <div class="col-md-9">
                                    <select id="editpredecessortype" class="form-control" tabindex="5"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Successor</label>
                                <div class="col-md-9">
                                    <select id="editsuccessortype" class="form-control" tabindex="5"></select>
                                </div>
                            </div>*@

                            <div class="form-group ">
                                <label class="col-md-3 control-label">Planned Date</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control datepicker" id="Editduedate">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            

                            <div class="form-group">
                                <label class="col-md-3 control-label">Required to Complete</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" maxlength="64" id="editWaitingon">
                                </div>
                            </div>
                            <div class="form-group  ">
                                <label class="col-md-3 control-label">Status*</label>
                                <div class="col-md-9">
                                    <div id="divReadyToPull">
                                        <select id="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                                        <span class="input-group-btn">
                                            <input type="button" class="button btn btn-default" value="Job-Site Ready" style="display: none" id="readyToPull">
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center mieditMode1" style="display: block;">

                    <button class="mybtn" type="button" id="btnUpdateMilestone" style="width: auto !important;">Save Changes</button>
                    <button class="mybtn" type="button" id="btnDeleteMilestone" style="width: auto !important;">Delete Milestone</button>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deletesinglemilestone" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: red; font-size: medium; text-align: center">Are you sure you want to remove this milestone?</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="mybtn" id="milestonedeletebutton" name="userdeletesingle" aria-hidden="true" value="Yes" />
                <button class="mybtn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>
        </div>
    </div>
</div>


<div tabindex="-1" class="modal" id="modal_readypull" role="dialog" aria-hidden="true" aria-labelledby="largeModalHead" style="display: none;">

    <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:relative;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:2000;">
        <img src='~/img/spinner.gif' width="64" height="64" />
        <br>Loading..
    </div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <div class="modal-header">

                <button class="close" type="button" data-dismiss="modal" id="btnReadyToPullTopClosed"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Job-Site Ready</h4>
            </div>
            <div class="modal-body">
                <form></form>
                <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                <div id="partialReadyToPull"></div>

            </div>
            <div class="modal-footer">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>



        </div>
    </div>
</div>






<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessAddMilestonePopup" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditMilestonePopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

