﻿@model List<SchindlerCustomerPortal.Models.ProjectMilestone.ReadyToPullTemplateMaster>
@*@{ int icount = 0;
   bool stautschange = false;
   }*@   
 @foreach (var x in @Model)
    {
        
        <div class="form-group onactive">
            <div class="col-md-12">
                <label class="check">
                    <input type="checkbox" class="icheckbox" id="chk_@x.TemplateId" name="chk_@x.TemplateId" checked="@x.Selected">
                    @x.TemplateName
                </label>

                @{
                        var data = x.Selected;
                        var cssHide= data == true ? "" : "hide";
                }

                <span class="help-block  @cssHide">
                    <textarea class="form-control" name="textarea_@x.TemplateId" id="textarea_@x.TemplateId">@x.Comment</textarea>
                    <input type="file" class="fileinput mybtn" name="filename_@x.TemplateId" id="filename_@x.TemplateId" title="Upload Picture" accept="image/jpg,image/png,image/jpeg,image/gif" onchange="ValidateAttachment(this.id); SetRemoveButton(this.id,@x.TemplateId);" />
                    @*<span class="help-block pull-left">Input type file</span>*@
                 
                           
                      

                    @*<button type="button" class="btn btn-default btn-sm" id="rmvBtn_@x.TemplateId" name="rmvBtn_@x.TemplateId" style="display:none;" onclick="removeFile(@x.TemplateId);">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>*@

                    <input type="hidden" id="hdnAlreadyAttachedFile_@x.TemplateId" name="hdnAlreadyAttachedFile_@x.TemplateId"  value="@x.RealAttachment" />
                    @{
                        if (x.RealAttachment != "")
                        {
                            <span id="existingFile_@x.TemplateId" class="pull-right">Existing File:<a target="_blank" href="@x.Attachment">@x.RealAttachment</a>
                                <a class="btn btn-pad7" data-toggle="tooltip" title="Remove Image" id="rmvBtn_@x.TemplateId" name="rmvBtn_@x.TemplateId" style="display:inline-block;" onclick="removeFile(@x.TemplateId);">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </span>
                        }
                        else
                        {
                            <a class="btn btn-pad7" data-toggle="tooltip" title="Remove Image" id="rmvBtn_@x.TemplateId" name="rmvBtn_@x.TemplateId" style="display:none;" onclick="removeFile(@x.TemplateId);">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        }
                    }
                                        
                </span>
            </div>
        </div>
     
         @*@{ if ((x.Comment != "") || (x.Attachment != "")) { icount++; }    }*@
    }
        @*@{
            if (icount==Model.Count)
            {
                stautschange = true;
            }
            else
            { stautschange = false; }
        }*@
    
@*<input type="hidden" id="hdnDoWeNeedToChange" value="@stautschange" />*@

<script type="text/javascript">

    function ValidateAttachment(ctrlName) {
        event.preventDefault();
        var files = $('#' + ctrlName).get(0).files;
        if (files[0].type == "image/jpeg" || files[0].type == "image/jpg" || files[0].type == "image/png") {

        }
        else {

            $('#CommonSuccessMessage').html('Only jpg and png format');
            $('#CommonSuccessModal').modal('show');
            return false;

        }
    }

    function SetRemoveButton(ctrlName, tempNo) {
        var fileName = $("#" + ctrlName).val();

        if (fileName)
            $('#rmvBtn_'+tempNo).css({'display':'inline-block'});
        else
            $('#rmvBtn_'+tempNo).css({'display':'None'});

    }

    function removeFile(templateNo) {

        var input = $("input[name=filename_" + templateNo +"]");

        input.val('');

        $('#rmvBtn_' + templateNo).css({ 'display': 'None' });

        $('#hdnAlreadyAttachedFile_' + templateNo).val('');

        $('#rmvBtn_' + templateNo).siblings('span').remove();

        $('#existingFile_' + templateNo).hide();
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>