﻿@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="javascript:void(0)"> Contacts</a></li>
    @*<li> <a href="javascript:void(0)"> @ViewBag.companyName</a></li>
        <li> <a href="javascript:void(0)"> @ViewBag.userManagement</a></li>*@
</ul>

<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2> Contact List</h2>
</div>
<!-- END PAGE TITLE -->

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            @*Search:*@
                            <input type="search" class="" placeholder="Search" name="CompanyContactDatatableSearch" id="CompanyContactDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    <div class="cstm text-right" id="ffff">
                        @*@if (Model.HasAddPermission)
                            {*@
                        <button class=" mybtn" name="btnAddnewCompanyContact" id="btnAddnewCompanyContact" onclick="AddNewCompanyContactPopUpOpen();">
                            Add New
                            <i class="fa fa-plus"></i>
                        </button>
                        @*}*@
                    </div>

                    <table class="table  datatable responsive  table-striped  "  id="CompanyContactDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">ID </th>
                                <th>Name </th>
                                <th>Proj Name</th>
                                <th>Bank Desc</th>
                                <th>Designation</th>
                                <th>Phone  </th>
                                <th>Email Id</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model part add contact -->
<div class="modal fade modelform" id="AddProjectContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Contact </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label"> Name *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="addContactFirstname" id="addContactFirstname"  maxlength="64" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Project Name *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="addContactProjectName" id="addContactProjectName" maxlength="80" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label"> Bank Desc </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="addContactJobName" id="addContactJobName" maxlength="80" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Phone # *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="addContactPhone" id="addContactPhone" maxlength="13" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Email Id *</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control userrequired" name="addContactEmail" id="addContactEmail" maxlength="50" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Designation *</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="addContactDesignation" id="addContactDesignation"></select>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnAddProjectContact">Submit</button>*@
                    <button class=" mybtn updt" type="submit" id="btnAddProjectContact">Submit</button>
                    <button class=" mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part end -->
<!--model part edit contact -->
<div class="modal fade modelform" id="EditProjectContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Contact</h4>
                </div>

                <input type="hidden" id="editContactID" />

                <input type="hidden" id="editProjectNo" />

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Name *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="editContactFirstname" id="editContactFirstname" maxlength="64" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Project Name *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="editContactProjectName" id="editContactProjectName" maxlength="80" required disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Bank Desc</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="editContactJobName" id="editContactJobName" maxlength="80" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Phone # *</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control userrequired" name="editContactPhone" id="editContactPhone" maxlength="13" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Email Id *</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control userrequired" name="editContactEmail" id="editContactEmail" maxlength="50" required disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Designation *</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="editContactDesignation" id="editContactDesignation"></select>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-primary" id="btnUpdateProjectContact">Update</button>
                        <button class=" mybtn delete" type="button" id="btnDeleteProjectContact">Delete</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>*@
                    <button class=" mybtn updt" type="submit" id="btnUpdateProjectContact">Update</button>
                    <button class=" mybtn delete" type="button" id="btnDeleteProjectContact">Delete</button>
                    <button class=" mybtn " type="button" id="btnCancelProjectContact" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model part end -->

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="contactDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="userDeleteMessage" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this contact?</p>
            </div>
            <div class="modal-footer">
                @*<input data-dismiss="modal" type="button" id="btnDeleteYes" class="btn btn-success" value="Yes">
                    <input data-dismiss="modal" type="button" id="btnDeleteNo" class="btn btn-danger" value="No">*@

                <button class="mybtn" id="btnContactDeleteYes">Yes</button>
                <button class="light mybtn" id="btnContactDeleteNo" type="button" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/ProjectMainContact.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<style>   
    .colHide {
        display: none;
    }
     .dataTables_processing {
        text-align: center;
    }
</style>