﻿
@{
    ViewBag.Title = "JobMasterList";
}

<input type="hidden" id="hdnJobNo" value="@ViewBag.JobNo" />


@Html.Partial("ProjectJobView")


<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">


                    <div class="dataTables_filter">
                        <label>
                            Search:
                            <input type="search" class="" placeholder="" id="MilestoneDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>


                    <div class="cstm text-right" id="ffff">

                        @*<input type="hidden" value="@ViewBag.ProjectNo" id="projectNo" />*@
                        @*<input type="hidden" id="jobid" value="@ViewBag.JobId" />*@
                        <input type="hidden" id="addMilestoneid" />
                        <input type="hidden" id="addPredecessorid" />
                        <input type="hidden" id="addSuccessorid" />

                        <input type="hidden" id="editHiddenMilestoneid" />
                        <input type="hidden" id="editPredecessorid" />
                        <input type="hidden" id="editSuccessorid" />

                        <button class=" mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddMilestonePopupClose"> Add New <i class="fa fa-plus"></i></button>

                        @*@if (User.RoleId == 1 || User.RoleId == 3)
                            {
                                <button class=" mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>
                            }*@

                    </div>
                    <table class="table  datatable responsive  table-striped  " id="Milestonetable">
                        <thead>
                            <tr>


                                <th>Milestone</th>
                                <th>Predecessor</th>
                                <th>Successor</th>
                                <th>Planned Date</th>
                                <th>Status</th>
                                <th>Required to Complete</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modelform" id="AddMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New </h4>
                </div>



                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Milestone*</label>
                        <div class="col-sm-9">

                            <select id="milestonetype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Predecessor12</label>
                        <div class="col-sm-9">
                            <select id="predecessortype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Successor</label>
                        <div class="col-sm-9">
                            <select id="successortype" class="form-control" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Status*</label>
                        <div class="col-sm-9">
                            <select id="statustype" class="form-control milerequired" tabindex="5"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Required to Complete</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addWaitingon">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Planned Date</label>
                        <div class="input-group">
                            @*<input type="text" class="form-control" id="Addduedate" >*@
                            <input type="text" class="form-control datepicker" id="Addduedate">
                        </div>

                    </div>



                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnAddMilestone">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade modelform" id="editMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
                </div>





            </div>
        </form>
    </div>
</div>

<div class="row editMilestoneContainer" style="display: block;" id="EditMilestoneDiv">
    <div class="col-md-12 ">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <div class="page-title">
                            <h2>Milestone Details</h2>
                        </div>
                    </div>
                    <ul class="panel-controls">
                        <!-- <li> <a href="javascript:void(0);" class="panel-edit1"><span class="fa fa-pencil"></span></a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="editMilestoneid" />

                    <div class="row MileeditMode1" style="display: block;">
                        <div class=" col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Milestone*</label>
                                <div class="col-md-9">
                                    <select id="editmilestonetype" class="form-control editmilerequired" tabindex="5"></select>
                                </div>
                            </div>
                            <div class="form-group  ">
                                <label class="col-md-3 control-label">Predecessor</label>
                                <div class="col-md-9">
                                    <select id="editpredecessortype" class="form-control" tabindex="5"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Successor</label>
                                <div class="col-md-9">
                                    <select id="editsuccessortype" class="form-control" tabindex="5"></select>
                                </div>
                            </div>



                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-md-3 control-label">Planned Date</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control datepicker" id="Editduedate">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Required to Complete</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" maxlength="64" id="editWaitingon">
                                </div>
                            </div>
                            <div class="form-group  ">
                                <label class="col-md-3 control-label">Status*</label>
                                <div class="col-md-9">
                                    <select id="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                                </div>
                            </div>


                            <!--   <div class="form-group">
                                              <label class="col-md-3 control-label">Checkbox</label>
                                              <div class="col-md-9">
                                                  <label class="check"><input type="checkbox" class="icheckbox" checked="checked"/> Checkbox title</label>
                                                  <span class="help-block">Checkbox sample, easy to use</span>
                                              </div>
                                          </div>-->

                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center mieditMode1" style="display: block;">
                    <button class="mybtn updt" type="button" id="btnUpdateMilestone" style="width: auto !important;" >Save Changes</button>
                    <button class="mybtn delete" type="button"  id="btnDeleteMilestone" style="width: auto !important;">Delete Milestone</button>
                    @*<button class=" mybtn ">Cancel</button>*@
                </div>
            </div>
        </form>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>




<script src="~/js/Custom/JobMasterView.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
