﻿
@{
    ViewBag.Title = "Project Master List";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/ManageProject/ProjectMasterList"> My Project</a></li>
   
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2> Project List</h2>
</div>
<!-- END PAGE TITLE -->

<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            <input type="search" class="" placeholder="Search" id="ProjectMasterListDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    <input type="hidden" id="hdnMilestoneStatusValue" value="@ViewBag.MilestoneStatusValue" />

                    <table class="table  datatable   table-striped  responsive  myproject" id="ProjectMasterListDatatable">
                        <thead>
                            <tr>
                                <th style="display:none">ID </th>
                                <th>PROJ #</th>
                                <th>PROJECT NAME</th>
                                <th>ADDRESS</th>
                                <th>COMPANY NAME</th>
                                <th>BANKS</th>
                                <th>UNITS</th>
                                @if (User.RoleId == 1 || User.RoleId == 3) // SC Employee and Admin
                                {
                                    <th>G.C. SUPER</th>
                                    <th>G.C. PM</th>
                                }
                                else
                                {
                                    <th>Schindler SUPER</th>
                                    <th>Schindler PM</th>
                                }
                                <th>STATUS</th>
                                <th>DETAILS</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Custom/ProjectMasterList.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .dataTables_processing{
        text-align: center;
    }

      .colHide {
        display: none;
    }
</style>
