﻿@{
    ViewBag.Title = "Job Management";
}
<style>
    .btnclass {
        width: auto !important;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/ManageProject/ProjectMasterList"> My Project</a></li>
    <li> <a href="" id="breadcrumbProjectName"></a> </li>

</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2 id="BankHeader"></h2>
</div>
<!-- END PAGE TITLE -->
<input type="hidden" id="hdnstatustype" value="">
<input type="hidden" id="hdnMilestoneNoteValue">
<div class="row">
    <div class="col-md-12">
        <!-- START DEFAULT DATATABLE -->
        <div class="content-frame smbx">
            <!-- START CONTENT FRAME TOP -->
            <div class="content-frame-top">
                <!-- END CONTENT FRAME TOP -->
                <!-- START CONTENT FRAME LEFT -->
                <div class="content-frame-left" style="display: block;height: auto;max-height: 300px;">
                    <div class="panel panel-default">
                        <div class="panel-body list-group">
                            <ul class="x-navigation">
                                <li class="xn-openable">
                                    <a href="Javascript:void(0);" @*href="/ManageProject/ProjectJobMainView/@ViewBag.JobNo/@ViewBag.ProjectNo/@ViewBag.CompanyId/Documents"*@ id='DisplayJobDocuments'> <span class="contr icond"></span><span class="menuLabel">Documents</span> </a>
                                </li>
                                <li class="xn-openable"><a href="Javascript:void(0);" @*href="/ManageProject/ProjectJobMainView/@ViewBag.JobNo/@ViewBag.ProjectNo/@ViewBag.CompanyId/Milestone"*@ id='DisplayJobMilestones'> <span class="mile icond"></span><span class="menuLabel">Bank Milestones</span></a></li>
                                <li class="xn-openable">
                                    <a href="Javascript:void(0);" @*href="/ManageProject/ProjectJobMainView/@ViewBag.JobNo/@ViewBag.ProjectNo/@ViewBag.CompanyId/Drawing"*@ id='DisplayJobDrawingsDocuments'> <span class="draw icond"></span><span class="menuLabel">Drawings</span></a>
                                </li>
                                @*<li class="xn-openable  "><a href="javascript:void(0)" class="active" id='DisplayJobMessageCommunication'> <span class="message icond"></span> <span class="menuLabel">Message </span></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT FRAME LEFT -->
                <!-- START CONTENT FRAME BODY -->
                <div class="content-frame-body" style="">

                    <!--JobView for doc type-->
                    <div class="row editDataContainer" id="_ProjectJobView" style="display:none">
                        <div class="col-md-12 ">
                            <form class="form-horizontal">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="pull-left">
                                            <div class="page-title dblspn">
                                                <h2>
                                                    Banks - <span id="ViewJobDesc"></span> <span id="ViewJobID"></span><a name="editData"></a>
                                                </h2>
                                            </div>
                                        </div>

                                        <ul class="panel-controls">
                                            <li> <a href="javascript:void(0);" class="panel-edit1" style="display:none"><span class="fa fa-pencil"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row editMode1">

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Serial Number</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editSerialNumber" id="editSerialNumber">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12  col-lg-5  col-xs-12 control-label">Office</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editOffice" id="editOffice">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Job District </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editJobDistrict" id="editJobDistrict">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Approvals to GC </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editApprovalstoGC" id="editApprovalstoGC">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Approvals to G'berg</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editApprovalstoGberg" id="editApprovalstoGberg">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>


                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJMVNOD"> NOD</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editNOD" id="editNOD">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group   readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJMVOriginalNOD"> Original NOD</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editOriginalNOD" id="editOriginalNOD">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group    readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblEditJMVNODConfirm"> NOD Confirm?</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editNODConfirm" id="editNODConfirm">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Forecast Close Date</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editForecastCloseDate" id="editForecastCloseDate">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> NOS planned</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editNOSplanned" id="editNOSplanned">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> NOS actual</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" class="form-control datepicker" value="" name="editNOSactual" id="editNOSactual">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Product Code</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editProductCode" id="editProductCode">
                                                </div>

                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Product Type</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editProductType" id="editProductType">

                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> CWT Location </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editCWTLocation" id="editCWTLocation">
                                                </div>
                                            </div>


                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Elevator Type </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editElevatorType" id="editElevatorType">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Volt </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editVolt" id="editVolt">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Travel </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editTravel" id="editTravel">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Door Type</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editDoorType" id="editDoorType">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Door Hand</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editDoorHand" id="editDoorHand">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Capacity</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editCapacity" id="editCapacity">

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Speed</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editSpeed" id="editSpeed">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Floor</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">


                                                    <input type="text" class="form-control" value="" name="editFloor" id="editFloor">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Rear Opening</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editRearOpening" id="editRearOpening">
                                                </div>
                                            </div>




                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Price $ </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                                                        <input type="text" class="form-control" value="" name="editPrice" id="editPrice">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group   readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Paid %</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-percent" style="font-weight: 600;">%</span></span>
                                                        <input type="text" class="form-control" value="" name="editPaid" id="editPaid">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Billed % </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">

                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-percent" style="font-weight: 600;">%</span></span>
                                                        <input type="text" class="form-control" value="" name="editBilled" id="editBilled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly ">
                                                <label class="col-md-5 col-xs-12 control-label"> Base Hours </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editBaseHours" id="editBaseHours">

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly">
                                                <label class="col-md-5 col-xs-12 control-label">Estimated Hours</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editEstimatedHours" id="editEstimatedHours">

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-6 form-group  readonly">
                                                <label class="col-md-5 col-xs-12 control-label">Actual Hours</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editActualHours" id="editActualHours">

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">G.C. PM</label>

                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editGCProjMgr" id="editGCProjMgr">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly  ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. PM Email</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editGCProjMgrEmail" id="editGCProjMgrEmail">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group readonly  ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. PM Phone</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editGCProjMgrPhone" id="editGCProjMgrPhone">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group readonly  ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. Sup</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editGCSuper" id="editGCSuper">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group readonly  ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. SR</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editGCSalesRep" id="editGCSalesRep">
                                                </div>
                                            </div>



                                            <div class="col-md-4 col-sm-6 form-group readonly  ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler Sup</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editSECSuper" id="editSECSuper">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler SR</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editScSalesExecutive" id="editScSalesExecutive">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler PM</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editScProjMgr" id="editScProjMgr">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Team Assigned</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editTeamAssigned" id="editTeamAssigned">
                                                </div>
                                            </div>


                                            <div class="col-md-4 col-sm-6 form-group readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Why Bump Out?</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <textarea class="form-control" rows="4" name="editWhyBumpOut" id="editWhyBumpOut"> </textarea>
                                                </div>
                                            </div>



                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Supers Comments </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <textarea class="form-control" rows="4" name="editSupersComments" id="editSupersComments"> </textarea>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group  readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Sales Comments</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <textarea class="form-control" rows="4" name="editSalesComments" id="editSalesComments"> </textarea>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 form-group readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label">Bank Status</label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">

                                                    <select class="form-control" name="editJobStatus" id="editJobStatus"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 form-group readonly ">
                                                <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Job Completion % </label>
                                                <div class="col-lg-7 col-md-12 col-xs-12">
                                                    <input type="text" class="form-control" value="" name="editJobCompletion" id="editJobCompletion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center editMode1" style="display:none">
                                        <button class="mybtn updt" type="button" name="btnUpdateJob" id="btnUpdateJob">Update</button>
                                        <button class="mybtn" type="button" name="btnCancelJob" id="btnCancelJob">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <!---Docs-->

                    <div class="row" id="_DocumentByTYpeList" style="display:none">
                        <div class="col-md-12" id="ProjectDocumentForm">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div class="cstm">
                                            <div class="pull-left">
                                                <div class="page-title">
                                                    <h2 id="ViewProjectDocument"> </h2>
                                                    <span id="ViewProjectDocumentGoId" style="padding: 30px 20px;position: relative;top: 8px;left: -13px;">&nbsp;</span>
                                                </div>
                                            </div>


                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="dataTables_filter">
                                            <label>
                                                <input type="search" class="" placeholder="Search" name="DocumentDatatableSearch" id="DocumentDatatableSearch" aria-controls="DataTables_Table_0">
                                            </label>
                                        </div>

                                        @if (User.RoleId == 1 || User.RoleId == 3)
                                        {
                                            <div class="cstm text-right" id="ffff">
                                                <input type="hidden" value="@ViewBag.ProjectId" id="projecid" />
                                                <input type="hidden" id="SelectDocumentType" value="@ViewBag.DocumentType" />

                                                <button class="mybtn" data-toggle="modal" data-target="#AddDocument" name="AddDocumentClose" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>

                                            </div>
                                        }
                                        <table class="table usertbl example table-hover bdt" id="Documenttable">
                                            <thead>
                                                <tr>
                                                    <th style="display:none">DocumentID</th>
                                                    <th><span class="sort-element">Document Name</span></th>
                                                    <th><span class="sort-element">Description</span></th>
                                                    <th><span class="sort-element">Document Type</span></th>
                                                    <th><span class="sort-element">Uploaded By</span></th>
                                                    <th><span class="sort-element">Expiry Date</span></th>
                                                    <th><span class="sort-element">Status</span></th>
                                                    <th><span class="sort-element">Action</span></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade modelform" id="AddDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">



                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="col-md-7 col-xs-12">

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Document Name*</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" id="addDocumentName" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Document Type*</label>
                                            <div class="col-sm-8">

                                                <select id="adddoctype" onchange="changeDocType()" name="adddoctype" class="form-control docsrequired" tabindex="5"></select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Description</label>
                                            <div class="col-sm-8">
                                                <textarea rows="4" cols="5" id="addDocumentDesc" maxlength="255" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Company Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control docsrequired" maxlength="64" id="addCompanyName" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Project Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" id="addProjectName" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Bank Desc</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" id="addJobName">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Expiry Date</label>
                                            <div class='col-sm-8'>
                                                <input type="checkbox" id="AddIsExpiryDate" />

                                                <div id="divdpExpDate" class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" id="dpExpDate" class="form-control datepicker" value="" readonly>
                                                </div>
                                                @*<input type="text" class="form-control datepicker" id="dpExpDate">*@

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Published</label>
                                            <div class='col-sm-8'>
                                                <input type="checkbox" id="AddIsPublished" />


                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-5 col-xs-12">

                                        <div class="form-group row">
                                            <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">

                                            </span>

                                            <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="dropzoneForm">
                                                <div class="fallback">
                                                    <input name="file" type="file" />
                                                    <input type="submit" value="Upload" />

                                                </div>
                                                <input type="hidden" name="hdnDocType" id="hdnDocType" />
                                            </form>

                                            @*<div id="dZUpload" class="dropzone">
                                                    <div class="dz-default dz-message"></div>
                                                </div>*@
                                            <p class="text-right"> Max upload size will be 32 MB </p>
                                            <p class="text-left"> <em id="filetypecontent">These file types are only allowed:- jpeg, jpg, png, gif, txt, pdf, doc, docx, ppt, pptx, pps, ppsx, odt,x ls,<br /> xlsx, bim, rfa, cad, acd </em></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="mybtn" id="btnAddDocument">Submit</button>
                                    <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Document</h4>
                                </div>
                                <input type="hidden" id="editDocumentid" />

                                <div class="modal-body">

                                    <div class="col-md-7 col-xs-12">

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Document Name*</label>
                                            <div class="col-sm-8">

                                                <input type="text" class="form-control" maxlength="64" id="editDocumentName" required>


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Document Type*</label>
                                            <div class="col-sm-8">

                                                <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Description</label>
                                            <div class="col-sm-8">

                                                <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Company Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" disabled id="editCompanyName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Project Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" disabled id="editProjectName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 form-control-label">Bank Desc</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" maxlength="64" disabled id="editJobName">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Expiry Date</label>
                                            <div class='col-sm-8'>
                                                <input type="checkbox" id="editIsExpiryDate" />

                                                <div id="diveditdpExpDate" class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" id="editdpExpDate" class="form-control datepicker" value="" readonly>
                                                </div>

                                                @*<input type="text" class="form-control datepicker" id="editdpExpDate">*@

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-4 form-control-label">Published</label>
                                            <div class='col-sm-8'>
                                                <input type="checkbox" id="editIsPublished" />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-xs-12">

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label resourcerequired">FileName</label>
                                            <div class='input-group'>

                                                <div id="editattchFilename">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">

                                            </span>



                                            <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="editdropzoneForm">
                                                <div class="fallback">
                                                    <input name="file" type="file" />
                                                    <input type="submit" value="Upload" />
                                                </div>
                                            </form>
                                            <p class="text-right">Max upload size will be 32 MB </p>
                                            <p class="text-left"> <em id="filetypecontentedit">These file types are only allowed:- jpeg, jpg, png, gif, txt, pdf, doc, docx, ppt, pptx, pps, ppsx, odt,x ls,<br /> xlsx, bim, rfa, cad, acd </em></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="mybtn" id="btnUpdateDocument">Update</button>
                                    <button type="submit" class="delete mybtn" id="btnDeleteDocument">Delete</button>
                                    <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessJobAddMilestonePopup" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

                                </div>
                                <div class="modal-footer">
                                    <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
                                </div>
                                <div class="modal-footer">
                                    <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                                    <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deletesinglemilestone" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form></form>
                                    <p style="color: red; font-size: medium; text-align: center">Are you sure you want to remove this milestone?</p>

                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="mybtn" id="milestonedeletebutton" name="userdeletesingle" aria-hidden="true" value="Yes" />
                                    <button class="mybtn" data-dismiss="modal" aria-hidden="true">No</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessJobeditMilestonePopup" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

                                </div>
                                <div class="modal-footer">
                                    <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Docs-->
                    <!-- Message Communication -->

                    <div id="_ProjectJobCommunicationView" style="display:none;">
                        <div class="block">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading cstm-heading" id="projectCommunicationTitle"></div>
                                    <div class="panel-body">
                                        <div id="lastMessage"></div>

                                        <div class="form-group push-up-20">
                                            <label><h4>Post Message</h4></label>



                                            <form role="form" class="form-horizontal">

                                                <div class="form-group padding-0">
                                                    <label class="col-lg-12 control-label padding-0">Notify To:</label>
                                                    <div class="col-md-12 padding-0">
                                                        <input type="text" class="form-control" id="ProjectCommunicationEmail" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <textarea class="form-control summernote_lite" rows="3" id="ProjectCommunicationMessage" placeholder="Click to get editor"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 smsize">
                                                        <div class="pull-left">
                                                            <button class="btn mybtn" type="button" id="btnAttachment"> Attachment</button>
                                                            <button class="btn mybtn updt  active" type="button" id="btnReplyCommunication"> Post</button>
                                                            <button class="btn mybtn " type="button" id="btnCancelCommunication">  Cancel</button>
                                                        </div>
                                                        <div class="pull-right">

                                                        </div>
                                                        <div class="ftrspace"></div>
                                                    </div>
                                                </div>

                                                <div id="previews" class="dropzone-previews"></div>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="block">
                            <div class="col-md-12">
                                <div class="messages messages-img" id="allCommunicationList">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message Communication End -->
                    <!--- Milestone -->
                    <div class="row" id="JobMilestoneList" style="display:none">
                        <div class="col-md-12" id="ProjectJobMilestoneForm">

                            <!-- START DEFAULT DATATABLE -->
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">

                                        <div class="cstm">
                                            <div class="pull-left">
                                                <div class="page-title dblspn">
                                                    <h2 id="ViewBankMilestone"></h2>
                                                    <span id="ViewBankMilestoneGoId" style="padding: 30px 20px;position: relative;top: 8px;left: -13px;">&nbsp;</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="dataTables_filter">
                                            <label>

                                                <input type="search" class="" placeholder="Search" id="MilestoneDatatableSearch" aria-controls="DataTables_Table_0">
                                            </label>
                                        </div>

                                        @if (User.RoleId == 1 || User.RoleId == 3)
                                        {
                                            <div class="cstm text-right" id="ffff">
                                                <input type="hidden" id="addMilestoneid" />
                                                <input type="hidden" id="addPredecessorid" />
                                                <input type="hidden" id="addSuccessorid" />
                                                <input type="hidden" id="editHiddenMilestoneid" />
                                                <input type="hidden" id="editPredecessorid" />
                                                <input type="hidden" id="editSuccessorid" />

                                                <button class="mybtn" data-toggle="modal" data-target="#AddMilestone" id="AddMilestonePopupClose"> Add New <i class="fa fa-plus"></i></button>
                                            </div>
                                        }
                                        <table class="table  datatable responsive  table-striped" id="Milestonetable">
                                            <thead>
                                                <tr>

                                                    <th style="display:none">MilestoneId</th>
                                                    <th><span class="sort-element">Milestone</span></th>
                                                    @*<th><span class="sort-element">Predecessor</span></th>
                                                        <th><span class="sort-element">Successor</span></th>*@
                                                    <th><span class="sort-element">Planned Date</span></th>
                                                    <th><span class="sort-element">Completed Date</span></th>
                                                    <th><span class="sort-element">Status</span></th>
                                                    <th><span class="sort-element">Required to Complete</span></th>
                                                    <th><span class="sort-element">Note</span></th>
                                                    <th><span class="sort-element">Action</span></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade modelform" id="AddMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <form>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Add New  </h4>
                                    </div>



                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 form-control-label">Milestone *</label>
                                            <div class="col-sm-9">

                                                <select id="milestonetype" class="form-control milerequired" tabindex="5"></select>
                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-3 form-control-label">Predecessor</label>
                                                <div class="col-sm-9">
                                                    <select id="predecessortype" class="form-control" tabindex="5"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputPassword3" class="col-sm-3 form-control-label">Successor</label>
                                                <div class="col-sm-9">
                                                    <select id="successortype" class="form-control" tabindex="5"></select>
                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label">Milestone Status *</label>
                                            <div class="col-sm-9">
                                                <select id="statustype" class="form-control milerequired" tabindex="5"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 form-control-label">Required to Complete</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" maxlength="64" id="addWaitingon">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 form-control-label">Note</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" id="addMilestoneNote"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label">Planned Date</label>

                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" class="form-control datepicker" id="Addduedate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label">Completed Date</label>

                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" class="form-control datepicker" id="Addcompleteddate">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="mybtn" id="btnAddMilestone">Submit</button>
                                        <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal fade modelform" id="editMilestone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <form>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                                        <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    @*<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:relative;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:2000;">
                            <img src='~/img/spinner.gif' width="64" height="64" />
                            <br>Loading..
                        </div>*@

                    <div id="wait" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
                        <p style="position: absolute; color: White; top: 40%; left: 43%;">
                            <img src='~/img/wait.gif' width="150" height="150" />
                            <br />
                            <b>Loading..</b>
                        </p>
                    </div>

                    <div class="row editMilestoneContainer" style="display: none;" id="EditMilestoneDiv">
                        <div class="col-md-12 ">
                            <form class="form-horizontal">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class=" pull-left">
                                            <div class="page-title">
                                                <h2>Milestone Details</h2>
                                            </div>
                                        </div>
                                        <ul class="panel-controls">
                                            <!-- <li> <a href="javascript:void(0);" class="panel-edit1"><span class="fa fa-pencil"></span></a></li>-->
                                        </ul>
                                    </div>
                                    <div class="panel-body">
                                        <input type="hidden" id="editMilestoneid" />

                                        <div class="row MileeditMode1" style="display: block;">
                                            <div class=" col-md-6 col-sm-6">
                                                <div class="form-group readonly">
                                                    <label class="col-md-3 control-label">Milestone</label>
                                                    <div class="col-md-9">
                                                        <select id="editmilestonetype" class="form-control editmilerequired" tabindex="5"></select>
                                                    </div>
                                                </div>
                                                @*<div class="form-group  ">
                                                        <label class="col-md-3 control-label">Predecessor</label>
                                                        <div class="col-md-9">
                                                            <select id="editpredecessortype" class="form-control" tabindex="5"></select>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Successor</label>
                                                        <div class="col-md-9">
                                                            <select id="editsuccessortype" class="form-control" tabindex="5"></select>
                                                        </div>
                                                    </div>*@

                                                <div class="form-group ">
                                                    <label class="col-md-3 control-label">Planned Date</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" id="Editduedate">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label class="col-md-3 control-label">Note</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <textarea rows="5" cols="70" class="form-control" id="EditMilestoneNote"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-6">


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Rqd. to Complete</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" maxlength="64" id="editWaitingon">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label class="col-md-3 control-label">Completed Date</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" id="EditCompleteddate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Milestone Status*</label>
                                                    <div class="col-md-9">
                                                        <div id="divReadyToPull">
                                                            <select id="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                                                            <span class="input-group-btn">
                                                                <input type="button" class="button btn btn-default" value="Job-Site Ready" style="display: none" id="readyToPull">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label class="col-md-3 control-label">Previous Notes</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            @*<textarea rows="3" cols="70" class="form-control" id="ViewMilestoneNote" disabled="disabled"></textarea>*@
                                                            <span style="display: block;overflow-y:auto;height: 70px;width:430px" id="ViewMilestoneNote" placeholder="N/A"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--   <div class="form-group">
                                                    <label class="col-md-3 control-label">Checkbox</label>
                                                    <div class="col-md-9">
                                                        <label class="check"><input type="checkbox" class="icheckbox" checked="checked"/> Checkbox title</label>
                                                        <span class="help-block">Checkbox sample, easy to use</span>
                                                    </div>
                                                </div>-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center mieditMode1" style="display: block;">
                                        <button class="mybtn btnclass" type="button" id="btnUpdateMilestone">Save Changes</button>
                                        @*<button class="mybtn" type="button" id="btnDeleteMilestone" style="width: auto !important;">Delete Milestone</button>*@
                                        @*<button class=" mybtn ">Cancel</button>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div tabindex="-1" class="modal" id="modal_readypull" role="dialog" aria-hidden="true" aria-labelledby="largeModalHead" style="display: none;">

                        @*<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:relative;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:2000;">
                                <img src='~/img/spinner.gif' width="64" height="64" />
                                <br>Loading..
                            </div>*@

                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">


                                <div class="modal-header">

                                    <button class="close" type="button" data-dismiss="modal" id="btnReadyToPullTopClosed"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="largeModalHead">Job-Site Ready</h4>
                                </div>
                                <div class="modal-body">
                                    <form></form>
                                    <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                                    <div id="partialReadyToPull"></div>

                                </div>
                                <div class="modal-footer">
                                    <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                                    <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
                                </div>



                            </div>
                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

                                </div>
                                <div class="modal-footer">
                                    <input id="documentSuccess" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

                                </div>
                                <div class="modal-footer">
                                    <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteDocument" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

                                </div>
                                <div class="modal-footer">
                                    <input id="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--- Milestone End -->

                </div>
            </div>
        </div>
        <!-- END CONTENT FRAME BODY -->
    </div>
    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <!-- PAGE CONTENT WRAPPER -->
</div>


<input type="hidden" id="hdnJobNo" value="@ViewBag.JobNo" />
<input type="hidden" id="hdnJobName" />
<input type="hidden" id="hdnProjectName" />
<input type="hidden" id="hdnProjectNo" value="@ViewBag.ProjectNo" />
<input type="hidden" id="hdnComeFrom" value="@ViewBag.ComeFrom" />
<input type="hidden" id="hdnSelectedCompanyId" value="@ViewBag.CompanyId" />


<!-- END CONTENT FRAME BODY -->
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/ProjectJobMainView.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/dropzone/dropzone.min.js"></script>

<script type="text/javascript" src="~/js/plugins/summernote/summernote.js"></script>
@*<script src="~/js/Custom/ProjectCommunication.js"></script>*@
<script src="~/js/Custom/JobMasterView.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

    Dropzone.autoDiscover = false;

    $("#dropzoneForm").dropzone({
        maxFiles: 1,
        maxFilesize: 32,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        },
        //acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
        accept: function (file, done) {
            var ext = (file.name).split('.')[1].toLowerCase(); // get extension from file name
            if ($('#adddoctype').val() == "") {
                $('#adddoctype').css({ "border": "1px solid red" });
                this.removeAllFiles();
            }
            else if ($('#adddoctype').val() == '15' && ext != 'png' && ext != 'jpg' && ext != 'gif' && ext != 'bmp' && ext != 'jpeg') {
                $('#adddoctype').css({ "border": "", "background": "" });
                done('These file types are only allowed:- jpeg, jpg, png, gif');
            }
            else { $('#adddoctype').css({ "border": "", "background": "" }); done(); } // accept file
        },
    })

    $("#editdropzoneForm").dropzone({
        maxFiles: 1,
        maxFilesize: 32,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        },
        //acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
        accept: function (file, done) {
            var ext = (file.name).split('.')[1]; // get extension from file name
            if ($('#editdoctype').val() == "") {
                $('#editdoctype').css({ "border": "1px solid red" });
                this.removeAllFiles();
            }
            else if ($('#editdoctype').val() == '15' && ext != 'png' && ext != 'jpg' && ext != 'gif' && ext != 'bmp' && ext != 'jpeg') {
                $('#editdoctype').css({ "border": "", "background": "" });
                done('These file types are only allowed:- jpeg, jpg, png, gif');
            }
            else { $('#editdoctype').css({ "border": "", "background": "" }); done(); } // accept file
        },
    })





</script>

<script type="text/javascript">

    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        //Simple Dropzonejs
        $("#dZUpload").dropzone({
            url: "/ManageDocument/SaveUploadedFile",
            addRemoveLinks: true,
            success: function (file, response) {
                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log('Successfully uploaded');
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        });
    });

</script>


<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .dataTables_processing {
        text-align: center;
    }

    .colHide {
        display: none;
    }
</style>
