﻿@{
    ViewBag.Title = "Project Management";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <li> <a href="/ManageProject/ProjectMasterList"> My Project</a></li>
    <li> <a href="javascript:void(0)" id="breadcrumbProjectName"> </a> </li>

</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2> Project Profile</h2>
</div>
<!-- END PAGE TITLE -->

<div class="row">
    <div class="col-md-12">
        <!-- START DEFAULT DATATABLE -->
        <div class="content-frame smbx">
            <!-- START CONTENT FRAME TOP -->
            <div class="content-frame-top">
                <!-- END CONTENT FRAME TOP -->
                <!-- START CONTENT FRAME LEFT -->
                <div class="content-frame-left" style="display: block; height: auto;max-height: 300px;">
                    <div class="panel panel-default">
                        <div class="panel-body list-group">
                            <ul class="x-navigation">
                                <li class="xn-openable  ">
                                    <a href="javascript:void(0)" id='DisplayDocuments'> <span class="contr icond"></span><span class="menuLabel">Documents</span> </a>
                                </li>
                                @*<li class="xn-openable  "><a href="javascript:void(0)" id='DisplayMilestones'> <span class="mile icond"></span><span class="menuLabel">Project Milestones</span></a></li>*@
                                <li class="xn-openable">
                                    <a href="javascript:void(0)" id='DisplayDrawingsDocuments'> <span class="draw icond"></span><span class="menuLabel">Drawings</span></a>
                                </li>
                                @*<li class="xn-openable  "><a href="javascript:void(0)" id='DisplayContacts' class="active"> <span class="contac icond"></span> <span class="menuLabel">Contacts </span></a></li>*@
                                @*<li class="xn-openable  "><a href="javascript:void(0)" id='DisplayMessageCommunication' class="active"> <span class="message icond"></span> <span class="menuLabel">Message </span></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT FRAME LEFT -->
                <!-- START CONTENT FRAME BODY -->
                <div class="content-frame-body" style=" ">
                    <div class="page-content-wrap">
                        <div class="row" id="DisplayProjectEditMode" style="display: none">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class=" pull-left">
                                            <div class="page-title dblspn">
                                                <h2>Project - <span id="viewProjectName"></span> <span id="viewProjectBanksUnitInfo"></span> </h2>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="row editMode">
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5 col-xs-12 control-label"> Alternate Project No. </label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editAlternateProjectNo" id="editAlternateProjectNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Project Address </label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editProjectAddress" id="editProjectAddress">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12  col-lg-5  col-xs-12 control-label"> Company </label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editCompany" id="editCompany">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. Sup</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editContractorSuper" id="editContractorSuper" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> G.C. Contact Person</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editContractorContactPerson" id="editContractorContactPerson" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group  readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">G.C. PM</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editContractorProjMgr" id="editContractorProjMgr" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler Sup</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="MILLENNIUM TOWER BOSTON *GLAA " name="editScSuperintendent" id="editScSuperintendent" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler SR</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScSalesExecutive" id="editScSalesExecutive" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler PM</label>

                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScProjMgr" id="editScProjMgr" maxlength="100">
                                                    </div>

                                                </div>


                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler Sup Email</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScSuperintendentEmail" id="editScSuperintendentEmail" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler SR Email</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScSalesExecutiveEmail" id="editScSalesExecutiveEmail" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler PM Email</label>

                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScProjMgrEmail" id="editScProjMgrEmail" maxlength="100">
                                                    </div>

                                                </div>


                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler Sup Phone</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScSuperintendent_Phone" id="editScSuperintendent_Phone" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler SR Phone</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScSalesExecutive_Phone" id="editScSalesExecutive_Phone" maxlength="100">
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Schindler PM Phone</label>

                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <input type="text" class="form-control" value="" name="editScProjMgr_Phone" id="editScProjMgr_Phone" maxlength="100">
                                                    </div>

                                                </div>


                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Project Award Date</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="10-12-2016" name="editProjectAwardDate" id="editProjectAwardDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Booking Compl Date</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="" name="editBookingCompleteDate" id="editBookingCompleteDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Contract Signed? </label>
                                                    <div class="col-lg-2 col-md-12 col-xs-12">
                                                        <label class="check">
                                                            <input type="checkbox" class="icheckbox" disabled name="editContractSignedYN" id="editContractSignedYN" />
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="10-12-2016" name="editContractSignedDate" id="editContractSignedDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblNOD"> NOD</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="" name="editNOD" id="editNOD">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12  col-lg-5  col-xs-12 control-label" id="lblOriginalNOD"> Original  NOD </label>

                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="" name="editOriginalNOD" id="editOriginalNOD">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label" id="lblNODConfirm"> NOD Confirm?</label>
                                                    <div class="col-lg-2 col-md-12 col-xs-12">
                                                        <label class="check">
                                                            <input type="checkbox" class="icheckbox" disabled name="editNODConfirmYN" id="editNODConfirmYN" />
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value="10-12-2016" name="editNODConfirmDate" id="editNODConfirmDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   readonly">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label"> Turn Over Date</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                            <input type="text" class="form-control datepicker" value=" " name="editTurnOverDate" id="editTurnOverDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-sm-6 form-group   ">
                                                    <label class="col-md-12 col-lg-5  col-xs-12 control-label">Overall Project Status</label>
                                                    <div class="col-lg-7 col-md-12 col-xs-12">
                                                        <select class="form-control" name="editStatus" id="editStatus"></select>
                                                        <input type="hidden" id="hdnProjectStatusForReset" />
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="panel-footer text-center editMode">
                                        <button class=" mybtn updt panel-update" type="button" id="btnUpdateProject" style="width:auto">Save Changes</button>
                                        <button class=" mybtn " id="btnResetProject" type="button" style="width:auto">Undo Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="_ProjectJobView" style="display: none">@Html.Partial("_ProjectJobView")</div>
                    <div id="_DocumentByTYpeList" style="display:none">@Html.Partial("_DocumentByTYpeList")</div>
                    <div id="_ProjectContactView" style="display:none">@Html.Partial("_ProjectContactView")</div>
                    <div id="_ProjectCommunicationView" style="display: none">@Html.Partial("_ProjectCommunicationView")</div>
                    <div id="_ProjectMilestoneList" style="display:none">@Html.Partial("_ProjectMilestoneList")</div>
                </div>



            </div>
            <!-- END CONTENT FRAME BODY -->
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <!-- PAGE CONTENT WRAPPER -->
    </div>
</div>
@*</div>*@


<input type="hidden" id="hdnProjectNo" value="@ViewBag.ProjectNo" />
<input type="hidden" id="hdnComeFrom" value="@ViewBag.ComeFrom" />
<input type="hidden" id="hdnSelectedCompanyId" />
<input type="hidden" id="hdnProjectName"/>



<!-- END CONTENT FRAME BODY -->
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/ProjectMasterView.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/dropzone/dropzone.min.js"></script>
@*<script src="~/js/Custom/ProjectContact.js"></script>*@
<script src="~/js/Custom/ProjectMilestone.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>

<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
        //url: '/cart?upload-engraving=true',

        maxFiles: 1,
        maxFilesize: 32,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        }
    })





</script>

<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }
     .dataTables_processing {
        text-align: center;
    }
   .x-dashboard{
       overflow-x: visible !important;
   }
     .colHide
    {
        display:none;
    }

</style>
