﻿
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #map_canvas {
        width: 1120px;
        height: 500px;
    }

    .right-milestone {
        width: 265px !important;
    }

</style>

@{string MapLink = ViewBag.MapKey; }

<script type="text/javascript" src=@MapLink>
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <br />
            <div class="panel panel-default" align="center">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h2>Map(Project Status)</h2>
                    </div>
                    <!-- Start : Added by Sagar-->
                    <ul class="panel-controls smll" style="margin-top: 2px;TOP: 5PX; ">
                        <li class="dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="info">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-info"></span></a>

                            <ul class="dropdown-menu">
                                <li class="infocls"><span class="smwt"><a title="Pending/In Progress" href="javascript:void(0)" style="cursor:default;"><img src="/images/Map/Gray-16.png"></a></span><span class="fa fa-arrow-right"></span>In-Progress/Pending</li>
                                <li class="infocls"><span class="smwt"><a title="Completed" href="javascript:void(0)" style="cursor:default;"><img src="/images/Map/Green-16.png"></a></span><span class="fa fa-arrow-right"></span>Completed</li>
                                <li class="infocls"><span class="smwt"><a title="Overdue" href="javascript:void(0)" style="cursor:default;"><img src="/images/Map/red-16.png"></a></span><span class="fa fa-arrow-right"></span>Overdue</li>
                                <li class="infocls"><span class="smwt"><a title="Due in 7 days" href="javascript:void(0)" style="cursor:default;"><img src="/images/Map/Yellow-16.png"></a></span><span class="fa fa-arrow-right"></span>Due in 7 days </li>
                                <li class="infocls"><span class="smwt"><a title="Not Applicable" href="javascript:void(0)" style="cursor:default;" class=""><span class="fa"></span></a></span><span class="fa fa-arrow-right"></span>Not Applicable</li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End : Added by Sagar-->

                    <ul class="panel-controls" style="margin-top: 2px;display:none;">
                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Expand"></span></a></li>
                        <li><a href="#" class="panel-refresh" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Refresh"><span class="fa fa-refresh"></span></a></li>
                        <li class="dropdown" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Setting">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="dataTables_filter right-milestone">
                        <label>
                            <input type="search" class="" placeholder="Project Search" id="ProjectMapSearch" aria-controls="DataTables_Table_0" style="width: 278px;">
                        </label>
                    </div>
                </div>
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@User.UserId" id="hdnLoggedUserId" />
<script src="~/js/Custom/MapView.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
