﻿@model SchindlerCustomerPortal.Models.UserPermissionViewModel
@{
    ViewBag.Title = "Dashboard";
}
<link href="~/css/job-popup.css?version=20180328" rel="stylesheet" />
<link href="~/css/lightbox.css" rel="stylesheet" />
<link href="~/css/design.css?version=20180328" rel="stylesheet" />
<link href="~/css/Modal-slide.css?version=20180328" rel="stylesheet" />
@*<link href="~/css/Tiny_Popup.css" rel="stylesheet" />
    <ul class="breadcrumb">
            <li class="active"> <a href="javascript:void(0)">  Dashboard </a></li>
        </ul>*@

<style>
    .infocls {
        padding: 8px 15px;
        line-height: 20px;
        border-bottom: 1px solid #E9E9E9;
    }

    .set-Extra-padding-left {
        padding-left: 30px;
    }

    .hide-show-btn {
        display: none;
    }

    .panel-head-box {
        width: 20%;
        padding-top: 10px;
    }

    .panel-controls-legends {
        float: left;
        width: 55%;
    }

    .panel-controls-legends-menu {
        width: 100%;
        padding-left: 0px;
        float: left;
        margin-bottom: 0px;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

        .panel-controls-legends-menu li {
            display: inline-block;
            width: 49%;
            font-size: 13px;
            padding: 4px 15px;
            border-bottom: 0px none;
            transform: translateX(-50%);
            left: 38%;
            position: relative;
        }

            .panel-controls-legends-menu li.infocls .smwt a img {
                width: 24px;
                height: 24px;
            }

    .right-searchbox {
        margin: 2px 0px 2px 10px;
        width: 20%;
        padding-top: 10px;
    }

    .box-square {
        border: 1px solid #dee7f2;
        width: 100%;
        height: 160px;
        text-align: center;
        /*display: table-cell;*/
        padding: 10px;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
    }

        .box-square a, .box-square p {
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: #000;
            font-size: 22px;
        }

    .grid6x6 {
        /*display:table;*/
        margin: 10px 0px;
    }

        .grid6x6 h5.box-title {
            font-size: 17px;
            display: inline-block;
            width: 100%;
            color: #000 !important;
            font-weight: normal !important;
            text-align: center;
        }

    .box-square .box-piechart {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 43%;
        position: absolute;
        overflow: hidden;
    }

    /*.wbox-square {
        width:100%;
        display:table;
    }*/

    /*.chart {
        max-width: 220px;
        min-height: 150px;
        display:table;
    }*/

    .Set-Graph-view {
        font-weight: bold;
        color: navy;
    }

    th a:hover {
        color: #dc0000 !important;
    }

    .set-box-width {
        width: 7%;
    }

    .widget-top-box {
        min-height: 90px;
        margin-top: 20px;
    }

        .widget-top-box .widget-item-left .fa {
            font-size: 45px;
        }

    .btn-info-chart {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f5f5f5, GradientType=0);
        margin-left: 15px;
        color: #dc0000;
        border-radius: 5px;
        font-size: 13px;
        line-height: 24px;
        display: inline-block;
        padding: 4px 7px;
        float: left;
    }

        .btn-info-chart:last-child {
            margin-right: 5px;
        }

        .btn-info-chart img {
            float: left;
            margin-right: 4px;
            margin-top: 4px;
        }

        .btn-info-chart:hover {
            background: #dc0000;
            color: #fff !important;
        }

    .btn-link-chart {
        margin-left: 114px;
        font-size: 12px;
        display: inline-block;
        line-height: 17px;
        float: left;
    }

    .pad-L0 {
        padding-left: 0px;
    }

    .pad-R0 {
        padding-right: 0px;
    }

    .popover-content {
        overflow-y: scroll;
        height: 150px;
        padding-bottom: 30px;
        overflow-x: hidden;
    }

        .popover-content::-webkit-scrollbar {
            width: 5px;
            height: 7px;
        }

        .popover-content::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.8);
            border-radius: 10px;
        }

    @@media screen and (min-width:768px) and (max-width:1023px) {
        .panel-controls-legends-menu li {
            left: 31%;
        }
    }

    @@media screen and (min-width:1024px) and (max-width:1199px) {
        .panel-controls-legends-menu li {
            left: 36%;
        }
    }
    /*.popover {
        width:500px;
    }*/

    #tblPopoverContract tr th, #tblPopoverContract tr td {
        /*width:1%;
        display:table-cell;*/
        padding: 0px 8px;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }

        #tblPopoverContract tr th:first-child, #tblPopoverContract tr td:first-child {
            padding-left: 0px;
            max-width: 0px;
        }

        #tblPopoverContract tr th:last-child, #tblPopoverContract tr td:last-child {
            padding-right: 0px;
            border-right: 0px none;
        }


    #milestoneNoteModal .modal-content {
        max-height: 575px;
        overflow-y: scroll;
    }

        #milestoneNoteModal .modal-content::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        #milestoneNoteModal .modal-content::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.4);
            border-radius: 10px;
        }

    .set-padding-zero {
        padding: 0px;
    }

    .set-top {
        top: 3px;
    }

    .mrg-LR15B5 {
        margin: 0px -15px 5px !important;
    }

    .fixed-foot {
        position: absolute;
        border-top: 1px solid #e5e5e5;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 5px 0px;
        text-align: center;
        background-color: #fff;
    }

    .btn-red, .btn-red:hover, .btn-red:focus {
        background-color: #dc0000;
        color: #fff;
    }

    .edit-btn-icon {
        font-size: 20px;
        /*padding-top: 2px;*/
    }

    .edit-textbox-size {
        width: 100%;
        height: 20px;
        /*margin-right: 5px;*/
    }

    .contactInfo {
        width: 100%;
    }

        .contactInfo tr th:first-child, .contactInfo tr td:first-child {
            width: 21%;
        }

        .contactInfo tr th:nth-child(2), .contactInfo tr td:nth-child(2), .contactInfo tr th:nth-child(3), .contactInfo tr td:nth-child(3) {
            width: 22%;
        }

        .contactInfo tr th:nth-child(4), .contactInfo tr td:nth-child(4) {
            width: 22%;
        }

        .contactInfo tr th:last-child, .contactInfo tr td:last-child {
            width: 13%;
        }

        .contactInfo tr td:last-child {
            border-right: 0px none !important;
        }

            .contactInfo tr td:last-child a i {
                color: #dc0000;
            }

    .text-align-center {
        text-align: center;
    }

    .title-light-box {
        padding: 10px;
        background-color: #f5f5f5;
        color: #dc0000;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.40);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .heading-top-padding {
        padding-top: 25px;
    }

    .setfont-size {
        font-size: 20px;
    }
</style>

@*<div class="page-title">
        <h2> Dashboard</h2>
    </div>*@

<!-- START WIDGETS -->

<div id="LoadingImage" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
    <p style="position: absolute; color: White; top: 40%; left: 43%;">
        <img src="~/img/wait.gif" width="150px" height="150px" />
        <br />
        <b>Loading, please wait...</b>
    </p>
</div>

<div class="work_dashboard">
    <div class="row nomar">
        <div class="col-sm-6 heading-top-padding">
            <h2> Dashboard</h2>
        </div>
        <div class="pull-right col-sm-6 pad-R0">
            @{ var applyClassToWidget = Model.HasAddPermission == true ? "col-md-6" : "col-md-12"; }

            <div class="@applyClassToWidget col-sm-12">

                <!-- START WIDGET SLIDER -->

                <div class="widget widget-default widget-item-icon widget-top-box" onclick="DisplayAllProjects()">
                    <div class="widget-item-left"> <span class="fa fa-file"></span> </div>
                    <div class="widget-data">
                        <div class="widget-int num-count" id="dashboardAllProjectCount" style="cursor:pointer;"></div>
                        <div class="widget-title">Total Projects</div>
                        <div class="widget-subtitle"></div>
                    </div>
                    <div class="widget-controls" style="display:none"> <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a> </div>
                </div>
            </div>

            <input type="hidden" id="hdnCheckNewlyUserPermission" value="@Model.HasAddPermission" />
            <input type="hidden" id="hdnJobListCount" value="" />
            @if (Model.HasAddPermission) // for user management
            {
                <div class="@applyClassToWidget col-sm-12" id="dashboardAllNewUserFocus">

                    <!-- START WIDGET REGISTRED  <div class="widget widget-default widget-item-icon" onclick="location.href='pages-address-book.html';"> -->
                    <div class="widget widget-default widget-item-icon widget-top-box">
                        <div class="widget-item-left"> <span class="fa fa-user"></span> </div>
                        <div class="widget-data">
                            <div class="widget-int num-count" id="dashboardAllNewUser" style="cursor:pointer;"></div>
                            <div class="widget-title">New users</div>
                            <div class="widget-subtitle">On Customer Portal</div>
                        </div>
                        <div class="widget-controls" style="display:none"> <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a> </div>
                    </div>
                    <!-- END WIDGET REGISTRED -->

                </div>
            }
        </div>
    </div>

    @*<div class="@applyClassToWidget col-sm-6">

        <!-- START WIDGET MESSAGES <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';"> -->
        <div class="widget widget-default widget-item-icon">
        <div class="widget-item-left"> <span class="fa fa-envelope"></span> </div>
        <div class="widget-data">
        <div class="widget-int num-count" style="cursor:pointer;" id="dashboardAllmsg" onclick="DisplayAllMessages()"></div>
        <div class="widget-title">New Messages</div>
        <div class="widget-subtitle">In Your Mailbox</div>
        </div>
        <div class="widget-controls" style="display:none"> <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a> </div>
        </div>
        <!-- END WIDGET MESSAGES -->
        </div>*@





    @*<div class="@applyClassToWidget">
        <div class="widget widget-default widget-padding-sm">
        <div class="widget-big-int plugin-clock">00:00</div>
        <div class="widget-subtitle plugin-date">Loading...</div>
        <div class="widget-controls" style="display:none"> <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a></div>
        </div>
        </div>*@


    <!-- END WIDGETS -->
    @*<div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Current Project Status</h3>
                        <span>Project Activity </span>
                    </div>
                </div> <div class="panel-body " style="height:256px;">
                    <div class="row stacked textrmv">
                        <div class="col-md-12 text-center">
                            <div id="barchart_material" style="width: 100%; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Projects Status By Count</h3>
                        <span>All Projects</span>
                    </div>
                </div>
                <div class="panel-body padding-0">
                    <div class="chart-holder" id="ProjectPieChart" style="height: 256px;"></div>
                </div>
            </div>
        </div>*@

    <div class="row nomar">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-title-box panel-head-box">
                    <h3>Project Status by Bank</h3>
                    <span>Milestone Status </span>
                </div>
                <div class="panel-controls-legends">
                    <ul class="panel-controls-legends-menu">
                        <li class="infocls"><span class="smwt"><a title="Pending/In Progress" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Pending-24x24.png" /></a></span>In-Progress/Pending</li>
                        <li class="infocls"><span class="smwt"><a title="Completed" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Completed-24x24.png" /></a></span>Completed</li>
                        <li class="infocls"><span class="smwt"><a title="Overdue" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Overdue-24x24.png" /></a></span>Overdue</li>
                        <li class="infocls"><span class="smwt"><a title="Overdue" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Due-24x24.png" /></a></span>Due in 7 days </li>
                    </ul>
                </div>
                <div class="dataTables_filter right-milestone right-searchbox">
                    <label>
                        <input name="ProjectJobMilestoneSearch" type="search" class="" placeholder="Project Search" id="ProjectJobMilestoneSearch" aria-controls="DataTables_Table_0">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- Start : Added by Sagar-->
    @*<ul class="panel-controls smll" style="margin-top: 2px;TOP: 5PX; ">
            <li class="dropdown" data-tooltip="tooltip" data-placement="left" title="" data-original-title="info">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown"><span class="fa fa-info"></span></a>

                <ul class="dropdown-menu">
                    <li class="infocls"><span class="smwt"><a title="Pending/In Progress" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Pending-24x24.png" /></a></span><span class="fa fa-arrow-right"></span>In-Progress/Pending</li>
                    <li class="infocls"><span class="smwt"><a title="Completed" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Completed-24x24.png" /></a></span><span class="fa fa-arrow-right"></span>Completed</li>
                    <li class="infocls"><span class="smwt"><a title="Overdue" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Overdue-24x24.png" /></a></span><span class="fa fa-arrow-right"></span>Overdue</li>
                    <li class="infocls"><span class="smwt"><a title="Overdue" href="javascript:void(0)" style="cursor:default;"><img src="/img/milestoneicon/Due-24x24.png" /></a></span><span class="fa fa-arrow-right"></span>Due in 7 days </li>
                    <li class="infocls"><span class="smwt"><a title="Not Applicable" href="javascript:void(0)" style="cursor:default;" class=""><span class="fa"></span></a></span><span class="fa fa-arrow-right"></span>Not Applicable</li>

                </ul>
            </li>
        </ul>*@
    <!-- End : Added by Sagar-->

    <div id="projectJobMilestoneStatusDIV" style="height:355px;padding:0;">
        <div id="tblBodyProjectJobMilestone">

        </div>
    </div>

    @*<div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;">
            <div class="mCSB_draggerContainer">
                <div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 95px; max-height: 350px; top: 0px;" oncontextmenu="return false;">
                    <div class="mCSB_dragger_bar" style="line-height: 30px;">
                    </div>
                </div>
                <div class="mCSB_draggerRail">
                </div>
            </div>
        </div>*@
    @*</div>
        </div>*@
</div>
<!-- END SALES BLOCK -->
@* Start --Ankit
            <div class="col-md-2">


    <div class="panel panel-default">
            <div class="panel-heading">

                <div class="panel-title-box">
                    <h3>My Messages</h3>
                    <a href="#" onclick="DisplayAllMessages()"><span>Inbox</span></a>
                </div>

                END --Ankit

                <ul class="panel-controls" style="margin-top: 2px;">
                    <li><a href="javascript:void(0)" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                    <li><a href="javascript:viod(0)" class="panel-refresh" id="msgWidgetRefresh"><span class="fa fa-refresh"></span></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                            <li><a href="javascript:void(0)" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                        </ul>
                    </li>
                </ul>*@

@* Start --Ankit
                    </div>
                <div class="panel-body padding-0">

                    <div class="messages-boxes">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12 grid6x6">
                                <h5 class="box-title">Payments</h5>
                                <div class="box-square">
                                    <div class="box-piechart">
                                        <div id="piechart" style="overflow:hidden;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12 grid6x6">
                                <h5 class="box-title">Invoices</h5>
                                <div class="box-square" id="InvoicesData">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12 grid6x6">
                                <h5 class="box-title">Documents</h5>
                                <div class="box-square" id="DocumentData">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12 grid6x6">
                                <h5 class="box-title">Contacts</h5>
                                <div class="box-square" id="ContactsData">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    Start --END*@


@*<div class="col-md-12" id="newlyRegisteredUserDIV">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="block">
                        <h2> Latest Registered Users</h2>
                    </div>
                    <table class="table   table-striped  " id="newlyRegisteredUserDataTable">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>EMAIL ADDRESS</th>
                                <th>COMPANY NAME</th>
                                <th>DATE</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@*Start--Ankit
        </div>
    Start--End
*@

<!-- Newly registered user edit-->
<!--  Removed Code of User Edit Pop-up by Sagar -->
<!-- User status change model-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userStatusModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center"></p>
                <input type="hidden" id="hdnStatusValue" />
                <input type="hidden" id="hdnStatusForUserID" />
                <input type="hidden" id="hdnStatusForUserEmail" />
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" name="btnStatusYes" id="btnStatusYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" name="btnStatusNo" id="btnStatusNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<!-- User status change model-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="milestoneNoteModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="milestoneNoteTitle"></h4>
                <input type="hidden" id="hdnstatustype" />
                <input type="hidden" id="hdnProjectNo" />
                <input type="hidden" id="hdnJobNo" />
                <input type="hidden" id="hdnMilestoneName" />
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Milestone Name</label>
                <div class="col-md-9">
                    <span id="spanMilestoneName"></span>
                </div>
            </div>

            <div class="modal-body set-Extra-padding-left" id="job-site-question">
                <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                <div id="partialReadyToPull"></div>

            </div>

            <!--
            <div class="modal-footer">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>
            -->

            <div class="modal-body set-Extra-padding-left">
                Requirements :
                <textarea rows="3" cols="70" class="form-control" id="addMilestoneNote"></textarea>
                <input type="hidden" id="hdnMilestoneNoteValue" />
            </div>
            <div class="modal-body" id="divPlannedDate">
                <label class="col-md-3 control-label">Planned Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" name="Editduedate" id="Editduedate">
                    </div>
                </div>
            </div>
            <div class="modal-body" id="divCompletedDate">
                <label class="col-md-3 control-label">Completed Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" name="Editcompleteddate" id="Editcompleteddate">
                    </div>
                </div>
            </div>
            <div class="modal-body" id="divStatus">
                <label class="col-md-3 control-label">Status *</label>
                <div class="col-md-9">
                    <div id="divReadyToPull">
                        <select id="editstatustype" name="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                        <span class="input-group-btn">
                            <input type="button" class="button btn btn-default" value="Job-Site Ready" style="display: none" name="readyToPull" id="readyToPull">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="job-site-miletstone-btn">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>
            <div class="modal-footer" id="simple-miletstone-btn">
                <input type="button" name="btnMilestoneNoteYes" id="btnMilestoneNoteYes" class="mybtn" value="Submit">
                <input data-dismiss="modal" type="button" name="btnMilestoneNoteNo" id="btnMilestoneNoteNo" class="mybtn" value="Cancel">
            </div>
        </div>
    </div>
</div>

<!-- Job-Site Ready Model -->
<div tabindex="-1" class="modal" id="modal_readypull" role="dialog" aria-hidden="true" aria-labelledby="largeModalHead" style="display: none;">

    <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:relative;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:2000;">
        <img src='~/img/spinner.gif' width="64" height="64" />
        <br>Loading...
    </div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" id="btnReadyToPullTopClosed"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Job-Site Ready</h4>
            </div>
            <div class="modal-body">
                <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                <div id="partialReadyToPull"></div>

            </div>
            <div class="modal-footer">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>

        </div>
    </div>
</div>
    </div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="milestoneNoteSuccessModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center" id="milestoneNoteSuccessMessage">Record updated successfully.</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="MessageOkbtn">
            </div>
        </div>
    </div>
</div>
<!--Announcement model part -->
<div class="modal register fade modelform" id="Announcement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content announce">
                <div class="modal-header announce-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Announcement
                    </h4>
                    <div class="announce-icon">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="modal-body announce-body">
                    <div class="panel-body heightmail" id="headerAnnouncement">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="light mybtn" id="btnaddcancleAnnouncement" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Job List With Specific Parameter -->
<div class="modal right fade" id="joblistwithparameter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" style="width:auto;max-width:1235px;">
        @*modal-box*@
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="job-head">PROJECT: 102142 - 46 EAST MAIN ST SOMERVILLE</h4>
            </div>
            <div class="modal-body" id="divjoblist">
                <table class="table table-overall-details" id="tbljoblist">
                    <thead id="thjoblist">
                    </thead>
                    <tbody id="tdjoblist"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="divphotolinkgrid" role="dialog">
    <div class="modal-dialog modal-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body" id="divbodyphotolinkgrid">

            </div>
        </div>

    </div>
</div>

<div id="divphotolinkSlide" class="lightboxmodal">
    <span class="lightboxclose cursor" onclick="closeModal()">&times;</span>
    <div class="lightbox-modal-content" id="divphotolinkSlideContent">

    </div>
</div>


<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/DashboardUserList.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/lightbox.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

    //$("#Editduedate").datepicker('setStartDate', new Date());
</script>
