﻿@using SchindlerCustomerPortal.Models
@*@model ViewModelModule*@

<style>
    .rmv-down-arrow.x-features-profile:after {
        content: "" !important;
    }

    .x-features-none {
        margin-right: -10px !important;
    }

    .x-features-profile.text {
        width: 200px !important;
    }

    .badge-event {
        border-radius: 30px;
        padding: 0px 7px;
        font-size: 11px;
        line-height: 20px;
        display: inline-block;
        min-width: 10px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        position: absolute;
        right: 18px;
        top: -5px;
    }
</style>

<div class="x-hnavigation">
    <div class="x-hnavigation-logo"> <a href="/Dashboard/Index"> </a> </div>

    <input type="hidden" value="@CommonConfiguration.numberOfRecordsToDisplay" id="hdnPageSize" />
    <input type="hidden" value="@User.CompanyID" id="hdnUserCompanyId" />
    <input type="hidden" value="@User.Email" id="hdnUserEmail" />

    <input type="hidden" value="@User.RoleId" id="hdnUserRoleId" />

    <input type="hidden" value="@User.UserId" id="hdnLoggedUserId" />

    @if (User.RoleId != 1 && User.RoleId != 3)
    {
        <div class="x-features-profile text sm">
            <h4>@User.CompanyName &nbsp;</h4>
        </div>
    }
    <div class="x-features">
        <div class="pull-right">

            @if (User.RoleId != 1 && User.RoleId != 3)
            {
                <div class="x-features-profile text bg">
                    <h4>@User.CompanyName</h4>
                </div>
            }

            @*<div data-placement="left" data-tooltip="tooltip" data-original-title="Calendar" class="x-features-profile rmv-down-arrow message HeaderDivision list-group-contacts x-features-none" id="CalendarHeaderTooltip">
                    <a href="/CalendarView/Index/"><span class="fa fa-calendar"></span><span id="calendarCount" class="badge-event"></span></a>
                </div>*@

            <div class="x-features-profile message HeaderDivision list-group-contacts" id="CalendarDropdown">
                <a href="/CalendarView/Index"><span class="fa fa-calendar"></span></a>
                <div class="informer" id="headerTodayEventCount"></div>
                <ul class="xn-drop-right animated zoomIn">
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-calendar"></span> Today's Events</h3>
                            <div class="pull-right"> <span class="label label-danger" id="headerEventCount">0 new </span></div>
                        </div>
                        <!--  style="height: 200px;" -->
                        <div class="panel-body heightmail list-group list-group-contacts" id="headerCalendarBox">
                        </div>
                        <div class="panel-footer text-center"> <a href="/CalendarView/Index">Show all Events</a> </div>
                    </div>
                </ul>
            </div>

            <div data-placement="left" data-tooltip="tooltip" data-original-title="Map" class="x-features-profile rmv-down-arrow message HeaderDivision list-group-contacts x-features-none" id="MapHeaderTooltip">
                <a href="/MapView/Index/"><img src="~/images/Map/us-map.png" width="25px" height="25px" /></a>
            </div>

            <!-- context sensitive help -->
            @*@if (ViewBag.ModuleId != null)
                {
                    @Html.ActionLink("QuickHelp", "ModulewiseHelpList", "Help", new { ModuleId = @ViewBag.ModuleId }, new { id = "Quickhelpid" })
                }*@

            <input type="hidden" id="hdnContextHelp" value="@ViewBag.ModuleId" />

            <div class="x-features-profile message HeaderDivision list-group-contacts" id="contextHelp">
                <a href="javascript:void(0)"><span class="fa fa-question-circle mgrleft"></span></a>
                <ul class="icons  xn-drop-left xn-panel-dragging lefts bighalf">
                    <div class="panel-body heightmail" id="headerHelp">

                    </div>
                </ul>
            </div>

            @*<div class="x-features-profile message list-group-contacts">
                        <a href="#"><span class="fa fa-file"></span></a>
                        <div class="informer ">4</div>
                        <ul class="xn-drop-right animated zoomIn">
                            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class=" fa fa-file"></span> Project  Messages</h3>
                                    <div class="pull-right"> <span class="label label-danger">4 new</span> </div>
                                </div>
                                <div class="panel-body list-group list-group-contacts scroll mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="height: 200px;">
                                    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 200px;" tabindex="0">
                                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                            <a href="messages-inner.html" class="list-group-item">
                                                <div class="list-group-status status-online"></div>
                                                <img src="@User.ProfilePic" class="pull-left mCS_img_loaded" alt="Justin Brown"> <span class="contacts-title">Justin Brown</span>
                                                <p>Praesent placerat tellus  condimentum</p>
                                            </a>
                                        </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center"> <a href="messages.html">Show all messages</a> </div>
                            </div>
                        </ul>
                    </div>

                <div class="x-features-profile message HeaderDivision list-group-contacts" id="messageHeaderTooltip">
                    <a href="javascript:void(0)"><span class="fa fa-comments"></span></a>
                    <div class="informer " id="headerUnreadCount"></div>
                    <ul class="xn-drop-right animated zoomIn">
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                                <div class="pull-right"> <span class="label label-danger" id="headerMessageCount">4 new </span></div>
                            </div>
                            <!--  style="height: 200px;" -->
                            <div class="panel-body heightmail list-group list-group-contacts" id="headerMailBox">
                            </div>
                            <div class="panel-footer text-center"> <a href="/mailbox/maillist">Show all messages</a> </div>
                        </div>
                    </ul>
                </div>

                <div class="x-features-profile">
                        <img src="@User.ProfilePic">
                        <ul class="xn-drop-left animated zoomIn">
                             <li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" id="btneditProfile"><span class="fa fa-user "></span> My Profile</a></li>
                            <li><a href="javascript:void(0)" onclick="PasswordPopUpOpen();"><span class="fa fa-user "></span> Change Password</a></li>
                            <li><a href="javascript:void(0)" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                        </ul>
                    </div>*@


            <div class="x-features-profile profileul HeaderDivision " id="profileHeaderTooltip">
                <img src="@User.ProfilePic">
                <ul class="xn-drop-left animated zoomIn">
                    <li class="profile">
                        <img src="@User.ProfilePic">
                        <h4>@User.FirstName</h4>
                        @*@if (User.RoleId == 1)
                            {
                                <span>Super Admin</span>
                            }
                            @if (User.RoleId == 3)
                            {
                                <span>Employee</span>
                            }
                            @if (User.RoleId == 2 || User.RoleId == 4)
                            {
                                <span>Customer</span>
                            }*@

                    </li>
                    <!-- <li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>-->
                    <li><a href="javascript:void(0)" data-toggle="modal" id="btneditProfile"><span class="fa fa-user "></span> My Profile</a></li>

                    <li><a href="javascript:void(0)" onclick="PasswordPopUpOpen();"><span class="fa fa-key "></span> Change Password</a></li>
                    <li><a href="javascript:void(0)" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Log Out</a></li>
                </ul>
            </div>

        </div>
        <div class="x-features-nav-open"> <span class="fa fa-bars"></span></div>
    </div>

    <!-- Dynamic Navigation -->
    @Html.Action("HeaderLinks", "Common")



    @*<ul>
            <li> <a href="dashboard.html">Dashboard</a> </li>
            <li class="xn-openable  ">
                <a href="#">Project Management</a>
                <ul>
                    <li><a href="myproject.html"> <span class="fa fa-files-o"></span>My Projects</a></li>
                    <li><a href="inner-summary.html"> <span class="samm icond"></span> Job Summary </a></li>

                    <li><a href="inner-contact.html" class="active"> <span class="contac icond"></span> Contacts </a></li>
                </ul>
            </li>
            <li>
                <a href="document_management.html"> Documents Management </a>

            </li>
            <li>
                <a href="invoice.html">Invoices</a>

            </li>
            <li>
                <a href="resource_center.html">Resource Center</a>

            </li>
            <li><a href="messages.html"> Messages</a></li>
            <li class="xn-openable active">
                <a href="#"> Admin </a>
                <ul>
                    <li class="active"><a href="Account_management.html"><span class="fa fa-building"></span>Accounts Management </a></li>
                    <li><a href="user_management.html"><span class="  fa fa-users"></span>Employees Management </a></li>
                </ul>
            </li>

        </ul>*@

</div>

<script src="~/js/Custom/header.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
