﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Schindler Customer Portal</title>
    
    <link href='~/css/bootstrap-select.css' rel='stylesheet' />

    <link href="~/css/theme-default.css" rel="stylesheet" />
    <script type='text/javascript' src="~/js/Custom/GlobalPath.js"></script>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>

    @*<script src="~/js/Custom/logger.js"></script>
        <script type="text/javascript">
            $(window).logger();
        </script>*@
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>

    @Scripts.Render("~/bundles/bootstrapFinal")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/commonjs")

    <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    
    <script type="text/javascript" src="~/js/plugins.js"></script> <!-- DataTable JS-->

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
 
    <style>
        .invalid {
            background: url(/images/cross.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #ec3f41;
        }

        .valid {
            background: url(/images/tick.png) no-repeat 0 50%;
            padding-left: 22px;
            line-height: 24px;
            color: #3a7d34;
        }

        #pswd_info {
            display: none;
        }

        .popover {
            max-width: none;
            width: 300px;
            height: 200px;
            position:fixed;
        }

        ul {
            list-style-type: none;
        }

        .txtAlignCenter {
            text-align: center;
        }

        .IMgcenter {
            /*width: 130px;*/
            margin-left: auto;
            margin-right: auto;
        }

        .ui-autocomplete {
            POSITION: absolute !important;
            z-index: 99999 !important;
        }

        @@media (min-width: 768px){
            .modal-dialog {
                    margin: 30px auto;
            }
        }

        .modal-open .modal{
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #myprofile .modal-content {
            max-height: 575px;
            overflow-y: scroll;
        }
        #myprofile .modal-content::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        #myprofile .modal-content::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.4);
            border-radius: 10px;
        }
        #myprofile .modal-backdrop.in {
            height:inherit !important;
        }
    </style>

</head>
<body class="x-dashboard">
    <div class="page-container  ">
        @*<div class="page-container  page-navigation-top-fixed">*@
        <div class="page-content">
            <div class="page-content-wrap">

                @if (User != null)
                {
                    @Html.Partial("~/Views/Shared/_HeaderLayout.cshtml")
                }
                else
                {
                    Response.Redirect("~/Login/UserLogin");
                }
            </div>

            @RenderBody()

            @RenderSection("scripts", required: false)


        </div>
    </div>
    @*@Html.Partial("~/Views/Shared/_FooterLayout.cshtml")*@

    @*<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:500;">
            <img src='~/img/spinner.gif' width="64" height="64" />
            <br>Loading..
        </div>*@



    @using SchindlerCustomerPortal.Models



    <div class="modal in" id="myprofile" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-backdrop  in" style="height: 554px;"></div>
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">My Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="addlogo center " style="">
                            <div class="avatar" id="Divlogo">
                                <p class="mid" id="imagelogo"><img id="profileuserimage" title="User Profile Picture" alt="" src="~/img/no_images.png" width="100%"></p>
                                <div class="kv-avatar center-block kv-avatar-remove" onclick="clearFileInputField('profileuserimage');" data-toggle="popover" data-trigger="hover" data-placement="top" title="Remove Profile Pic">
                                    @*<input type="button" class="hide" id="rmvBtn" name="rmvBtn" onclick="clearFileInputField('profileImageUpload');">*@
                                </div>
                                <div class="kv-avatar center-block">
                                    <input type="file" accept="image/jpeg, image/png" id="profileImageUpload" name="profileImageUpload" class="addcompanyrequired form-control">
                                </div>
                               
                                
                            </div>
                            <div class="clearfix"></div>
                            <i>160 x 60 pixel recommended !</i>
                        </div>
                    </div>
                    <form class="form-horizontal">

                        <input type="hidden" id="editprofileuserid" />
                        <input type="hidden" id="editprofileRoleID" />
                        <input type="hidden" id="editprofileAccountStatus" />

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Email ID *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="email" class="form-control" name="profileEmail" id="profileEmail" maxlength="50" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Name *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="profileFullName" id="profileFullName" maxlength="64" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Designation * </label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control " id="profileDesignation" required>
                                    @*<option value="">--Select--</option>
                                    <option value="1">Sales Executive</option>
                                    <option value="2">Project Managaer</option>
                                    <option value="3">Superintendent</option>
                                    <option value="4">Resource</option>
                                    <option value="6">District Manager</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Address </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="profileStreetAddress" id="profileStreetAddress" maxlength="80" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> State </label>
                            <div class="col-md-6 col-xs-12">
                                <select class="form-control " id="profileState" required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> City </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="profileCity" id="profileCity" maxlength="50" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label"> Zip </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" name="profileZipCode" id="profileZipCode" maxlength="5" required pattern="^(0|[1-9][0-9]*)$">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Phone # *</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control" id="profilePhoneNo" name="profilePhoneNo" maxlength="12" required pattern="^(0|[1-9][0-9]*)$">
                            </div>
                        </div>
                        @{var displayUnsubscribe = "";}
@if (User.RoleId != 1 && User.RoleId != 3)
                            {
                                 displayUnsubscribe = "block";
}
else
{
     displayUnsubscribe = "none";
}
                        <div class="form-group" style="display:@displayUnsubscribe">
                            <label class="col-md-3 col-xs-12 control-label" style="line-height: inherit;">Unsubscribe</label>
                            <div class="col-md-9 col-xs-12">
                                <input type="checkbox" id="profileUnsubscribe" name="profileUnsubscribe" 
                                       style="float:left; margin-top:3px;">
                                <span style="font-size:13px; float:left; margin-left:5px;">(For Milestone update email/push notifications)
                                </span>
                            </div>
                        </div>
                      
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="mybtn" type="button" id="saveProfile">Save</button>
                    <button class="light mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal in" id="mypassword" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="largeModalHead">Change Password </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label"> Old Password * </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="password" autocomplete="off" class="form-control" maxlength="32" name="oldpassword" id="oldpassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label"> New Password * </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="password" autocomplete="off" class="form-control" maxlength="32"  id="newpassword" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12})" name="newpassword" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-xs-12 control-label"> Confirm Password * </label>
                            <div class="col-md-6 col-xs-12">
                                <input type="password" autocomplete="off" class="form-control" maxlength="32" name="cnfnewpassword" id="cnfnewpassword" required>
                            </div>
                        </div>
                    </form>

                    <div id="pswd_info">
                        <h4>Password Strength</h4>
                        <ul>
                            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid">At least <strong>one number</strong></li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="light mybtn" type="button" id="btnChangePassword">Save</button>
                    <button class="mybtn" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="javascript:void(0)" id="btnLogOut" class="btn mybtn btn-lg" onclick="logOut();">Yes</a>
                        <button class="btn mybtn btn-lg mb-control-close" id="btnLogOutCancel">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <div class="modal register fade modelform clsbroadcast" id="Announcement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content announce">
                    <div class="modal-header announce-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabelAnnouncement">
                            Announcement
                        </h4>
                        <div class="announce-icon">
                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="modal-body announce-body">
                        <div class="panel-body heightmail clsheaderAnnouncement" id="headerAnnouncement">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="light mybtn" id="btnaddcancleAnnouncement" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userPasswordChanged" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="statusText" style="color: green; font-size: large; text-align: center">Your password has been changed successfully! Thank you.  </p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" id="btnRelogin" class="btn btn-success" value="Yes" onclick="logOut();">
                </div>
            </div>
        </div>
    </div>*@

    <div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="userPasswordChanged" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form></form>
                    <p style="color: green; font-size: large; text-align: center" id="">Your password has been changed successfully!</p>
                </div>
                <div class="modal-footer">
                    <input data-dismiss="modal" type="button" class="mybtn" value="Ok" onclick="logOut();">
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_AlertMessage")
    <script type='text/javascript' src='~/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/summernote/summernote.js"></script>
    <!-- START TEMPLATE -->

    <script type="text/javascript" src="~/js/actions.js"></script>

    <script type="text/javascript" src="~/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/datatables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

       //BindStateForUser();

        $(function () {
           var conn = $.connection.myHub;
           conn.logging = false;
           //$.connection.hub.start();
           conn.client.addMessage = function (message) {
               $('.clsbroadcast').modal('show');
               $('#myModalLabelAnnouncement').html('Broadcast');
               $('.clsheaderAnnouncement').html(message);
               $('.clsheaderAnnouncement').mCustomScrollbar();
           };
           $.connection.hub.start({ transport: ["webSockets", "serverSentEvents", "longPolling"] });

           $.connection.hub.error(function (error) {
               console.log('SignalrAdapter: ' + error);
           });

          
       });
    </script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


</body>

</html>

