﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Schindler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->
</head>
<body class="x-dashboard">
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-container">
            <div class="page-content">
                <div class="page-content-wrap"></div>
                <!-- END X-NAVIGATION VERTICAL -->
                <!-- START BREADCRUMB --><!-- END BREADCRUMB -->
                <!-- PAGE CONTENT WRAPPER -->


                <div class="row">
                    <div class="col-md-12">

                        <div class="error-container">
                            <div class="error-code">404</div>
                            <div class="error-text">page not found</div>
                            <div class="error-subtext">Page you have requested has been moved or link you have used is expired.</div>
                            <div class="error-actions">
                                @*<div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-block btn-lg" onclick="document.location.href = 'index.html';">Back to dashboard</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-block btn-lg" onclick="history.back();">Previous page</button>
                                    </div>
                                </div>*@
                            </div>


                        </div>

                    </div>


                </div>
            </div>


        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
    <!-- START PRELOADS -->
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapFinal")

    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
</body>
</html>






