﻿@media (min-width: 768px) and (max-width : 981px) {
    .modClaim .bd .text {
        font-size: 2.4rem;
        font-size: 6.2vw;
        line-height: 2.8rem;
        line-height: 8vw;
    }
}

@media (min-width: 500px) and (max-width: 981px) {
    .modSitetools .bd.adaptive .social div.share .modHtml p {
        width: 100%;
    }

    .modSitetools .bd.adaptive .social div.share .modHtml .bd {
        padding: 0 8px 0 0;
    }
}

@media (min-width: 981px) {
    #countrylightbox {
        width: 951px;
    }
}

@media (min-width: 981px) and (max-width: 1070px) {
    #fancybox-wrap {
        padding: 0px !important;
        left: 0 !important;
        right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #countrylightbox {
        width: 870px;
    }

    #countrylightbox .size1of6 {
        width: 140px;
    }

    #countrylightbox .size2of6 {
        width: 300px;
    }
}

@media (max-width : 981px) {

    .modOffscreenToggle {
        display: block;
    }

    .firstline {
        display: none;
    }

    .modDisclaimernavi {
        width: 100%;
        margin: 0 auto !important;
    }

    .head2logo .firstline {
        display: block;
    }

    .head2logo .size3of6 {
        display: none;
    }

    .head2logo .size1of6 {
        display: none;
    }

    .head2logo #nav-icon {
        margin: 16px 0 0 0;
    }

    .head2logo .lastUnit {
        overflow: hidden;
        height: 49px;
    }

    .logoPart {
        width: auto;
        margin-right: 16px;
    }

    .logo2Part {
        float: left !important;
        border-left: 1px solid #E0E0E0;
        padding-left: 16px;
        height: auto;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
    }

    .modLayout .head2logo .modLogo .bd {
        width: auto !important;
    }

    .head2logo .modOffscreenToggle {
        margin-top: -55px;
    }

    .secondline {
        display: none;
    }

    .head {
        height: auto !important;
        padding: 16px 16px 16px 16px !important;
    }

    .modLogo .bd {
        padding: 0 !important;
    }

    .modSernavi {
        display: none;
    }

    .modLangselect {
        display: none;
    }

    .modCountryselect {
        display: none;
    }

    .modSearchbox {
        display: none;
    }

    .modMainnavi {
        display: none;
    }

    .modSubnavilevel1 {
        display: none;
    }

    .modSubnavilevel2 {
        display: none;
    }

    .modSubnavilevel3 {
        display: none;
    }

    .modClaim .contentintro {
        height: 250px;
    }

    .body {
        margin: 0 !important;
    }

    .cntPart {
        padding: 0 0 0 16px;
    }

    .cntPart select {
        width: 100% !important;
        margin: 0 !important;
    }

    .cntPart > .rightCol {
        margin-top: 16px;
        float: left !important;
        width: 100% !important;
    }

    .modContactbox .bd {
        padding: 16px 16px 0 16px!important;
    }

    .modContactbox select {
        margin: 0!important;
        width: 100% !important;
    }

    .modJobsearchBox .bd {
        padding: 16px 16px 0 16px!important;
    }

    .modJobsearchBox select {
        margin: 0!important;
        width: 100% !important;
    }

    .modColCtrl .content {
        width: 100% !important;
    }

    .modTextimage img {
        width: 100% !important;
        height: auto !important;
    }

    .image {
        width: 100% !important;
    }

    .colctrl .lastUnit {
        width: 50% !important;
    }

    .modMediadownload .assetshare .left-cell {
        padding: 5px 5px 0 0;
    }

    .modMediadownload .assetshare .left-predicates {
        width: auto !important;
    }

    .modMediadownload .assetshare table.wrapper {
        width: 100%;
        margin-right: 16px;
    }

    .modMediadownload .assetshare .lens-dataview.list TD.title-cell DIV {
        width: auto !important;
    }

    .modMediadownload .assetshare .lens-dataview.list TD.title-cell DIV {
        width: auto !important;
    }

    .modMediadownload .assetshare .lens-dataview.list td.last div {
        width: auto !important;
    }

    .modMediadownload .assetshare .lens-dataview.list {
        width: auto !important;
    }

    .modMediadownload .assetshare .lens-dataview.list TABLE {
        width: auto !important;
    }

    .modMediadownload .assetshare .lensdeck {
        width: auto !important;
    }

    .modFormular .frmitem {
        width: auto !important;
        margin-top: 16px;
    }

    .modFormular .okText {
        margin: 0;
    }

    .modFormular .frmlabel {
        float: none;
        width: 100%;
    }

    .modFormular form .btnbar {
        margin: 0;
    }

    .modFormular .frmitem textarea {
        width: 100% !important;
    }

    .newsarticle {
        margin-right: 16px;
    }

    .modTextimage .content {
        width: 100% !important;
    }

    .contentSidebar .modTextimage .content {
        width: auto !important;
    }

    .modStage img {
        width: 100% !important;
        height: auto;
    }

    .modStage .bd {
        border-top: 16px solid #FFFFFF;
    }

    .modGlossaryEntry {
        margin-right: 16px !important;
    }

    .modTeaser .image {
        width: inherit !important;
    }

    .cntPart.flex {
        display: flex !important;
        flex-wrap: wrap;
    }

    .contentPart.flex {
        display: flex !important;
        flex-wrap: wrap;
    }

    .unit.lastUnit.rightCol {
        width: 50% !important;
    }

    .contentSidebar {
        order: 99;
        -webkit-order: 99;
        width: 100% !important;
    }

    .unit.lastUnit.rightCol.contentSidebar {
        width: 100% !important;
    }

    .modSitetools {
        order: 100;
        -webkit-order: 100;
    }

    /*

    // Move the burger to the left

    .head .unit.size4of6 {
        float: right;
    }

    .head .unit.size1of6 {
        float: right;
    }
    .head .firstline .unit.size4of6 {
        float: right;
    }
    .head .firstline {
        position: relative;
    }

    .modLogo a {
        float: right !important;
    }

    .modLogo .bd {
        width: 100% !important;
    }

    .modOffscreenToggle {
        float: left !important;
    }*/

    .contentPart {
        border-top: none;
    }

    #openInNewWindowButton {
        width: 100% !important;
        margin: 0;
    }

    .search .btnbar {
        margin-top: 10px !important;
    }

    .modJobsearchBox:not(.hide-desktop) {
        /* Removed display: none; */
    }

    .modSitetools .icons {
        float: left;
    }

    .modDroplistteaser .bd {
        height: 80px !important;
        max-height: 80px;
    }

    .modIframe .bd {
        /* Enables iframe scrolling on iOS devices */
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .modIFrame .bd {
        /* Enables iframe scrolling on iOS devices */
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    iframe, .content-wrapper {
        /* Enables iframe scrolling on iOS devices */
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    /* Font-sizes */

    h1.base, .richText h1 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .sitetitle h1 {
        /*font-size: 2rem;*/
        font-size: 30px;
        line-height: 2.2rem;
        padding: 8px 16px 4px 0 !important;
    }

    h2.base, .richText h2 {
        /*font-size: 1.5rem;*/
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0 10px 0 !important;
    }

    h3.base, .richText h3 {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    h4.base, .richText h4 {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    h5.base, .richText h5 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    p {
        /*font-size: 1.1rem !important;*/
        font-size: 18px !important;
        line-height: 1.4rem;
    }

    .modAbstract p {
        /*font-size: 1.3rem !important;*/
        font-size: 20px;
        line-height: 1.6rem;
    }

    ul li {
        /*font-size: 1.1rem;*/
        font-size: 18px;
        line-height: 1.4rem;
    }

    .copyright ul li {
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 5px !important;
    }

    a {
        /*font-size: 1.1rem;*/
        font-size: 18px;
        line-height: 1.4rem;
    }

    .footernavi a {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    div.content {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .mm-menu ul li, .mm-menu a {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .mm-menu p {
        font-size: 1.1rem !important;
        line-height: 1.4rem;
    }

    .modTeaser .textonly {
        font-size: 1.5rem !important;
    }

    .modTeaser .textonly.teasertext {
        font-size: 1.5rem !important;
        margin-right: 16px !important;
    }

    .modTeaser .text {
        font-size: 1.4rem !important;
    }

    table {
        font-size: 1.1rem !important;
        line-height: 1.4rem;
    }

    /* End Font-Sizes */

    .modTeaser .bd {
        padding: 16px 16px !important;
    }

    .stockticker .modTeaser .bd, .modTeaser.skinTeaserLightgray .bd {
        padding: 0 0 !important;
        height: 100px;
    }

    .modTeaser .bd .image {
        padding: 0 16px 0 0 !important;
    }

    .modTeaser .bd .text {
        padding: 0 !important;
    }

    .modTeaser .bd .textonly {
        padding: 0 !important;
    }

    .modTeaser a:link, .modTeaser a:visited, .modTeaser a:hover, .modTeaser a:active, .modTeaser a:focus {
        height: auto !important;
    }

    .stockticker .modTeaser a:link, .stockticker .modTeaser a:visited, .stockticker .modTeaser a:hover, .stockticker .modTeaser a:active, .stockticker .modTeaser a:focus {
        height: 100% !important;
    }

    .modTeaser .bd {
        height: 80px !important;
    }

    .modTeaser .bd img {
        max-height: 80px;
    }

    .stockticker .modTeaser .bd {
        min-height: 100px !important;
        height: auto;
    }

    .modDroplistteaser h2 {
        line-height: 0.8em !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.5rem !important;
        padding-bottom: 21px !important;
    }

    .modTextimage .image {
        padding: 3px 0 6px 0;
    }

    .modSearchResults .bd {
        padding-right: 16px;
    }

    input#formSubmit {
        white-space: normal;
    }

    .modTeaser.skinTeaserLightgray .bd {
        height: 100px!important;
    }

    .modSearchResults .searchform .frmlabel {
        width: 18%;
        padding: 0;
    }

    .modSearchResults .searchform .frmitem {
        width: 55%;
        padding: 0;
    }

    .modSearchResults .searchform .frmitem input {
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .modSearchResults .searchform .btnbar {
        margin: 0 !important;
        float: right;
        width: 24%;
    }

    .modSearchResults .searchform .btnbar input {
        width: 100%;
        text-align: center;
        padding: 4px 12px 5px 12px;
    }

    .modSearchResults .pagination {
        text-align: center;
    }

    .modSearchResults .pagination a {
        margin: 0 0.5% 0 0.5% !important;
    }

    .modIFrame .mobile-label p {
        padding-right: 16px;
    }

    .modIFrame .bd {
        padding-right: 16px;
    }

    .modFormular .modColCtrl .unit {
        width: 100% !important;
    }

    .modFormular .modColCtrl .bd {
        padding: 0 !important;
        margin: 0 !important;
    }

    .modFormular .frmitem input,
    .modFormular .frmitem textarea,
    .modFormular .frmitem select {
        width: 80vw !important;
        width: calc(90vw - 32px - 10px - 2px) !important;

        padding: 5px !important;
        margin: 0 !important;
    }

    .modFormular .frmitem select {
        width: calc(90vw - 32px - 0px - 0px) !important;
    }

    .modFormular .frmitem .radiolabel {
        width: auto !important;
    }

    .modFormular .frmitem input[type='radio'] {
        width: 5vw !important;
    }

    .modFormular input[type='submit'] {
        padding: 9px 12px 10px 12px !important;
    }

    .modFormular .captcha p {
        padding: 16px 0 0 0;
    }

    .modTeaser .bd .textonly {
        min-height: 80px !important;
    }

    .modTeaser a:hover, .modTeaser a:hover .textonly {
        background-position: right -372px !important;
    }

    .modJobsearchBox .bd h4 {
        padding-bottom: 10px;
    }

    /* Gallery */

    #lbCenter {
        top: 2vmin !important;
        left: 2vw !important;
        right: 2vw !important;
        /*width: 100% !important;*/
        margin: 0 !important;
        /*height: auto !important;*/
        /*z-index: 10000 !important;*/
        padding: 0 !important;
    }

    #lbBottomContainer {
        /*z-index: 10001 !important;*/
    }

    #lbBottomContainer #lbBottom #lbOverlay {
        /*z-index: 10 !important;*/
    }

    #lbImage {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border: none !important;
        background-color: transparent;
        width: 92vw;
        padding: 2vmin;
        background-origin: content-box;
        margin: 0;
        position: relative;
        z-index: 10002 !important;
        /*visibility: visible !important;*/
    }

    #lbImage > div:not(.closerpart) {
        width: 100% !important;
        height: 80vmin !important;
    }

    #lbBottomContainer {
        top: 82vmin !important;
        /*width: 95.9vw !important;*/
        left: 2vw !important;
        right: 2vw !important;
        margin: 0 !important;
    }

    #lbCloseLink {
        display: block;
        position: absolute;
        right: 2vmin;
        top: 2vmin;
        width: 16px;
        height: 16px;
        margin: 0 0 0 0;
        outline: none;
        background: transparent url('/img/slimbox/ico_lightbox_close.gif') no-repeat center;
    }

    #lbNextLink {
        height: 100% !important;
    }

    #lbPrevLink {
        height: 100% !important;
        left: -1px !important;
    }

    #lbCenter, #lbBottomContainer, #lbTopContainer {
        position: fixed !important;
    }

    .modTeaser .textandimage {
        padding-right: 0;
    }

    /* Lightbox */

    #fancybox-wrap {
        height: auto !important;
        left: 0 !important;
    }

    #fancybox-content {
        width: auto !important;
        width: 86vw !important;
        height: auto !important;
        border: none !important;
        padding: 2vw;
    }

    #fancybox-content input {
        margin-left: 5px;
    }

    #fancybox-close {
        top: 2vmin !important;
        right: 2vmin !important;
    }

    #fancybox-wrap.image {
        width: auto !important;
    }

    /* Tell a Friend */

    #fancybox-content > div > #tellafriendlightbox {
        width: auto;
        height: 86vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #fancybox-content > div > #tellafriendlightbox .bd {
        margin: 0;
    }

    #fancybox-content > div > #tellafriendlightbox .bd .frmline .frmitem input {
        width: 82vw !important;
    }

    #fancybox-content > div > #tellafriendlightbox .bd .frmline .frmitem textarea {
        width: 82vw !important;
    }

    #fancybox-wrap {
        top: 0 !important;
        padding: 5vmin !important;
    }

    #fancybox-outer {
        width: 90vw !important;
    }

    /* Fancybox Country */

    #countrylightbox {
        margin-left: 8px;
    }

    #countrylightbox .head {
        position: relative;
        padding: 0 0 8px 0 !important;
        width: 100% !important;
        padding-bottom: 0;
        box-shadow: none;
        margin-bottom: 0 !important;
    }

    #countrylightbox .lastUnit {
        float: left;
    }

    #countrylightbox .content .unit, #countrylightbox .content .unit.size2of6, #countrylightbox .content .unit.size1of6, #countrylightbox .content .unit.lastUnit {
        width: 100% !important;
    }

    #countrylightbox h3.base {
        margin: 8px 0 4px 0;
    }

    #countrylightbox h3.base:hover {
        color: #DC0000;
    }

    #countrylightbox ul.country2col {
        width: 50% !important;
    }

    .modVideo .jwplayer {
        /* Set via JS */
    }

    .modHtml iframe {
        margin-right: 16px;
        width: 100% !important;
        width: calc(100% - 16px) !important;
    }

    .modTextimage .image .caption {
        font-size: 0.9rem !important;
    }

    .modFormular .frmitem {
        width: 100% !important;
    }

    .modFormular .frmitem fieldset {
        width: 100% !important;
    }

    .modFormular .frmitem fieldset select {
        width: 100% !important;
    }

    .modIframe .mobile-label > a {
        text-decoration: none;
        margin: 0 0 20px 0;
        background-color: #666666;
        border: 1px solid #666666;
        color: #ffffff;
        cursor: pointer;
        height: 30px;
        overflow: visible;
        padding: 9px 12px 10px 12px !important;
        -webkit-appearance: none;
        line-height: 60px;
    }

    .head2logo .modLogo.skinLogoLogo2 img {
        width: auto;
        max-height: 50px;
        height: auto;
    }

    .modDownloadlistbox .bd {
        overflow: auto;
    }

    #countrylightbox {
        background: white;
    }

    .frmlabel label {
        font-size: 1.1rem!important;
        line-height: 1.4rem;
    }
    select {
        font-size: 0.9rem!important;
        line-height: 1.4rem;
    }
    .frmitem input {
        font-size: 1.1rem!important;
        line-height: 1.4rem;
    }
    textarea {
        font-size: 1.1rem!important;
        line-height: 1.4rem;
    }

    .btnbar input {
        font-size: 1.1rem!important;
    }

    .modNewslist .newsEntry .size1of6 {
        width: auto !important;
        margin-right: 16px;
    }

    .cntPart {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    table {
        white-space: nowrap;
    }

    .parbase.logo2 {
        height: 100%;
    }

    .skinTeaserRandom .bd {
        background-color: #EEEEEE;
    }

    .modTeaser.skinTeaserRandom .teasertext {
        color: #666666 !important;
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a svg rect {
        stroke: #888888;
        stroke-width: 1;
        fill: #EEEEEE;
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a.active svg rect {
        fill: #888888;
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a svg {
        width: 15px;
        height: 15px;
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a svg rect {
        /*width: 15px;
        height: 15px;*/
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a {
        margin-bottom: 3px;
    }

    .modDisclaimernavi .copyright ul li {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .modTeaser.skinTeaserRandom .jcarousel li .text {
        width: 90%;
    }

    .modDroplistteaser > .inner > .bd {
        padding: 16px;
    }

    .modDownloadlistbox .bd, .modLinklistbox.rightPar .bd {
        padding: 16px;
    }

    .linkteaser .modTeaser .bd .text {
        font-size: 16px !important;
    }

    /* EA */
}

@media (min-width: 850px) and (max-width : 981px) {
    .page {
        width: 90% !important;
    }

    .page.foot {
        width: 90% !important;
    }

    .head {
        margin-bottom: 16px !important;
    }

    .colHome1 {
        width: 33.3333333% !important;
    }

    .colHome2 {
        width: 33.33333333% !important;
    }

    .colHome3 {
        margin-left: 66.6%;
        width: 33.33333333% !important;
    }

    .colHome1 .modDroplistteaser, .colHome1 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome2 .modDroplistteaser, .colHome2 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome3 .modTeaser {
        padding: 0 0 2px 0;
    }

    .size3of6 > .modDroplistteaser {
        padding: 0 0 2px 16px;
    }

    .lastUnit > .modDroplistteaser {
        padding: 0 16px 2px 0;
    }

    .size1of6 { width: 33.3% !important; }
    .size2of6 { width: 33.3% !important; }
    .size3of6 { width: 66.6% !important; }
    .size4of6 { width: 66.6% !important; }
    .size5of6 { width: 100% !important; }
    .size6of6 { width: 100% !important; }

    .cntPart .size1of6 { width: 50% !important; }
    .cntPart .size2of6 { width: 50% !important; }
    .cntPart .size3of6 { width: 50% !important; }
    .cntPart .size4of6 { width: 100% !important; }
    .cntPart .size5of6 { width: 100% !important; }
    .cntPart .size6of6 { width: 100% !important; }

    .head2logo .modOffscreenToggle {
        padding-top: 7px;
    }

    .modColCtrl .bd .size2of6:nth-child(2) {
        /* Prevent third col from going to the right */
        /*margin-bottom: 40px !important;*/
    }

    .textandimage .image {
        display: none;
    }

    .modTeaser .text.teasertext {
        font-size: 1.6rem !important;
        line-height: 2.2rem !important;
    }

    .modTeaser.skinTeaserRandom .jcarousel li .text {
        overflow: hidden;
    }

    .modTeaser.skinTeaserRandom .jcarousel-pagination a {
        margin-bottom: 0;
    }

    .modTeaser .bd {
        height: 70px !important;
    }
}

@media (max-width : 981px) {
    .modDroplistteaser .bd {
        height: 70px !important;
        max-height: 70px;
        min-height: 70px;
    }

    .linkteaser .modTeaser .bd > a {
        overflow: hidden;
    }
}

@media (max-width: 390px) {
    .textandimage .image {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 981px) {
    .foot {
        width: 90% !important;
    }

    /* Font-Sizes */

    .modClaim .bd .text {
        font-size: 1.9rem;
        font-size: 6.2vw;
        line-height: 2.4rem;
        line-height: 8vw;
    }

    /* End Font-Sizes */
}

@media (min-width: 500px) and (max-width : 768px) {

    /* Font-Sizes */

    .modClaim .bd .text {
        font-size: 1.9rem;
        font-size: 7vw;
        line-height: 2.4rem;
        line-height: 8vw;
    }

    /* End Font-Sizes */

}

@media (min-width: 500px) and (max-width : 849px) {
    .page {
        width: 90% !important;
    }

    .head {
        margin-bottom: 16px !important;
    }

    .colHome1 {
        width: 50% !important;
    }

    .colHome2 {
        margin-left: 50%;
        width: 50% !important;
        float: none;
    }

    .colHome3 {
        width: 100% !important;
    }

    .colHome1 .modDroplistteaser, .colHome1 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome2 .modDroplistteaser, .colHome2 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome3 .modTeaser {
        padding: 0 0 2px 0;
    }

    .size3of6 > .modDroplistteaser {
        padding: 0 0 2px 16px;
    }

    .lastUnit > .modDroplistteaser {
        padding: 0 16px 2px 0;
    }

    .size1of6 { width: 50% !important; }
    .size2of6 { width: 50% !important; }
    .size3of6 { width: 50% !important; }
    .size4of6 { width: 100% !important; }
    .size5of6 { width: 100% !important; }
    .size6of6 { width: 100% !important; }

    .head2logo .modOffscreenToggle {
        padding-top: 7px;
    }

    .modClaim .contentintro {
        height: 280px !important;
    }

    .modFormular .frmitem .radiolabel {
        width: auto !important;
    }

    .modTextimage a[href^="mailto:"] {
        font-size: 0.7em;
    }

    .modColCtrl .bd .size2of6:nth-child(2) {
        /*margin-bottom: 60px !important;*/
    }

    .modTeaser .text.teasertext {
        font-size: 1.34rem !important;
    }

    .modTeaser.skinTeaserRandom .jcarousel li .text {
        width: 96%;
    }
}

@media (min-width: 500px) and (max-width : 981px) {
    .modDroplistteaser select {
        font-size: 0.8rem;
    }
}

@media (max-width : 499px) {
    .page {
        width: 100% !important;
    }

    .foot {
        width: 100% !important;
    }

    .head {
        padding-bottom: 0!important;
    }

    .modOffscreenToggle {
        padding-top: 5px !important;
    }

    #close-icon {
        margin-top: 32px;
    }

    li.close-icon-container {
        margin-bottom: 15px;
    }

    .modDisclaimernavi {
        width: 100%;
    }

    .modLogo img {
        max-height: 43px;
    }

    .head2logo .modLogo.skinLogoLogo2 img {
        width: auto;
        max-height: 50px;
        height: auto;
    }

    .colHome1 {
        width: 100% !important;
        float: none;
    }

    .colHome1 .modDroplistteaser, .colHome1 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome2 .modDroplistteaser, .colHome2 .modTeaser {
        padding: 0 0 2px 0;
    }

    .size3of6 > .modDroplistteaser {
        padding: 0 16px 2px 16px;
    }

    .lastUnit > .modDroplistteaser {
        padding: 0 16px 2px 16px;
    }

    .colHome3 .modTeaser {
        padding: 0 0 2px 0;
    }

    .colHome2 {
        width: 100% !important;
        float: none;
    }

    .colHome3 {
        width: 100% !important;
    }

    .modDisclaimernavi {
        background: white;
    }

    .modDisclaimernavi .bd {
        padding: 0 !important;
        color: #EEEEEE;
        margin: 0 !important;
    }

    .modDisclaimernavi .inner {
        margin: 0 16px 0 16px !important;
        height: auto !important;
        border-top: 1px solid #E0E0E0;
    }

    .size1of6 { width: 50% !important; }
    .size2of6 { width: 100% !important; }
    .size3of6 { width: 100% !important; }
    .size4of6 { width: 100% !important; }
    .size5of6 { width: 100% !important; }
    .size6of6 { width: 100% !important; }

    .colctrl .lastUnit {
        width: 100% !important;
    }

    .unit.lastUnit.rightCol {
        width: 100% !important;
    }

    .cntPart .lastUnit {
        float: left;
        width: 100%;
    }

    /* Sticky Header */

    .head {
        z-index: 20;
        position: fixed;
        top: 0;
        width: 93%;
        width: calc(100% - 32px);
        padding-bottom: 16px !important;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .page {
        padding-top: 80px !important;
    }

    /* Font-Sizes */

    .modClaim .bd .text {
        font-size: 1.4rem;
        font-size: 7vw;
        line-height: 1.8rem;
        line-height: 8vw;
    }

    /* End Font-Sizes */

    .modClaim .contentintro {
        height: 260px !important;
    }

    .modNewslist .newsEntry .date {
        padding: 12px 0 0 0;
    }

    .modSearchResults .frmlabel, .modSearchResults .frmitem {
        padding-bottom: 10px;
    }

    .modSearchResults .frmitem input {
        width: 80vw!important;
    }

    .modFormular .frmitem input,
    .modFormular .frmitem textarea,
    .modFormular .frmitem select {
        width: 90vw !important;
        width: calc(100vw - 32px - 10px - 2px) !important;
    }

    .modFormular .frmitem select {
        width: calc(100vw - 32px - 0px - 0px) !important;
    }

    .modFormular .radiopart {
        display: flex !important;
    }

    .modFormular .frmitem input[type='radio'] {
        width: 10vw !important;
    }

    .modFormular .frmitem .radiolabel {

    }

    .modTeaser .text.teasertext {
        font-size: 1.25rem !important;
        line-height: 1.65rem !important;
    }

    .modTeaser.skinTeaserRandom .jcarousel li .text {
        width: 94%;
    }

    .modDroplistteaser h2 {
        font-size: 1.5rem !important;
    }

    .colHome1 .modTeaser .bd {
        border-right: 0px solid #fff;
    }

    /* EM */
}

/* Module Specific Queries */

@media (max-width : 768px) {
    #countrylightbox .content .unit {
        float: left;
    }

    .modNewsticker {
        padding: 16px;
    }

    .modNewsticker .jcarousel-prev svg {
        margin-left: 0;
    }

    .modStage .bd {
        border-top: 20px solid #FFFFFF;
    }

    .modDownloadlistbox .skinContent span.titleAndDescription .fileTitle {
        width: auto !important;
    }
}

@media (max-width : 981px) {
    .footernavi {
        display: none;
    }
}

@media (max-width : 767px) {
    .modFormular .frmitem .inputlong {
        width: 100%;
    }
}

@media (max-width : 981px) {
    .modPrivacypolicy .bd {
        margin: 0 5%;
    }
    .modPrivacypolicy .cnt .left {
        width: 60% !important;
    }

    .modPrivacypolicy h1 {
        padding: 16px 16px 4px 16px !important;
        font-size: 1.8rem;
        line-height: 2rem;
    }
}

@media (max-width : 981px) {
    .modPrivacypolicy .bd {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    .modPrivacypolicy .bd .left {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    .modPrivacypolicy .bd .right p {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }

    .modPrivacypolicy .bd .right p a {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }
}

@media (max-width : 767px) {
    .modPrivacypolicy .bd {
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .left {
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .right p {
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .right p a {
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }

    .foot {
        width: 100%;
    }
}

@media (max-width : 769px) {
    .modPrivacypolicy .btnbar > a {
        padding: 10px !important;
        font-size: 1rem !important;
    }
}

@media (max-width : 500px) {
    .modPrivacypolicy .bd {
        font-size: 0.7rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .left {
        font-size: 0.7rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .right p {
        font-size: 0.7rem !important;
        line-height: 1rem !important;
    }

    .modPrivacypolicy .bd .right p a {
        font-size: 0.7rem !important;
        line-height: 1rem !important;
    }
    .modPrivacypolicy .bd {
        margin: 0 16px;
    }
    .modPrivacypolicy .cnt .left {
        float: none;
        width: 95% !important;
    }
    .modPrivacypolicy .cnt .right {
        width: 95% !important;
        float: none;
        border: none;
        margin-top: 10px;
    }

    .modPrivacypolicy h1 {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .modPrivacypolicy .btnbar > a {
        padding: 8px !important;
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width: 71.25em) {
    .modPrivacypolicy .bd {
        width: 982px;
        background-position: -15px top;
    }
    .modPrivacypolicy .cnt {
        background-position: -4px top;
        margin: 0 5px 0 6px;
    }
    .modPrivacypolicy h1 {
        padding: 25px 0 0 14px;
    }
    .modPrivacypolicy .cnt .left {
        width: 619px;
        padding: 0 8px 6px 11px;
    }
    .modPrivacypolicy .cnt .right {
        width: 296px;
        padding: 0 8px 6px 15px;
    }
}

/*@media (min-width : 768px) and (max-width: 981px) {
	.modSitetools .bd.adaptive div.share, .modSitetools .bd.adaptive div.follow {
		width: 250px;
	}

	.modSitetools .bd.adaptive div.share .buttons a, .modSitetools .bd.adaptive div.follow a {
		margin: 0 4px 0 0;
	}
}*/

@media (max-width : 981px) {

    .modSitetools .bd.adaptive div.print.tell {
        margin-left: 0;
    }
    .modSitetools .bd svg {
        height: 25px !important;
        width: 25px !important;
    }

    .modSitetools .bd .social_button > span {
        height: 25px !important;
        width: 25px !important;
    }

    .modSitetools .bd .buttons > span {
        margin-right: 6px;
    }

    .modSitetools .bd .buttons > span > span > span {
        height: 25px !important;
        width: 25px !important;
    }

    .modSitetools .bd.adaptive div.print.tell a svg {
        height: 25px !important;
        width: 25px !important;
    }

    .modSitetools .at-icon-wrapper {
        height: 25px !important;
        width: 25px !important;
        margin-right: 10px;
    }

    .modSitetools .share .bd .buttons > span {
        width: 25px !important;
        height: 25px !important;
    }
    .modSitetools .share .bd .buttons > span > span {
        width: 25px !important;
        height: 25px !important;
    }

    .modSitetools .bd.adaptive .follow .modHtml .bd {
        margin: 0 !important;
        padding: 0 !important;
    }

    .modSitetools .bd.adaptive .icons {
        float: left;
        width: 33.3%;
    }
    .modSitetools .bd.adaptive .social {
        float: left;
        width: 80%;
    }
    .modSitetools .bd.adaptive .social > div {
        float: left;
        width: 50%;
    }
    .modSitetools .bd.adaptive div.share p, .modSitetools .bd.adaptive div.follow p {
        padding: 0 0 5px 0;
    }

    .modSitetools .bd.adaptive .buttons a {
        padding: 0;
    }

    .modSitetools .bd.adaptive div.follow p {
        width: 100%;
        display: block;
    }

    .modSitetools .bd.adaptive div.share .buttons {
        height: auto;
    }

    .modSitetools span.chicklets {
        padding: 0 !important;
    }
}

@media (max-width : 500px) {
    .modSitetools .bd.adaptive div {
        width: 100% !important;
    }

    .modSitetools .bd.adaptive .social > div {
        width: 100%;
    }

    .modSitetools .bd.adaptive div.print.tell {
        display: block;
    }

    .modSitetools .bd.adaptive div.share, .modSitetools .bd.adaptive div.follow {
        display: block;
    }

    .modSitetools .bd.adaptive div.share p, .modSitetools .bd.adaptive div.follow p {
        width: 100%;
        padding: 16px 0 5px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #E0E0E0;
    }
}

/* Sticky Header on Tablets in Portrait */
@media (max-width: 768px) and (orientation: portrait) {

    .page {
        width: 100% !important;
    }

    .head {
        padding-bottom: 0!important;
    }

    .modOffscreenToggle {
        padding-top: 5px !important;
    }

    #close-icon {
        margin-top: 32px;
    }

    li.close-icon-container {
        margin-bottom: 15px;
    }

    .modDisclaimernavi {
        width: 100%;
    }

    .modLogo img {
        max-height: 43px;
    }

    .head2logo .modLogo.skinLogoLogo2 img {
        width: auto;
        max-height: 50px;
        height: auto;
    }

    .modDisclaimernavi {
        background: white;
    }

    .modDisclaimernavi .bd {
        padding: 0 !important;
        color: #EEEEEE;
        margin: 0 !important;
    }

    .modDisclaimernavi .inner {
        margin: 0 16px 0 16px !important;
        height: auto !important;
        border-top: 1px solid #E0E0E0;
    }

    /* Sticky Header */

    .head {
        z-index: 20;
        position: fixed;
        top: 0;
        width: 93%;
        width: calc(100% - 32px);
        padding-bottom: 16px !important;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

    }

    .page {
        padding-top: 80px !important;
    }

    .modFormular .frmitem input,
    .modFormular .frmitem textarea,
    .modFormular .frmitem select {
        width: calc(100vw - 32px - 10px - 2px) !important;
    }

    .modFormular .frmitem select {
        width: calc(100vw - 32px - 0px - 0px) !important;
    }

}

@media (max-width : 981px) {
    .page .foot {
        width: 100% !important;
    }
}

@media (max-width: 981px) {
    .contentSidebar {
        order: 99;
        -webkit-order: 99;
        width: 100% !important;
    }

    .cntPart .size2of6.contentSidebar {
        width: 100% !important;
    }

    /*.cntPart .size2of6 {
        width: 50% !important;
    }*/

    .mm-selected {
        color: #DC0000;
    }
}

@media (max-width: 981px) {
    .modSearchResults .searchform .frmlabel label {
        line-height: 35px;
    }

    .modSearchResults .searchform .frmlabel {
        margin: 0 !important;
    }

    .modSearchResults .searchform .frmitem input {
        padding: 5px 5px 5px 5px !important;
    }

    .modSearchResults .searchform .btnbar input {
        padding: 6px 12px 6px 12px;
    }

    .modSearchResults .searchform .frmitem {
        width: 50% !important;
    }
}

@media (max-width: 400px) {
    .modSearchResults .searchform .frmlabel label {
        font-size: 0.8rem !important;
    }

    .modSearchResults .searchform .frmitem input {
        font-size: 0.8rem !important;
    }

    .modSearchResults .searchform .btnbar input {
        font-size: 0.8rem !important;
        height: 35px;
    }
}

@media (max-width: 981px) {
    .modDownloadlistbox .skinContent ul li {
        margin: 0 0 38px 0;
    }
}

@media (max-width: 768px) {
    .modDownloadlistbox span.icon {
        margin-bottom: -10px!important;
    }

    .modDownloadlistbox .skinContent span.fileTitle {
        float: none !important;
    }

    .modDisclaimernavi .copyright ul li {
        width: 100%;
    }

    .modDownloadlistbox span.fileDate {
        width: 100% !important;
        margin-bottom: 2px;
    }

    .modDownloadlistbox span.icon {
        float: left !important;
        width: 20px;
        height: 20px;
    }

    .modDownloadlistbox span.titleAndDescription .downloadDesc {
        margin: 6px 0 0 0;
    }

    .modDownloadlistbox span.fileDesc {
        float: right;
        margin: 2px 0 9px 0;
    }

    .modDownloadlistbox .skinContent ul li {
        margin: 0 0 24px 0;
    }

    .modDownloadlistbox .skinContent .downloadDesc {
        margin-left: 26px !important;
    }

    /* span.fileDate span.icon span.titleAndDescription span.fileDesc */
}

@media (max-width: 500px) {

    .modDownloadlistbox .skinContent span.fileDesc {
        float: none !important;
    }

    .modDownloadlistbox .skinContent span.fileTitle {
        margin-right: 5px;
        margin-left: 40px;
        display: block;
        width: auto;
    }

    .modDownloadlistbox span.titleAndDescription {
        float: none !important;
    }

    .modDownloadlistbox .skinContent .downloadDesc {
        margin-left: 40px !important;
    }
}

@media (max-width: 981px) {
    .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
        padding: 0 !important;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .modSitetools .at-icon-wrapper {
        margin-right: 5px;
    }

    .modSitetools .bd .buttons>span {
        margin-right: 1px;
    }
}

@media (min-width: 768px) and (max-width: 981px) {
    .modNewsticker {
        padding: 16px;
    }

    .colHome3 .stockticker .bd.share {
        height: 102px !important;
    }

    .colHome3 .stockticker iframe {
        height: 102px !important;
    }
}

@media (min-width: 850px) and (max-width: 981px) {
    .linkteaser .modTeaser .bd>a {
        max-height: 70px;
    }

    .linkteaser .modTeaser .bd img {
        width: auto;
        max-height: 70px;
    }

    .linkteaser .modTeaser .bd .text {
        line-height: 22px !important;
    }
}

@media (max-width: 850px) {
    .linkteaser .modTeaser .bd .image {
        height: 80px;
    }

    .linkteaser .modTeaser .bd .text {
        line-height: 20px !important;
    }
}

@media (max-width: 981px) {
    .cntPart > .bd {
        padding: 0 16px;
    }

    /* Removed because paragraph indented on mobile http://sta-publish-aem-schindler.namics.com/us/internet/en/service-maintenance.html */
    .modTextimage .bd {
        /*margin-right: 16px;*/
    }



    .modNewsticker .jcarousel-prev svg {
        margin-left: 0;
    }

    .modNewsticker .jcarousel-next svg {
        padding-left: 4px;
    }

    .modCUI {
        margin-right: 16px !important;
        overflow: auto !important;
    }

    .cui_hitlist_result_box_inner {
        width: auto !important;
    }
}

@media (min-width: 500px) and (max-width: 981px) {
    .modDownloadlistbox .skinContent span.titleAndDescription {
        margin-bottom: 24px;
    }
}

/* FancyBox Fullscreen */

/*@media (max-width: 768px) {*/
/*#fancybox-wrap {*/
/*width: 100% !important;*/
/*height: 100% !important;*/
/*height: 100vh !important;*/
/*padding: 0 !important;*/
/*}*/
/*}*/
