﻿@{
    ViewBag.Title = "Documents Management Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-ui.min.js"></script>
<head>
    <style>
        /*a.btnsml_action.e-view.round */
        .accessallowed {
            box-shadow: 0px 0px 1px 1px green !important;
        }
        /*.accessallowed {
            border-color: green;
            border-radius: 1px;
        }*/
    </style>
</head>

<link href="~/Content/dropzone/dropzone.css" rel="stylesheet" />

@*<link href="~/Content/theme-default.css" rel="stylesheet" />*@


<ul class="breadcrumb">
    <li class="active"><a href="/dashboard/index">Dashboard</a></li>
    <!-- <li><a href="#">Tables</a></li>-->
    <li><a href="/DocumentByType/DocumentList">Documents Management Type</a></li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2> Documents Management Type</h2>


</div>

@*@Html.Partial("_DocumentByTYpeList")*@

<div class="row">
    <div class="col-md-12">

         START DEFAULT DATATABLE 
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <a href='javascript:void(0)' name='DocumentTypeDisplay'>Contract</a><br />
                    <a href='javascript:void(0)' name='DocumentTypeDisplay'>Drawing</a><br />
                    <a href='javascript:void(0)' name='DocumentTypeDisplay'>Change Notes</a><br />

                    <div class="dataTables_filter">
                        <label>
                          
                            <input type="search" class="" placeholder="Search" id="DocumentDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>


                    <div class="cstm text-right" id="ffff">
                        <input type="hidden" value="@ViewBag.ProjectId" id="projecid" />
                        <input type="hidden" id="SelectDocumentType" value="@ViewBag.DocumentType" />


                        @if (User.RoleId == 1 || User.RoleId == 3)
                        {
                            <button class=" mybtn" data-toggle="modal" data-target="#AddDocument" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>
                        }

                    </div>
                    <table class="table usertbl example table-hover bdt" id="Documenttable">
                        <thead>
                            <tr>


                                <th><span class="sort-element">Name</span></th>
                                <th><span class="sort-element">Description</span></th>
                                <th><span class="sort-element">Expireddate</span></th>
                                <th><span class="sort-element">Company Name</span></th>
                                <th><span class="sort-element">Status</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model add user -->
<div class="modal fade modelform" id="AddDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">



        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="addDocumentName" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                    <div class="col-sm-9">

                        <select id="adddoctype" class="form-control docsrequired" tabindex="5"></select>
                    </div>
                </div>
                @*<div class="ui-widget">
                        <label for="tags1">Tags: </label>
                        <input id="tags1">
                    </div>
                    <div class="ui-widget">
                        <label for="tags2">Tags: </label>
                        <input id="tags2">
                    </div>
                    <div class="ui-widget">
                        <label for="tags3">Tags: </label>
                        <input id="tags3">
                    </div>*@

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea rows="4" cols="5" id="addDocumentDesc" maxlength="255" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control docsrequired" maxlength="64" id="addCompanyName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="addProjectName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Job Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="addJobName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                    <div class='input-group'>
                        <input type="checkbox" id="AddIsExpiryDate" />
                        @*<span class="input-group-addon"><span class="fa fa-calendar"></span></span>*@
                        <input type="text" class="form-control datepicker" id="dpExpDate">

                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">IsPublished</label>
                    <div class='input-group'>
                        <input type="checkbox" id="AddIsPublished" />
                        @*<input type="text" class="form-control" id="dppublishDate">*@

                    </div>
                </div>


                <div class="form-group row">
                    <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                        @*<input type="file" multiple id="attachDocument" class="form-control docsrequired">*@
                    </span>



                    <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                    <p class="text-right"> Max upload size will be 32 MB </p>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="mybtn" id="btnAddDocument">Submit</button>
            </div>
        </div>

    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="~/img/close.png" width="18" height="18" alt="" /></span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
            </div>
            <input type="hidden" id="editDocumentid" />
            
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                    <div class="col-sm-9">

                        <input type="text" class="form-control" maxlength="64" id="editDocumentName" required>


                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                    <div class="col-sm-9">

                        <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                    <div class="col-sm-9">

                        <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="editCompanyName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="editProjectName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 form-control-label">Job Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="64" id="editJobName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                    <div class='input-group'>
                        <input type="checkbox" id="editIsExpiryDate" />
                        <input type="text" class="form-control datepicker" id="editdpExpDate">

                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label">IsPublished</label>
                    <div class='input-group'>
                        <input type="checkbox" id="editIsPublished" />


                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 form-control-label resourcerequired">FileName</label>
                    <div class='input-group'>

                        <div id="editattchFilename">

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                        @*<input type="file" multiple id="attachDocument" class="form-control docsrequired">*@
                    </span>



                    <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="editdropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                    <p class="text-right"> Max upload size will be 32 MB </p>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="mybtn" id="btnUpdateDocument">Update</button>
                <button type="submit" class="mybtn" id="btnDeleteDocument">Delete</button>
            </div>
        </div>

    </div>
</div>
<!--model part -->
<!-- model permission -->


<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>
            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/ManageDocbyType.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/dropzone/dropzone.min.js"></script>


<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

    $(".dropzone").dropzone({
        //url: '/cart?upload-engraving=true',

        maxFiles: 1,
        maxFilesize: 32,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        }
    })

</script>






