﻿
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Calendar js and css start -->
<link href='~/css/fullcalendar/custom_style.css' rel='stylesheet' />

<link href="~/css/fullcalendar/jquery-ui.min.css" rel="stylesheet" />
<link href='~/css/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<link href='~/css/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />



<!-- Calendar js and css End -->

<style>
    #calendarid {
        max-width: 96%;
        margin: 0 auto;
    }

    .red-tooltip + .tooltip > .tooltip-inner {
        background-color: #f00;
    }

    .red-tooltip + .tooltip > .tooltip-arrow {
        border-bottom-color: #f00;
    }

    .set-textbox-width {
        width: 390px !important;
    }

    .modal-dialog {
        margin-top: 3%;
    }

    .calander-event {
        width: 15px;
        height: 15px;
        display: block;
        float: left;
        margin-top: 3px;
        margin-right: 6px;
    }

    .dropdown-menu:after {
        margin-left: 73px;
    }

    .btn .caret {
        margin-left: 50px;
    }

    .open > .dropdown-toggle.btn-default {
        background-color: #fff;
        border-color: #d5d5d5;
    }

    .btn .dropdown-toggle .selectpicker {
        width: 200px;
    }

    .option_color_pad .text {
        display: block !important;
        width: 350px;
    }

    .ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
        border: 1px solid rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0);
        color: #fff;
    }

    .btn-default.disabled{
        background-color:#eee;
    }

   /*body {
        overflow-x: initial !important;
    }*/
   
    .View-Edit{
        display:initial;
    }

    .infocls {
        padding: 8px 8px;line-height: 20px; border-bottom: 1px solid #E9E9E9;
    }

    .hide-show-btn {
        display: none;
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: hidden;
    }

     #milestoneNoteModal .modal-content {
        max-height: 575px;
        overflow-y: scroll;
    }
    #milestoneNoteModal .modal-content::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    #milestoneNoteModal .modal-content::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.4);
        border-radius: 10px;
    }
    
</style>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div id="LoadingImage" style="display: none; margin: 0px; background-color: #808080; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8; text-align: center; align-content: center; vertical-align: central;">
    <p style="position: absolute; color: White; top: 40%; left: 43%;">
        <img src="~/img/wait.gif" width="150px" height="150px" />
        <br />
        <b>Loading, please wait...</b>
    </p>
</div>

<input type="hidden" value="@User.UserId" id="hdnLoggedUserId" />
<input type="hidden" value="@ViewBag.AppAuditID" id="hdnAppAuditID" />
<input type="hidden" value="@ViewBag.SessionID" id="hdnSessionID" />
<input type="hidden" value="@ViewBag.CompanyID" id="hdnCompanyID" />
<input type="hidden" id="hdnstatustype" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h2>
                    &nbsp;
                    Calendar
                </h2>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id='calendarid'>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div id="eventContent" title="Event Details" style="display:none;">
    Start: <span id="startTime"></span><br>
    End: <span id="endTime"></span><br><br>
    <p id="eventInfo"></p>
    <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
</div>

<!-- User status change model-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="userStatusModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center"></p>
                <input type="hidden" id="hdnStatusValue" />
                <input type="hidden" id="hdnStatusForUserID" />
                <input type="hidden" id="hdnStatusForUserEmail" />
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnStatusYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnStatusNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="milestoneNoteModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="milestoneNoteTitle"></h4>
                <input type="hidden" id="hdnstatustype" />
                <input type="hidden" id="hdnProjectNo" />
                <input type="hidden" id="hdnJobNo" />
                <input type="hidden" id="hdnMilestoneName" />
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Milestone Name</label>
                <div class="col-md-9">
                    <span id="spanMilestoneName"></span>
                </div>
            </div>

            <div class="modal-body set-Extra-padding-left" id="job-site-question">
                <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                <div id="partialReadyToPull"></div>

            </div>

            <div class="modal-body set-Extra-padding-left">
                Requirements :
                <textarea rows="3" cols="70" class="form-control" id="addMilestoneNote"></textarea>
                <input type="hidden" id="hdnMilestoneNoteValue" />
            </div>
            <div class="modal-body" id="divPlannedDate">
                <label class="col-md-3 control-label">Planned Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" id="Editduedate">
                    </div>
                </div>
            </div>
            <div class="modal-body" id="divCompletedDate">
                <label class="col-md-3 control-label">Completed Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" id="Editcompleteddate">
                    </div>
                </div>
            </div>
            <div class="modal-body" id="divStatus">
                <label class="col-md-3 control-label">Status *</label>
                <div class="col-md-9">
                    <div id="divReadyToPull">
                        <select id="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                        <span class="input-group-btn">
                            <input type="button" class="button btn btn-default" value="Job-Site Ready" style="display: none" id="readyToPull">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="job-site-miletstone-btn">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>
            <div class="modal-footer" id="simple-miletstone-btn">
                <input type="button" id="btnMilestoneNoteYes" class="mybtn" value="Submit">
                <input data-dismiss="modal" type="button" id="btnMilestoneNoteNo" class="mybtn" value="Cancel">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="milestoneNoteSuccessModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center" id="milestoneNoteSuccessMessage">Record updated successfully.</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>
<!--
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="milestoneNoteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="milestoneNoteTitle"></h4>
                <input type="hidden" id="hdnProjectNo" />
                <input type="hidden" id="hdnJobNo" />
                <input type="hidden" id="hdnMilestoneName" />
            </div>

            <div class="modal-body">
                Note :
                <textarea rows="3" cols="70" class="form-control" id="addMilestoneNote"></textarea>
                <input type="hidden" id="hdnMilestoneNoteValue" />
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Reschedule To</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" id="Editduedate">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Current Status</label>
                <div class="col-md-9">
                    <div id="divReadyToPull">
                        <select id="editstatustype" class="form-control editmilerequired" tabindex="5"></select>
                        <span class="input-group-btn">
                            <input type="button" class="button btn btn-default" value="Job-Site Ready" style="display: none" id="readyToPull">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnMilestoneNoteYes" class="mybtn" value="Ok">
                <input data-dismiss="modal" type="button" id="btnMilestoneNoteNo" class="mybtn" value="Cancel">
            </div>
        </div>
    </div>
</div>

    -->

<!--Event Management-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="TodoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="TodoTitle">Add Event</h4>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Send To </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control set-textbox-width" placeholder="Email to share event" id="sendto">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Subject *</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control set-textbox-width RequiredField" id="subject" maxlength="300" placeholder="Subject">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Location </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control set-textbox-width" placeholder="Location" id="location">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Start Date *</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker RequiredField" id="startdate" placeholder="Start Date" maxlength="11">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">End Date:</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" placeholder="End Date" id="enddate" maxlength="11">
                    </div>
                </div>
            </div>
            <!--
                <div class="modal-body">
                    <label class="col-md-3 col-xs-12 control-label">Category:</label>
                    <div class="col-md-5 col-xs-5">
                        <div id="divReadyToPull">
                            <div class="dropdown">
                                <button class="mybtn btn btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="width:200px;">Select Category <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="calander-event" style="background-color: #ec4a4a;"></span>Category 1</a></li>
                                    <li><a href="#"><span class="calander-event" style="background-color: #ffdf36;"></span>Category 2</a></li>
                                    <li><a href="#"><span class="calander-event" style="background-color: #3a87ad;"></span>Category 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                -->

            <div class="modal-body">
                <label class="col-md-3 control-label">Category *</label>
                <div class="col-md-9">
                    <div id="divReadyToPull">
                        <select id="addcategorytype" class="form-control editmilerequired selectpicker" tabindex="5"></select>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Note </label>
                <div class="col-md-12">
                    <textarea rows="3" cols="70" class="form-control" id="AddMessageBody"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnAddEventYes" class="mybtn" value="Save">
                <input data-dismiss="modal" type="button" id="btnMilestoneNoteNo" class="mybtn" value="Cancel">
            </div>
        </div>
    </div>
</div>

<!--Event View/Update -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" id="EventDetail" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EventDetailTitle">Add Event</h4>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Send To </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="ViewSendTo" class="form-control set-textbox-width" data-placeholder="Email to share event" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Subject <span class="View-Edit">*</span></label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control set-textbox-width RequiredField" id="ViewSubject">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Location </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control set-textbox-width" id="ViewLocation">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Start Date <span class="View-Edit">*</span></label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker RequiredField" id="ViewStartDate">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">End Date </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker RequiredField" id="ViewEndDate">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <label class="col-md-3 control-label">Category <span class="View-Edit">*</span></label>
                <div class="col-md-9">
                    <div id="divReadyToPull">
                        <select id="ViewCategoryType" class="form-control editmilerequired selectpicker" tabindex="5"></select>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <label class="col-md-3 control-label"> Note </label>
                <div class="col-md-12">
                    <textarea rows="3" cols="70" class="form-control" id="ViewMessageBody"></textarea>
                </div>
            </div>
            @*<div class="modal-body">
                    Note :
                    <textarea rows="3" cols="70" class="form-control" id="ViewMessageBody"></textarea>
                </div>*@

            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="ViewEventYes" class="mybtn" value="Ok">
                <input type="button" id="ViewUpdateYes" class="mybtn" value="Update" />
                <input type="button" id="ViewDeleteYes" class="mybtn" value="Delete" />
                <input data-dismiss="modal" type="button" id="ViewCancel" class="mybtn" value="Cancel">
            </div>
        </div>
        <input type="hidden" id="hdnEventID" />

    </div>
</div>

<!-- Job-Site Ready Model -->
<div tabindex="-1" class="modal" id="modal_readypull" role="dialog" aria-hidden="true" aria-labelledby="largeModalHead" style="display: none;">

    <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:relative;top:50%;left:50%;padding:2px;background:no-repeat center;z-index:2000;">
        <img src='~/img/spinner.gif' width="64" height="64" />
        <br>Loading..
    </div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">

                <button class="close" type="button" data-dismiss="modal" id="btnReadyToPullTopClosed"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Job-Site Ready</h4>
            </div>
            <div class="modal-body">
                <form></form>
                <h5>Please be advised that, per our contract, prior to delivery of material to the job site the following conditions need to be met:</h5>
                <div id="partialReadyToPull"></div>

            </div>
            <div class="modal-footer">
                <button class="mybtn  updt" id="btnReadyToPullSave" type="submit">Submit</button>
                <button class="light mybtn" data-dismiss="modal" id="btnReadyToPullCancel">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- Event Update Model -->
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EventSuccessMessage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size: large; text-align: center" id="EventMessage"></p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="Ok" id="okbtn">
            </div>
        </div>
    </div>
</div>

<!-- Confirm Model -->
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size: large; text-align: center; color:red;" id="EventMessage">Are you sure, you want to remove this Event?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" class="mybtn" value="No">
                <input data-dismiss="modal" type="button" class="mybtn" id="DeleteEvent" value="Yes">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/fullcalendar.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/DashboardUserList.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/Custom/CustomCalendar.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/bootstrap-select.js"></script>

<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

</script>