﻿@{
    ViewBag.Title = "Announcement Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .accessallowed {
        border: solid 1px green !important;
    }

    .txtLeftalign {
        text-align: left;
    }

    .colHide {
        display: none;
    }

    .dataTables_processing {
        text-align: center;
    }

    @@media (min-width: 768px) {
        .modal-dialog {
            width: 865px;
            margin: 30px auto;
        }
    }
    body {
        overflow-x: initial !important;
    }
</style>

<ul class="breadcrumb">
    <li class="active"> <a href="/dashboard/index">  Dashboard </a></li>
    <!-- <li><a href="#">Tables</a></li>-->
    <li><a href="javascript:void(0)">Announcement</a></li>
</ul>
<!-- END BREADCRUMBS -->
<div class="page-title">
    <h2> Announcement Message</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">

                    <div class="dataTables_filter">
                        <label>
                            @*Search:*@
                            <input type="search" class="" placeholder="Search" id="AnnouncementtableSearch" name="AnnouncementtableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>

                    <div class="cstm text-right" id="ffff">

                        <button class="mybtn" data-toggle="modal" data-target="#AddAnnouncement" id="addannouncementTooltip"> Add New <i class="fa fa-plus"></i></button>
                    </div>
                    <table class="table usertbl example table-hover bdt" id="Announcementtable">
                        <thead>
                            <tr>
                                <th style="display:none"><span class="sort-element">AnnouncementId</span></th>
                                <th><span class="sort-element">Announcement Message</span></th>
                                <th><span class="sort-element">Frequency</span></th>
                                <th><span class="sort-element">Display On</span></th>
                                <th><span class="sort-element">Valid till date</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model add announcement -->
<div class="modal register fade modelform" id="AddAnnouncement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Announcement</h4>
                </div>
                <div class="modal-body">

                    @*<div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name *</label>
                            <div class="col-sm-9">
                                <select id="addmoduletype" class="form-control" tabindex="5"></select>
                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label">Title *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control helprequired" maxlength="64" id="addtitle">
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Announcement Message *</label>
                        <div class="col-sm-9">

                            <textarea id="addannouncementmsg" name="addannouncementmsg" class="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Frequency *</label>
                        <div class="col-sm-9">
                            <select name="addfrequency" id="addfrequency" class="form-control required" tabindex="5" onchange="changeaddfrequency()">
                                <option value="">--Select--</option>
                                <option value="OneTime">One Time</option>
                                <option value="MultipleTime">Every Time</option>
                                <option value="Broadcast">Broadcast</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="divDisplayOn">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Display On *</label>
                        <div class="col-sm-9">
                            <select name="adddisplayon" id="adddisplayon" class="form-control required" tabindex="5">
                                <option value="">--Select--</option>
                                <option value="BeforeLogin">Before Login</option>
                                <option value="AfterLogin">After Login</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="divValidTillDate">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Valid till date *</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control datepicker required" name="Adduptodate" id="Adduptodate">
                            </div>
                            </div>
                    </div>


                    @*<div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control datepicker" value="10-12-2016" id="editProjectAwardDate" disabled="disabled">
                    </div>*@




                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mybtn" id="btnAddAnnouncement">Submit</button>
                    <button type="button" class="light mybtn" id="btnaddcancleAnnouncement" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--model add announcement end -->
<!--model part edit detail -->
<div class="modal register fade modelform" id="editAnnouncement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Announcement</h4>
                </div>
                <input type="hidden" id="AnnouncementId" />

                <div class="modal-body">

                    @*<div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 form-control-label">Module Name *</label>
                            <div class="col-sm-9">
                                <select id="editmoduletype" class="form-control" tabindex="5" disabled="disabled"></select>
                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label">Title *</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control edithelprequired" maxlength="64" id="edittitle">
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Announcement Message *</label>
                        <div class="col-sm-9">

                            <textarea id="editannouncementmsg" name="editannouncementmsg" class="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Display On *</label>
                        <div class="col-sm-9">
                            <select id="editdisplayon" name="editdisplayon" class="form-control required" tabindex="5">
                                <option value="">--Select--</option>
                                <option value="BeforeLogin">Before Login</option>
                                <option value="AfterLogin">After Login</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Frequency *</label>
                        <div class="col-sm-9">
                            <select id="editfrequency" name="editfrequency" class="form-control required" tabindex="5">
                                <option value="">--Select--</option>
                                <option value="OneTime">One Time</option>
                                <option value="MultipleTime">Every Time</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Valid till date *</label>
                        <div class="col-sm-9">

                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <input type="text" class="form-control datepicker required" name="edituptodate" id="edituptodate">
                            </div>

                            
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mybtn updt" id="btnUpdateAnnouncement">Update</button>
                    <button type="button" class="delete mybtn" id="btndeleteAnnouncement">Delete</button>
                    <button type="button" class="light mybtn" id="btncancleAnnouncement" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal register fade modelform" id="editBroadcast" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Broadcast</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row" id="divannouncementmsg">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Broadcast Message </label>
                        <div class="col-sm-9">

                            <textarea id="viewBroadcast" name="viewBroadcast" style="width:100%;height: 165px;" class="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Frequency </label>
                        <div class="col-sm-9">
                            <select id="Broadcastfrequency" name="Broadcastfrequency" class="form-control required" tabindex="5" disabled="disabled">
                                <option value="">--Select--</option>
                                <option value="OneTime">One Time</option>
                                <option value="MultipleTime">Every Time</option>
                                <option value="Broadcast">Broadcast</option>
                            </select>
                        </div>
                    </div>
                   

                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="delete mybtn" id="btndeleteBroadcast" onclick="DeleteBroadCastMessage()">Delete</button>
                    <button type="button" class="light mybtn" id="btncancleAnnouncement" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>
<!--model part -->

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessAnnouncement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" name="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>x

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="announcementDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <input type="hidden" id="broadcastId" />
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this Announcement data?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditAnnouncement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="editdocumentok" name="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDeleteAnnouncement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p style="color: green; font-size: large; text-align: center">Record deleted successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="deletedocumentok" name="deletedocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="announcementSubmitConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to broadcast this message?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnBroadcastYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnBroadcastNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="broadcastDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form></form>
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this broadcast message?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnbroadcastDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnbroadcastDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>      @*using cdn*@
<script src="~/js/Custom/Announcement.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>