.navbar-nav li a:hover { color: #155288; background: #fff; }
.navbar-nav li a:active { color: #155288; background: #fff; }
.navbar-nav li a:focus { color: #155288; background: #fff; }

.nav li a:hover {background:#fff !important; color:#337ab7 !important;}
.nav li a:active {background:#fff !important; color:#337ab7 !important;}
.nav li a:focus  {background:#fff !important; color:#337ab7 !important;}
.option_color_pad {width: 10px;background-size: 0 10px !important;background-repeat: no-repeat !important;display: block;color:black;height: 30px !important;}
.option_color_pad:hover { color:#337ab7 !important; }
.option_color_pad:active { color:#337ab7 !important; }
.option_color_pad:focus { color:#337ab7 !important; }
.option_color_pad span { padding: 0 0 0 30px; }
/*.dropdown-menu{background-color: #155288 !important;}*/
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus { color:#ccc; } 

.navbar {border:none;}
.navbar-default, .navbar-collapse, .navbar-form {background: #155288;position: relative;z-index: 1;}
.btn-default:active:focus , .open>.dropdown-toggle.btn-default:hover
{border-color:#d5d5d5; background-color:#fff;}
.bootstrap-select.btn-group .btn .filter-option {font-family:'Open Sans', sans-serif;}


