﻿@{
    ViewBag.Title = "Documents Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-ui.min.js"></script>
<head>
    <style>
        /*a.btnsml_action.e-view.round */
        .accessallowed {
            box-shadow: 0px 0px 1px 1px green !important;
        }
        /*.accessallowed {
            border-color: green;
            border-radius: 1px;
        }*/
    </style>
</head>

@*<link href="~/Content/dropzone/dropzone.css" rel="stylesheet" />*@

<ul class="breadcrumb">
    <li class="active"><a href="/dashboard/index">Dashboard</a></li>

    <li><a href="/managedocument/list">Documents Management</a></li>
</ul>
<div class="page-title">
    <h2> Documents Management</h2>
</div>


<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">


                    <div class="dataTables_filter">
                        <label>
                          
                            <input type="search" class="" placeholder="Search" id="DocumentDatatableSearch" aria-controls="DataTables_Table_0">
                        </label>
                    </div>


                    <div class="cstm text-right" id="ffff">
                        <input type="hidden" value="@ViewBag.ProjectID" id="projecid" />
                        @if (User.RoleId == 1 || User.RoleId == 3)
                        {
                            <button class=" mybtn" data-toggle="modal" data-target="#AddDocument" id="AddDocumentClose"> Add New <i class="fa fa-plus"></i></button>
                        }

                    </div>
                    <table class="table usertbl example table-hover bdt" id="Documenttable">
                        <thead>
                            <tr>


                                <th><span class="sort-element">Name</span></th>
                                <th><span class="sort-element">Description</span></th>
                                <th><span class="sort-element">Expireddate</span></th>
                                <th><span class="sort-element">Company Name</span></th>
                                <th><span class="sort-element">Published</span></th>
                                <th><span class="sort-element">Action</span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--model add user -->
<div class="modal fade modelform" id="AddDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">



        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-7 col-xs-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addDocumentName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                        <div class="col-sm-9">

                            <select id="adddoctype" class="form-control docsrequired" tabindex="5"></select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea rows="4" cols="5" id="addDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Company Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control docsrequired" maxlength="64" id="addCompanyName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addProjectName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Bank Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="addJobName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                        <div class='input-group'>
                            <input type="checkbox" id="AddIsExpiryDate" />
                            @*<span class="input-group-addon"><span class="fa fa-calendar"></span></span>*@
                            <input type="text" class="form-control datepicker" id="dpExpDate">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published</label>
                        <div class='input-group'>
                            <input type="checkbox" id="AddIsPublished" />
                            @*<input type="text" class="form-control" id="dppublishDate">*@

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                            @*<input type="file" multiple id="attachDocument" class="form-control docsrequired">*@
                        </span>

                        <br/><br />
                        <p class="text-left"> <em>These file types are only allowed:- jpeg,jpg,png,gif,txt,pdf,doc,docx,ppt,pptx,pps,ppsx,odt,xls,<br/>xlsx,bim,rfa,cad,acd </em></p>
                        
                        <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="dropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <p class="text-right"> <em> Max upload size will be 32 MB </em></p>
                    </div>
                </div>
                    <div class="clearfix"> </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="mybtn" id="btnAddDocument">Submit</button>
            </div>
        </div>

    </div>
</div>
<!--model end -->
<!--model part edit detail -->
<div class="modal fade modelform" id="editDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
            </div>
            <input type="hidden" id="editDocumentid" />
            <input type="hidden" id="SelectDocumentType" value="@ViewBag.DocumentType" />
            <div class="modal-body">
                <div class="col-md-7 col-xs-12">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Document Name*</label>
                        <div class="col-sm-9">

                            <input type="text" class="form-control" maxlength="64" id="editDocumentName" required>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Document Type*</label>
                        <div class="col-sm-9">

                            <select id="editdoctype" class="form-control editdocsrequired" tabindex="5"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Description</label>
                        <div class="col-sm-9">

                            <textarea rows="4" cols="5" id="editDocumentDesc" maxlength="255" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Company Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="editCompanyName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Project Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="editProjectName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 form-control-label">Bank Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="64" id="editJobName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Expire Date</label>
                        <div class='input-group'>
                            <input type="checkbox" id="editIsExpiryDate" />
                            <input type="text" class="form-control datepicker" id="editdpExpDate">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Published</label>
                        <div class='input-group'>
                            <input type="checkbox" id="editIsPublished" />


                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label resourcerequired">FileName</label>
                        <div class='input-group'>

                            <div id="editattchFilename">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                   

                    <div class="form-group row">
                        <span class=" col-sm-3 form-control-label">Document*</span> <span class="file-input  btn-file  col-sm-9 form-control-label">
                            @*<input type="file" multiple id="attachDocument" class="form-control docsrequired">*@
                        </span>

                        
                        <br /><br />
                        <p class="text-left"> <em>These file types are only allowed:- jpeg,jpg,png,gif,txt,pdf,doc,docx,ppt,pptx,pps,ppsx,odt,xls,<br />xlsx,bim,rfa,cad,acd </em></p>

                        <form action="~/ManageDocument/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone dropzone-mini dz-clickable" id="editdropzoneForm">
                            <div class="fallback">
                                <input name="file" type="file" />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                        <p class="text-right"><em> Max upload size will be 32 MB </em></p>
                    </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="light mybtn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="mybtn" id="btnUpdateDocument">Update</button>
                <button type="submit" class="mybtn" id="btnDeleteDocument">Delete</button>
            </div>
        </div>

    </div>
</div>
<!--model part -->
<!-- model permission -->
<div class="modal fade register" id="ViewDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/img/close.png" width="18" height="18" alt=""></span></button>
                    <h4 class="modal-title" id="myModalLabel">View Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-5 col-sm-5">
                        <div class="card dd hovercard diff">
                            <div class="cardheader"> </div>
                            @*<div class="avatar">
                                    <img alt="" src="" id="userimage">

                                    <div class="kv-avatar center-block">
                                        <input id="avatar" name="avatar" type="file" class="file-loading btn btn-primary btn-file">
                                    </div>


                                </div>*@



                            <div class="info">
                                <div class="title">
                                    <div><span>Name</span></div>
                                    <div><span id="DocumentName"></span></div>
                                </div>
                                <div>Description</div>
                                <div class="desc"><span id="docdescription"></span></div>

                            </div>
                            @*<div class="bottom"><a class="btnsml_action e-edit" href="#" data-toggle="modal" data-target="#editDocument" id="editDocumentclick"> </a> </div>*@
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-7">

                        <div class="card hovercard text-center oflow sep">

                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table width="100%" border="0" class="table  table-hover tbldesign dataTable no-footer" id="dt_UserDocumentPermission">
                                            <thead>
                                                <tr role="row">
                                                    <th>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" value="" id="chkAllUserPermission">
                                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th><span class="sort-element"> User Name  </span></th>
                                                    @*<th class="sorting" style="width: 400px;"><span class="sort-element"> User Name </span></th>*@
                                                    @*<th class="sorting" style="width: 400px;"><span class="sort-element">Access Rights</span></th>*@
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mybtn delete " id="btnAllDeletePermission" data-dismiss="modal">Delete</button>

                </div>
            </div>
        </form>

    </div>
</div>

<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record saved successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="documentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="documentDeleteConfirmModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="statusText" style="color: red; font-size: large; text-align: center">Are you sure you want to remove this document?</p>
            </div>
            <div class="modal-footer">
                <input data-dismiss="modal" type="button" id="btnDeleteYes" class="mybtn" value="Yes">
                <input data-dismiss="modal" type="button" id="btnDeleteNo" class="mybtn" value="No">
            </div>
        </div>
    </div>
</div>
<div data-keyboard="false" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="SuccessEditDocument" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color: green; font-size: large; text-align: center">Record updated successfully!</p>

            </div>
            <div class="modal-footer">
                <input id="editdocumentok" data-dismiss="modal" type="button" class="mybtn" value="Ok">
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/Custom/ManageDocument.js?v=@SchindlerCustomerPortal.Common.StaticUtilities.getVersion()"></script>
<script src="~/js/dropzone/dropzone.min.js"></script>


<script type="text/javascript">

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });

    $(".dropzone").dropzone({
        //url: '/cart?upload-engraving=true',

        maxFiles: 1,
        acceptedFiles: ".jpeg,.jpg,.jpe,.png,.gif,.txt,.pdf,.doc,.docx,.ppt,.pptx,.pps,.ppsx,.odt,.xls,.xlsx,.bim,.rfa,.cad,.acd",
        maxFilesize: 32,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        }
    })

</script>


