@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?43576284');
  src: url('../fonts/fontello.eot?43576284#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?43576284') format('woff2'),
       url('../fonts/fontello.woff?43576284') format('woff'),
       url('../fonts/fontello.ttf?43576284') format('truetype'),
       url('../fonts/fontello.svg?43576284#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43576284#fontello') format('svg');
  }
}
*/
 @font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?55529647');
      src: url('./fonts/fontello.eot?55529647#iefix') format('embedded-opentype'),
           url('./fonts/fontello.woff?55529647') format('woff'),
           url('./fonts/fontello.ttf?55529647') format('truetype'),
           url('./fonts/fontello.svg?55529647#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
 [class^="icon-"]:before, [class*=" icon-"]:before {
 /* font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
   
 
  
  font-variant: normal;
  text-transform: none;
 
  
  line-height: 1em;
 
  
  margin-left: .2em;
 
   
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-users:before { content: '\f064';     font-family: "fontello";} /* '' */